
@{
    ViewBag.Title = "Corporatelaw_Compliance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url('../Content/images/partnership_2.jpg');
        position: auto;
        background-repeat: no-repeat;
        width: 100%;
    }
</style>

<div class="container-fluid">
    <div class="row mt-5">
        <div class="offset-7 col-5 mt-5 mb-3">
            <form>
                <div class="card">
                    <div class="card-header bg-info">
                        <div class="text-center" style="font-size:25px; color:aliceblue;">REQUEST A CALL BACK</div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name"><b></b></label>
                            <input type="text" class="form-control" id="name" placeholder="Your Name" required>
                            @*<span id="message"></span><br>*@
                        </div>
                        <div class="form-group">
                            <label for="email"><B></B></label>
                            <input type="email" class="form-control" id="email" placeholder="Email Address" required>
                        </div>
                        <div class="form-group">
                            <label for="num"><B></B></label>
                            <div class="input-group">
                                <span class="input-group-addon bg-light p-1">+91 </span>
                                <input type="tel" class="form-control" id="num" placeholder="Please Enter Number.." required>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg float-right">Get Start</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@*<section >*@
<div class="jumbotron">
    <div class="bg-light card">
        <h3 class="card-header bg-info  text-white  text-center">
            CORPORATE COMPLIANCE MANAGEMENT
        </h3>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-justify" style="font-size:20px;">
                        WMC assist in developing overall compliance management system in orgnisation with help of its team of
                        professionals. An organization requires to comply with numerous laws in regular and routine interval. To
                        have effective compliance management system and monitor compliance is quite tough job. WMC helps in
                        developing compliance tools and save to intricate in litigation.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="bg-light card">
        <div class="card-header bg-info  text-white">
            <h2 class="text-center">Company Law Services:</h2>
        </div>
        <p class="text-justify" style="font-size:20px;">
            	Developing system of Company law compliance and monitoring system of compliance
            	Maintenance of secretarial records, statutory books and registers
            	Acting as protector for stakeholders
            	Advising Securities law and developing system of Compliance and Corporate Governance, SEBI Regulations
            	Formulating scheme of ESOP
            	Capital raising compliances, documentation and valuation
            	Support services in Listing/ delisting
            	Seeking various approval
            	Legal due-diligence
        </p>
    </div>    
</div>
