
@{
    ViewBag.Title = "FEMARBI_SERVICES";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url('../Content/images/partnership_2.jpg');
        position: auto;
        background-repeat: no-repeat;
        width: 100%;
    }
</style>

<div class="row mt-5">
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h3 class="text-center bg-info text-white p-3">
                    FEMA RBI SERVICES : Foreign Exchange Management Services
                </h3>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <img src="~/Content/images/AlterationofAOA.jpg" class="img-fluid" style="max-height:320px;min-height:300px;" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 bg-light p-3 shadow">
                        <div class="text-justify" style="font-size:18px;">
                            <ol>
                                <li>Entry in India: Advisory and support services</li>
                                <li>Establishment of WOS, Liaison Office, Branch Office, Project Office.</li>
                                <li>Advising on legal and procedural matters falling under FEMA.</li>
                                <li>Advising Non-Resident Indians regarding investment in India and repatriation of such investments and returns thereon</li>
                                <li>Obtaining RBI/FIPB approvals</li>
                                <li>Forex Planning</li>
                                <li>Direct Investment outside India</li>
                                <li>FDI / ODI advisory and compliances</li>
                                <li>NBFC registration & compliance</li>
                                <li>Registration of Micro Finance Companies</li>
                            </ol>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="jumbotron w-100">
    
    <div class="bg-light card">
        <div class="card-header bg-info  text-white">
            <h2 class="text-center">Export Import & Forex Planning:</h2>
        </div>
        <p class="text-justify" style="font-size:20px;">
            1.	Advising on Export-Import policy and regulations<br />
            2.	Export-Import documentation<br />
            3.	Advising on Letters of Credit, and drafting suitable conditions in L/Cs.<br />
            4.	Advising and assisting in receipt and remittance of funds in foreign currency<br />

        </p>
    </div>
</div>
