
@{
    ViewBag.Title = "MERGERS_ACQUISITIONS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url('../Content/images/partnership_2.jpg');
        position: auto;
        background-repeat: no-repeat;
        width: 100%;
    }
</style>


<div class="row mt-5">
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h3 class="text-center bg-info text-white p-3">
                    MERGERS ACQUISITIONS /CORPORATE COMPLIANCE MANAGEMENT
                </h3>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <img src="~/Content/images/AlterationofAOA.jpg" class="img-fluid" style="max-height:320px;min-height:300px;" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 bg-light p-3 shadow">
                        <div class="text-justify" style="font-size:18px;">
                            WMC assist in developing overall compliance management system in orgnisation with help of its team of
                            professionals. An organization requires to comply with numerous laws in regular and routine interval. To
                            have effective compliance management system and monitor compliance is quite tough job. WMC helps in
                            developing compliance tools and save to intricate in litigation.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="jumbotron w-100">
    <div class="bg-light card">
        <div class="card-header bg-info  text-white">
            <h2 class="text-center">Company Law Services:</h2>
        </div>
        <p class="text-justify" style="font-size:20px;">
            1	Developing system of Company law compliance and monitoring system of compliance<br />
            2	Maintenance of secretarial records, statutory books and registers<br />
            3	Acting as protector for stakeholders<br />
            4	Advising Securities law and developing system of Compliance and Corporate Governance, SEBI Regulations<br />
            5	Formulating scheme of ESOP<br />
            6	Capital raising compliances, documentation and valuation<br />
            7	Support services in Listing/ delisting<br />
            8	Seeking various approval<br />
            9	Legal due-diligence<br />
        </p>
    </div>
</div>
