
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                    TRADEMARK REGISTRATION
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="~/Content/images/trademark.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="text-justify" style="font-size:18px;">
                                A trademark is a visual symbol, which may be a word, name, device, label or numerals used by a business to distinguish it goods or services from other similar goods or services originating from a different business. A registered trademark is an intellectual property for a business and is used to protect  the company's investment in the brand or symbol. A trademark is registrable if it is distinctive for the goods and services you provide. Proposed trademarks that are similar or identical to an existing registered trademark cannot be registered. Also, trademarks are not registrable if it is offensive, generic, deceptive, not distinctive, contains specially protected emblems, etc
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="text-justify" style="font-size:18px;">
                                    Trademarks in India are registered by the Controller General of Patents Designs and Trademarks, Ministry of Commerce and Industry, Government of India. Trademarks are registered under the Trademark Act, 1999 and provide the trademark owner with a right to sue for damages when infringements of trademarks occur. Once a trademark is registered, R symbol can be used and the registration will be valid for 10 years. Registered trademarks nearing expiry can be easily renewed by filing a trademark renewal application for a period of another 10 years
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="bg-light card w-100">
        <div class="card-header bg-primary text-white ">
            <h2 class="text-left" style="font-size:21px;">Document List (Required for Registration)</h2>
        </div>
        <div class="card-body">
            <div class="text-black-50" style="font-size:20px;">
                <ol start="1" style="font-size:18px;">
                    <li>Aadhaar Card</li>
                    <li> Pan Card</li>
                    <li>Brand Name or Logo or Both</li>
                    <li>Business activity ( List of Products and Services)</li>
                    <li>Authorisation Letter</li>
                </ol>
            </div>
            
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row bg-secondary text-white p-3 rounded" style="font-size:18px;">
        <p class="text-justify">WMC is the best consultancy services platform in India, offering a various kind of services like to start and manage business. We have best team of young group of Chartered Accountants and Company Secretaries, Advocates who are dedicated to provide services by their domain expertise in the field of setting up business, developing system of compliance, advisory on restructuring, collaboration, taxation etc </p>
        <p class="text-justify">WMC can help you Registration of trademark. The average time taken to draft and file a trademark application is about 2 -5 working days, subject to government processing time and client document submission. Get a free consultation on filing a trademark rectification by scheduling an appointment with a WMC Advisor</p>
    </div>
</div>

