
@{
    ViewBag.Title = "TrademarkRenewal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid mt-4">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <div class="jumbotron-fluid bg-light card">
                    <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                        Trademark Renewal

                    </h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <img src="~/Content/images/TMrenewal.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="text-justify" style="font-size:18px;">
                                    Once the trademark is registered, it is valid for a period of 10 years from the date of application. The registration can be renewed indefinitely as long as the renewal fees are paid every 10 years.
                                    <p> WMC is the best consultancy services platform in India, offering a various kind of services like to start and manage business. We have best team of young group of Chartered Accountants and Company Secretaries, Advocates who are dedicated to provide services by their domain expertise in the field of setting up business, developing system of compliance, advisory on restructuring, collaboration, taxation etc.</p> 



                                </div>
                                
                               
                            </div>
                            <div class="row">
                                <div class="text-justify" style="font-size:18px;">

                                    WMC can help you Renewal of existing trademark application. The average time taken to draft and file a trademark renewal is about 5 - 15 working days, subject to government processing time and client document submission. Get a free consultation on filing a trademark rectification by scheduling an appointment with a WMC Advisor

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
        </div>
    </div>
