
@{
    ViewBag.Title = "TrademarkObjection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                    Trademark Objection
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="~/Content/images/trademark objection.png" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="text-justify" style="font-size:18px;">
                                A trademark is a symbol, design, word, or phrase that identifies one business’ goods or services from those of another. A company may come up with a design that is unique, to stand as a symbol of the company, or a product. Trademark is a kind of intellectual property.
                                To register a trademark, a trademark application must be filed by the applicant with the relevant Trade Mark Registrar in the prescribed format. Once a trademark application is filed, the Trade Marks Registrar shall process the application. If any concerns are noted on the trademark application, the .
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="text-justify" style="font-size:18px;">
                                    Examiner would mark the application as Formalities Check Pass or Fail and if the Examiner marks the application as Formalities Fail and request for rectification of the trademark application Then we need to submit the reply as requested by Examiner. If there are no concerns, the Trademark Examiner could also allow for the trademark application to be advertised before registration or raise an objection for registration.
                                    If the Trademark Examiner finds the rectification sufficient and addresses all the concerns raised by him/her, application is allowed to be processed and marked for examination by a Trademark Examiner for preparing Trademark Examination Report

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="bg-light card w-100">
        <div class="card-header bg-primary text-white ">
            <h2 class="text-left" style="font-size:21px;">Status of Trade Mark:-</h2>
        </div>
        <div class="card-body">
            <div class="text-black-50" style="font-size:18px;">
                <ol start="1">
                    <li>Application received </li>
                    <li>Formalities Check Pass or fail</li>
                    <li>Marked for exam</li>
                    <li>Advertised before accepted</li>
                    <li>Opposed</li>
                    <li>Objected</li>
                    <li>Ready for Show cause Hearing</li>
                    <li>Abandoned</li>
                    <li>Registered</li>
                    <li>Refused</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
    <div class="row bg-secondary text-white p-3 rounded" style="font-size:18px;">
        <p class="text-justify">WMC is the best consultancy services platform in India, offering a various kind of services like to start a business and manage business such as Incorporation of Company, LLP, Registration of Partnership Firm etc. and trademark filing, tax registration, tax filing and GST registration and their filing.  </p>
        <p class="text-justify">WMC can help you rectify an existing trademark application. The average time taken to draft and file a trademark rectification is about 4 - 5 working days, subject to government processing time and client document submission. Get a free consultation on filing a trademark rectification by scheduling an appointment with a WMC Advisor</p>
    </div>
</div>
