@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="card">
    <div class="card-header">
        Wisdom Management Consultancy : About Us
    </div>
    <div class="card-body">
        <p>
            Wisdom Management Consultancy Pvt. Ltd.(WMC) is a Private Limited Company established in 2011 in Delhi for providing management consultancy and processing services.
        </p>
        <p>
            The word Corporate Governance is highlighted in the corporate world as mere compliance of all the laws framed are not enough to build a strong base in the present market which is a customer oriented. The more efficiently an organisation fulfills what consumer demands the more it will be able to make wise stand in the market with good reputation. Such efficiency and competency come when one give a professional direction to his/her business. Ethical Governance is a way of governing which infuses high standards of moral values and behavior in every act of process. An organisation performing ethically will maintain more transparency as compare to the one that follow mere laws framed under various Act. An organisation to become such efficient will have an utmost need of professional advises and services.
        </p>
        <p>
            Our company, Wisdom Management Consultancy is incorporated with an objective to provide the best Management Advises and Services to the organisation so that they will be able to comply with the laws and regulations that comes under their preview in true letter and spirit and beyond that to maintain Corporate Governance.
        </p>
        <p>The legal laws such as Company law, SEBI FEMA, FERA are frequently amended by their respective authorities as per the requirement of the market for stabilisation of economy and various other reasons. Our teams have highly experienced young Company Secretaries and the Chartered Accountants who keep themselves updated with the upcoming changes and are experts in providing correct advises to our clients which are beneficial both in short term and long term.</p>

        <p>GST is an emerging topic in our Nation today. Our Chartered Accountants are well versed with the provisions of the GST and have good knowledge regarding the registration of various forms and returns under GST etc. Wisdom Management Consultancy is a private limited company established in the year 2011 in Delhi with an honest objective to provide Management Consultancy and Processing Service to its clients. The company has its Registered office at Delhi.</p>
    </div>
    <div class="card-footer">
        Wisdom Management Consultancy Pvt. Ltd.(WMC) is a Private Limited Company Established in 2011 in Delhi
    </div>
</div>
<div class="card">
    <div class="card-header">
        Wisdom Management Consultancy : About Us
    </div>
    <div class="card-body">
        <p>
            Wisdom Management Consultancy Pvt. Ltd.(WMC) is a Private Limited Company established in 2011 in Delhi for providing management consultancy and processing services.
        </p>
        <p>
            The word Corporate Governance is highlighted in the corporate world as mere compliance of all the laws framed are not enough to build a strong base in the present market which is a customer oriented. The more efficiently an organisation fulfills what consumer demands the more it will be able to make wise stand in the market with good reputation. Such efficiency and competency come when one give a professional direction to his/her business. Ethical Governance is a way of governing which infuses high standards of moral values and behavior in every act of process. An organisation performing ethically will maintain more transparency as compare to the one that follow mere laws framed under various Act. An organisation to become such efficient will have an utmost need of professional advises and services.
        </p>
        <p>
            Our company, Wisdom Management Consultancy is incorporated with an objective to provide the best Management Advises and Services to the organisation so that they will be able to comply with the laws and regulations that comes under their preview in true letter and spirit and beyond that to maintain Corporate Governance.
        </p>
    </div>
    <div class="card-footer">

    </div>
</div>