@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="Row p-5 m-5">
    @*<section id="sec1">*@
    <div class="card-header bg-info">
        <div class="h2 text-center text-white">Wisdom Management Consultancy : Contact</div><br>
    </div>

    <div class="row m-2 p-2">
        <h2>OUR TEAM Associates</h2>
        <hr />
        @*<div class="col-4">
            <div class="card text-white text-center shadow">
                <p class="card-header bg-info">
                    MANOJ KUMAR PANDEY (FCS)
                </p><br>
                <div class="text-center">
                    <img src="~/Content/images/Manoj_Kr_Pandey.jpg" style="height:200px;width:200px;" class=" text-center img-thumbnail rounded-circle" /><br />
                    <p class="text-black-50">Mr. Manoj Kumar Pandey is co-founder of the Company and Fellow Member of the Institute of Company Secretaries of India. He has over 8 years of experience in Company Law & Secretarial Matters, ROC Compliances, FEMA and RBI Matters etc.</p>
                    <p class="card-footer bg-dark">
                        FCS : Wisdom Management Consultancy
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow text-white text-center ">
                <p class="card-header bg-info">
                    RAKESH KUMAR SINGH (ACA)
                </p><br>
                <div class="text-center">
                    <img src="~/Content/images/Rakesh.jpg" style="height:200px;width:200px;" class="img-thumbnail rounded-circle" /><br />
                    <p class="text-black-50">
                        Mr Rakesh Kumar Singh is an associate member of the Institute of Chartered Accountants of India. He has approximately 4 years of experience and good exposure in Auditing, Taxation. He handles Taxation & Auditing and assignments and also exposure in Foreign Taxation, Transfer Pricing.

                    </p>
                </div>
                <p class="card-footer bg-dark">
                    ACA : Wisdom Management Consultancy
                </p>
            </div>
        </div>*@

        <div class="col-4">
            <div class="card shadow text-white text-center ">
                <p class="card-header bg-info">
                    CS YOGENDRA YADAV (ACS)
                </p><br>
                <div class="text-center">
                    <img src="~/Content/images/Yogendra.jpg" style="height:200px;width:200px;" class="img-thumbnail rounded-circle" /><br />
                    <p class="text-black-50">
                        Mr. Yogendra Yadav is an associate member of Institute of Company Secretaries of India. He is graduate in Commerce & Law. He is also Master in Commerce. He has approximately 2 years of experience in Secretarial and corporate law matters, drafting of commercial agreements and representative services.
                    </p>
                </div>
                <p class="card-footer bg-dark">
                    ACS : Wisdom Management Consultancy
                </p>
            </div>
        </div>
        @*<div class="col-4">
            <div class="card shadow text-white text-center ">
                <p class="card-header bg-info">
                    SAURABH AWASTHI (ACS)

                </p><br>
                <div class="text-center">
                    <img src="~/Content/images/Saurabh_Awasthi.jpg" style="height:200px;width:200px;" class="img-thumbnail rounded-circle" /><br />
                    <p class="text-black-50">
                        Mr. Saurabh Awasthi is Fellow Member of the Institute of Company Secretaries of India. He has over 7 years of experience in Company Law & Secretarial Matters, ROC Compliances, FEMA, RBI Matters, Representative services (NCLT, DGFT, Tax Authorities) etc
                    </p>
                </div>
                <p class="card-footer bg-dark">
                    ACS : Wisdom Management Consultancy
                </p>
            </div>
        </div>*@
        @*<div class="col-4">
            <div class="card shadow text-white text-center ">
                <p class="card-header bg-info">
                    VIKAS RAWAT (FCA)
                </p><br>
                <div class="text-center">
                    <img src="~/Content/images/Rakesh.jpg" style="height:200px;width:200px;" class="img-thumbnail rounded-circle" /><br />
                    <p class="text-black-50">
                        Mr. Vikas Rawat is a Fellow Member of the Institute of Chartered Accountants of India. He has approximately 18 years’ experience in varied areas like Management Reporting, Financial Controllership, Operations Management, Quality Compliance, Client Servicing and Team Management.

                        Proficient in managing & leading teams for running successfully finance function, process operations & experienced in developing procedures, service standards for business excellence and external/internal Audit

                    </p>
                </div>
                <p class="card-footer bg-dark">
                    ACA : Wisdom Management Consultancy
                </p>
            </div>
        </div>*@

    </div>
    <div class="row">
        <div class="col-7">
            <div class="card shadow mb-5">
                <div class="card-header bg-info h4">CORPORATE OFFICE : Wisdom Management Consultancy</div>
                <div class="card-text">
                    @*<i class="fa fa-address-card-o"></i>*@
                    <address class="p-2">

                        Deepshikha building<br />
                        412A, Rajendra Place,<br />110008

                    </address>
                </div>
                @*<div class="card-footer"> इस महा अभियान से जुड़ने के लिए इस नंबर पर मिस्ड कॉल करे - 9015545044</div>*@
            </div>
            <div class="card shadow">
                <div class="card-header bg-info h4">REGISTERED OFFICE : Wisdom Management Consultancy</div>
                <div class="card-text">
                    @*<i class="fa fa-address-card-o"></i>*@
                    <address class="p-2">
                       
                        Office No-36, S-513,<br />
                        Shakarpur, Delhi-110092<br />
                        <b>Phone :</b>- 011-42785910<br />

                        <b>Email ID :</b>-

                        wmckpo@gmail.com<br />

                        csmanojpandey@gmail.com<br />


                    </address>
                </div>
                @*<div class="card-footer"> इस महा अभियान से जुड़ने के लिए इस नंबर पर मिस्ड कॉल करे - 9015545044</div>*@
            </div>

        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-header bg-dark">
                    <div class="text-center" style="font-size:25px; color:rgb(243, 240, 240);">Wisdom Management Consultancy</div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-lg-12 col-sm-6 col-xs-12">
                            <form action="" method="post" accept-charset="utf-8">
                                <input type="hidden" name="varient_csrf_token" value="4d4e3ef01a438efb9085878d61917a87">
                                <div class="form-group">
                                    <input type="text" class="form-control form-input" name="name" placeholder="Name" maxlength="199" minlength="1" pattern=".*\S+.*" value="" required="">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-input" name="email" maxlength="199" placeholder="Email Address" value="" required="">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control form-input form-textarea" name="message" placeholder="Message" maxlength="4970" minlength="5" required=""></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-dark btn-custom pull-right">
                                        Submit
                                    </button>
                                </div>
                            </form><!-- form end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*</section>*@
</div>
<div class="Row p-5 m-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.1217543561743!2d77.27653507296662!3d28.62611279739457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce353c09f6259%3A0xfede663ad899e8aa!2sShakrpur%2C+Durga+Mandir%2CAngad!5e0!3m2!1sen!2sin!4v1517142372367" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen=""></iframe>
</div>