@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="~/Content/full-slider.css" rel="stylesheet" />
<div class=" container-fluid">
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row mt-5">
        <div id="demo" class="carousel slide mt-4" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Content/images/12.jpg" alt="Los Angeles" width="1400" height="600">

                </div>
                <div class="carousel-item">
                    <img src="~/Content/images/567.jpg" alt="Chicago" width="1400" height="600">

                </div>
                <div class="carousel-item">
                    <img src="~/Content/images/accounting-kenna.jpg" alt="New York" width="1400" height="600">

                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>
    </div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        $('col-4').hover(
            function () {
                $(this).animate({
                    marginTop: "-=1%",
                }, 200);
            },
            function () {
                $(this).animate({
                    marginTop: "0%"
                }, 200);
            }
        );
    });
</script>
<div class="clearfix"></div>
<div class="row ml-3 p-4 h4 bg-info text-center w-100 font-weight-bold text-white text-center"> Start A business</div>
<div class="row m-5 p-2 shadow justify-content-center">
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Partnership<br />Firm</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/Partnership firm1.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="../StartABusiness/Partnership_Firm" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card pb-3">
            <div class="card-header">
                <h5>Sole-proprietorship</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/sole-proprietorship12.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="../StartABusiness/Sole_Proprietorship" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Limited-Liability</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/limited-liability12.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="../StartABusiness/Limited_Liability" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Private Limited Company</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/private-limited12.png" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="../StartABusiness/Private_Limited_Company" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Public Limited Company</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/Public Limited Company12.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="../StartABusiness/Public_Limited_Company" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Non-Profit Organization</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/Non-Profit Organization12.jpeg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="../StartABusiness/Non_Profit_Organization" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
</div>

<div class="row m-5 p-2 shadow justify-content-center">
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Society</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/Society12.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="../StartABusiness/Society" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card pb-3">
            <div class="card-header">
                <h5>Trust</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/Trust12.png" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="../StartABusiness/Trust" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Section8 Company <br />With Nonprofit Objects</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/Section8 Company 12.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="../StartABusiness/Section8_Company_with_Nonprofit_objects" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Wholly Owned Foreign</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/Wholly Owned Foreign12.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">APEDA Registration</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/APEDA Registration12.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">PROFESSIONAL <br />TAXREGISTRATION</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/PROFESSIONAL 12.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
</div>
<div class="row ml-3 p-4 h4 bg-info text-center w-100 font-weight-bold text-white">Registration</div>
<div class="row m-5 p-2 shadow justify-content-center">
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">FSSAI Registration</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/FSSAI Registration12.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="../Registration/FSSAI" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card pb-3">
            <div class="card-header">
                <h5>IEC Code Licence</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/IEC Code Licence12.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="../Registration/IEC" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">MSME Registration</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/MSME Registration12.png" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="../Registration/MSME" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">ESI Registration</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/ESI Registration12.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="../Registration/ESI" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">PF Registration</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/PF Registration12.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="Registration/PF_Registration" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">TAN</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/TAN12.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="Registration/TAN" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
</div>
<div class="row ml-3 p-4 h4 bg-info text-center w-100 font-weight-bold text-white">Trademark</div>
<div class="row m-5 pb-0">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card bg-light">
            <div class="card-header bg-info">
                <h5 class="card-title" style="color:white;">Trademark Registration</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/Trademark-Registration-Services.jpg" class="img-fluid" />
                
            </div>
            <div class="card-footer bg-primary text-center">
                <a href="../Trademark/Registration" class="btn btn-dark">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card bg-light">
            <div class="card-header bg-info">
                <h5 class="card-title" style="color:white;">TrademarkObjection</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/trademark objection.png" class="img-fluid" />
                
            </div>
            <div class="card-footer bg-primary text-center">
                <a href="../Trademark/TrademarkObjection" class="btn btn-dark">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card bg-light">
            <div class="card-header bg-info">
                <h5 class="card-title" style="color:white;">TrademarkRenewal</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/TMrenewal.jpg" class="img-fluid"  width="1200" height="400"/>
                
            </div>
            <div class="card-footer bg-primary text-center">
                <a href="../Trademark/TrademarkRenewal" class="btn btn-dark">Read More</a>
            </div>
        </div>

    </div>
</div>

<div class="row ml-3 p-4 h4 bg-info text-center w-100 font-weight-bold text-white">GST</div>
<div class="row m-5 pb-0">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card bg-light">
            <div class="card-header bg-info">
                <h5 class="card-title" style="color:white;text-align:center;">GST Registration</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/GST-Registration.png" class="img-fluid" />
               
            </div>
            <div class="card-footer bg-primary text-center">
                <a href="../Accounting_Services/GST_Registration" class="btn btn-dark">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card bg-light">
            <div class="card-header bg-info">
                <h5 class="card-title" style="color:white;text-align:center;">GST Return</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/GST-Return.jpg" class="img-fluid" />
               
            </div>
            <div class="card-footer bg-primary text-center">
                <a href="../Accounting_Services/GST_Return" class="btn btn-dark">Read More</a>
            </div>
        </div>
    </div>
    
</div>
<div class="row ml-3 p-4 h4 bg-info text-center w-100 font-weight-bold text-white">Taxation</div>
<div class="row m-5 p-2 shadow justify-content-center">
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">INCOME TAX</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/INCOME_TAX12.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="../Taxation/INCOME_TAX" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card pb-3">
            <div class="card-header">
                <h5>Computation</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/Computation12.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="../Taxation/Computation" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Filing of Returns of income</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/Filing of Returns of income12.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="Taxation/FilingOf_ReturnsOf_Income" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Filing of Appeals</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/Filing of Appeals12.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="../Taxation/FilingOfAppeals" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Claiming Refunds</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/Claiming Refunds12.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="../Taxation/ClaimingRefunds" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Tax Planning</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/Tax Planning12.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="../Taxation/TaxPlanning" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
</div>







<div class="clearfix"></div>
<div class="row ml-3 p-4 h4 bg-info text-center w-100 font-weight-bold text-white">Leatest News</div>
<div class="row m-5 pb-0">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card bg-light">
            <div class="card-header bg-info">
                <h5 class="card-title" style="color:white;">Prodigee Finance gets license from Reserve Bank of India</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/1234r.jpg" class="img-fluid" />
                <p class="text-center">understandable that the rules and regulations of the Reserve Bank of India.</p>
            </div>
            <div class="card-footer bg-primary text-center">
                <a href="#" class="btn btn-dark">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card bg-light">
            <div class="card-header bg-info">
                <h5 class="card-title" style="color:white;">Enterslice begins operations in Hong Kong</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/12r.jpeg" class="img-fluid" />
                <p class="text-center">Enterslice has earned a remarkable reputation for helping.</p>
            </div>
            <div class="card-footer bg-primary text-center">
                <a href="#" class="btn btn-dark">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card bg-light">
            <div class="card-header bg-info">
                <h5 class="card-title" style="color:white;">Peer to peer lending now needs NBFC Registration</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/123r.jpg" class="img-fluid" />
                <p class="text-center">A part from helping these startups raise organized funding, .</p>
            </div>
            <div class="card-footer bg-primary text-center">
                <a href="#" class="btn btn-dark">Read More</a>
            </div>
        </div>

    </div>
</div>


<div class="clearfix"></div>
<div class="container-fluid bg-info">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <!-- Title -->

            <style>
                .f-subscribe-form__input {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0 1.5rem 0 2.6rem;
                    width: 20.0rem;
                    height: 3.0rem;
                    color: #000;
                    background: #f8f8f8;
                    border: none;
                    -webkit-border-radius: 2.4rem 0 0 2.4rem;
                    -moz-border-radius: 2.4rem 0 0 2.4rem;
                    border-radius: 2.4rem 0 0 2.4rem;
                    outline: 0;
                    font-size: 1.2rem;
                    line-height: normal;
                    -webkit-transition: all 150ms ease;
                    -o-transition: all 150ms ease;
                    -moz-transition: all 150ms ease;
                    transition: all 150ms ease;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                }

                .f-subscribe-form__submit {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0;
                    margin-left: -5px;
                    width: 10.8rem;
                    height: 3.0rem;
                    color: #fff;
                    background-color: #12499C;
                    border: none;
                    -webkit-border-radius: 0 2.4rem 2.4rem 0;
                    -moz-border-radius: 0 2.4rem 2.4rem 0;
                    border-radius: 0 2.4rem 2.4rem 0;
                    outline: 0;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    -webkit-transition: all 150ms ease;
                    -o-transition: all 150ms ease;
                    -moz-transition: all 150ms ease;
                    transition: all 150ms ease;
                    cursor: pointer;
                }

                .icon-bar {
                    position: fixed;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }

                    .icon-bar a {
                        display: block;
                        text-align: center;
                        padding: 16px;
                        transition: all 0.3s ease;
                        color: white;
                        font-size: 20px;
                    }

                        .icon-bar a:hover {
                            background-color: #000;
                        }

                .facebook {
                    background: #3B5998;
                    color: white;
                }

                .twitter {
                    background: #55ACEE;
                    color: white;
                }

                .google {
                    background: #dd4b39;
                    color: white;
                }

                .linkedin {
                    background: #007bb5;
                    color: white;
                }

                .youtube {
                    background: #bb0000;
                    color: white;
                }
            </style>
            <!-- Form -->
            <div class="row p-5">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center">
                        <div class="f-subscribe__title m-2" style="text-align:center; font-size:2.2rem; color:white;">
                            Transform your Business. Subscribe our Newsletter.
                            <form action="#" method="POST" class="f-subscribe-form" id="subscribe-form" accept-charset="utf-8">
                                <input type="email" name="email" class="f-subscribe-form__input" id="subscribe-form-input" placeholder="Enter e-mail address" data-required="true" aria-label="Enter your e-mail address" aria-required="true">
                                <input type="hidden" name="list" value="ueVr3ZiHtw5jYWxQSk892J8g">
                                <input type="hidden" name="subscribe_url" value="index">
                                <button class="f-subscribe-form__submit" type="submit" name="submit" value="subscribe" id="submit">
                                    Subscribe
                                </button>
                            </form>
                        </div>
                    </div>
                    <!-- Secured -->
                    <div class="f-subscribe-secured m-2 text-white" style="text-align:center; line-height: normal;"><span class="f-subscribe-secured__title">No spam. We promise.</span> </div>
                </div>
            </div>

        </div>

    </div>
</div>

@*<div class="top-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fksakshiwrites%2F?ti=as&amp;tabs=timeline&amp;width=300&amp;height=390&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" width="100%" height="390" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="timeline-head">
                    <h2>Tweets by ‎SakshiK_author</h2>
                </div>
                <div class="timeline-Body">
                    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-timeline twitter-timeline-rendered" style="position: static; visibility: visible; display: inline-block; width: 100%; padding: 0px; border: none; max-width: 100%; min-width: 180px; margin-top: 0px; margin-bottom: 0px; min-height: 200px; height: 5363.59px;" data-widget-id="profile:SakshiK_author" title="Twitter Timeline"></iframe>
                    <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div style="max-height:@*390px*@@*; overflow:auto;">*@
                <!-- InstaWidget -->
                @*<a href="https://instawidget.net/v/user/ksakshiwrites" id="link-ce09c9deec4192e907215f8f4d467969c775e3f02183960a839548b185a70080" style="display: none;">Writes Sakshi</a>
                            <script src="https://instawidget.net/js/instawidget.js?u=ce09c9deec4192e907215f8f4d467969c775e3f02183960a839548b185a70080&amp;width=100%"></script><iframe id="ce09c9deec4192e907215f8f4d467969c775e3f02183960a839548b185a70080" style="border: 0px; width: 100%; height: 457px; margin: 0px; padding: 0px;" scrolling="no" frameborder="no" src="https://instawidget.net/embed?u=ce09c9deec4192e907215f8f4d467969c775e3f02183960a839548b185a70080"></iframe>
                        </div>
                    </div>*@
                @*<div class="col-md-3 col-sm-6 col-xs-12">
                        <div style="max-height:390px; overflow:auto;">
                            <!-- Place this tag where you want the widget to render. -->
                            <div id="___person_0" style="text-indent: 0px; margin: 0px; padding: 0px; background: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 300px; height: 390px;"><iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 300px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 390px;" tabindex="0" vspace="0" width="100%" id="I0_1546434668889" name="I0_1546434668889" src="https://apis.google.com/u/0/_/widget/render/person?usegapi=1&amp;href=https%3A%2F%2Fplus.google.com%2F111998515098973617312&amp;rel=author&amp;origin=http%3A%2F%2Fwritersakshikiran.rajinfotechs.com&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en._hxuXxdRXI8.O%2Fam%3DQQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCO8kUWucn-xAWKax-NjNuO__04Qew%2Fm%3D__features__#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1546434668889&amp;_gfid=I0_1546434668889&amp;parent=http%3A%2F%2Fwritersakshikiran.rajinfotechs.com&amp;pfname=&amp;rpctoken=35106531" data-gapiattached="true" title="+Badge"></iframe></div>

                            <!-- Place this tag after the last widget tag. -->
                            <script type="text/javascript">
                                (function () {
                                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                    po.src = 'https://apis.google.com/js/platform.js';
                                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                })();
                            </script>
                        </div>
                    </div>*@
                @*</div>
                    <hr>*@
                @*<div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="mrg">
                                <h3>CONTACT US</h3>
                                <hr>
                                <div style="margin:0px 0px 0px 0px;">

                                    <p><img src="/Content/images/Messages.png" style="width:20px;"> <a href="#">sakshi.kiran1994@gmail.com</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="mrg">
                                <h3>FOLLOW US</h3>
                                <hr>
                                <div class="social_list">
                                    <a href="https://www.facebook.com/ksakshiwrites/?ti=as" target="_blank"><img src="/Content/images/facebook.png"></a>
                                    <a href="https://plus.google.com/+SakshiKiran_Author" target="_blank"><img src="/Content/images/google_plus.png"></a>
                                    <a href="https://twitter.com/SakshiK_author" target="_blank"><img src="/Content/images/twitter.png"></a>
                                    <a href="https://ksakshiwrites.blogspot.in/" target="_blank"><img src="/Content/images/blog.png"></a>
                                    <a href="https://www.amazon.in/9-Yards-Silk-Sakshi-Kiran/dp/9384315788/ref=sr_1_1?ie=UTF8&amp;qid=1514259116&amp;sr=8-1&amp;keywords=9+yards+of+silk+book" target="_blank">
                                        <img src="/Content/images/amazon.png">
                                    </a>
                                    <a href="https://www.goodreads.com/book/show/37643023-9-yards-of-silk" target="_blank"><img src="/Content/images/goodreads_icon.png"></a>
                                    <a href="https://www.instagram.com/ksakshiwrites/" target="_blank"><img src="/Content/images/instagram_icon.png"></a>

                                </div>
                            </div>
                        </div>
                    @*</div>*@
                @*</div>
                    </div>*@*@*@
                    @*<div id="tawkchat-minified-wrapper" class="white ltr-direction">
                            <div id="tawkchat-minified-container" class="theme-background-color" style="border-radius: 5px 5px 0px 0px;">
                                <div id="tawkchat-status-middle">
                                    <div id="tawkchat-status-agent-container" class="theme-text-color">
                                        <div id="agent-profile-image" class="agent-profile">&nbsp;</div><div id="min-agent-profile-details" class="theme-text-color">
                                        </div>
                                    </div><div id="tawkchat-status-text-container" class="theme-text-color">
                                        <div id="tawkchat-status-message">
                                            <span id="short-message">Online</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@


                    <div class="icon-bar">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="google"><i class="fa fa-google"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
                    </div>
                    <script type="text/javascript">
                        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
                        (function () {
                            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                            s1.async = true;
                            s1.src = 'https://embed.tawk.to/5a53c8204b401e45400bea0d/default';
                            s1.charset = 'UTF-8';
                            s1.setAttribute('crossorigin', '*');
                            s0.parentNode.insertBefore(s1, s0);
                        })();
                    </script>