@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="~/Content/full-slider.css" rel="stylesheet" />
<div class="row mt-5">
    <div id="demo" class="carousel slide mt-4" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/images/12.jpg" alt="Los Angeles" width="1400" height="600">
                @*<div class="carousel-caption">
                        <h3>Los Angeles</h3>
                        <p>We had such a great time in LA!</p>
                    </div>*@
            </div>
            <div class="carousel-item">
                <img src="~/Content/images/567.jpg" alt="Chicago" width="1400" height="600">
                @*<div class="carousel-caption">
                        <h3>Chicago</h3>
                        <p>Thank you, Chicago!</p>
                    </div>*@
            </div>
            <div class="carousel-item">
                <img src="~/Content/images/accounting-kenna.jpg" alt="New York" width="1400" height="600">
                @*<div class="carousel-caption">
                        <h3>New York</h3>
                        <p>We love the Big Apple!</p>
                    </div>*@
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        $('col-4').hover(
            function () {
                $(this).animate({
                    marginTop: "-=1%",
                }, 200);
            },
            function () {
                $(this).animate({
                    marginTop: "0%"
                }, 200);
            }
        );
    });
</script>
<div class="clearfix"></div>
<div class="row ml-3 p-4 h4 bg-info text-center w-100 font-weight-bold text-white">POPULAR SERVICES</div>
<div class="row m-5 p-2 shadow justify-content-center">
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Accounting &<br />Bookkeeping Services</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/1.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card pb-3">
            <div class="card-header">
                <h5>Company <br /> Annual <br />Filing</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/2.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">PF <br /> Registration</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/4.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">DIN-3KYCFILING</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/5.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">APEDA Registration</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/6.jpg" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">PROFESSIONAL <br />TAXREGISTRATION</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/3.png" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row ml-3 p-4 h4 bg-info text-center w-100 font-weight-bold text-white">Leatest News</div>
<div class="row m-5 pb-0">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card bg-light">
            <div class="card-header bg-info">
                <h5 class="card-title" style="color:white;">Prodigee Finance gets license from Reserve Bank of India</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/1234r.jpg" class="img-fluid" />
                <p class="text-center">It's quite understandable that the rules and regulations of the Reserve Bank of India.</p>
            </div>
            <div class="card-footer bg-primary text-center">
                <a href="#" class="btn btn-dark">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card bg-light">
            <div class="card-header bg-info">
                <h5 class="card-title" style="color:white;">Enterslice begins operations in Hong Kong</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/12r.jpeg" class="img-fluid" />
                <p class="text-center">Hong Kong [China], May 04 (NewsVoir): Enterslice has earned a remarkable reputation for helping.</p>
            </div>
            <div class="card-footer bg-primary text-center">
                <a href="#" class="btn btn-dark">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card bg-light">
            <div class="card-header bg-info">
                <h5 class="card-title" style="color:white;">Peer to peer lending now needs NBFC registration Interview of Narend.</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/123r.jpg" class="img-fluid" />
                <p class="text-center">A part from helping these startups raise organized funding, this announcement also means that the.</p>
            </div>
            <div class="card-footer bg-primary text-center">
                <a href="#" class="btn btn-dark">Read More</a>
            </div>
        </div>

    </div>
</div>
<div class="clearfix"></div>
<div class="container-fluid bg-info">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <!-- Title -->

            <style>
                .f-subscribe-form__input {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0 1.5rem 0 2.6rem;
                    width: 20.0rem;
                    height: 3.0rem;
                    color: #000;
                    background: #f8f8f8;
                    border: none;
                    -webkit-border-radius: 2.4rem 0 0 2.4rem;
                    -moz-border-radius: 2.4rem 0 0 2.4rem;
                    border-radius: 2.4rem 0 0 2.4rem;
                    outline: 0;
                    font-size: 1.2rem;
                    line-height: normal;
                    -webkit-transition: all 150ms ease;
                    -o-transition: all 150ms ease;
                    -moz-transition: all 150ms ease;
                    transition: all 150ms ease;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }

                .f-subscribe-form__submit {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0;
                    margin-left: -5px;
                    width: 10.8rem;
                    height: 3.0rem;
                    color: #fff;
                    background-color: #12499C;
                    border: none;
                    -webkit-border-radius: 0 2.4rem 2.4rem 0;
                    -moz-border-radius: 0 2.4rem 2.4rem 0;
                    border-radius: 0 2.4rem 2.4rem 0;
                    outline: 0;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    -webkit-transition: all 150ms ease;
                    -o-transition: all 150ms ease;
                    -moz-transition: all 150ms ease;
                    transition: all 150ms ease;
                    cursor: pointer;
                }

                body {
                    margin: 0;
                    height: 2000px;
                }

                .icon-bar {
                    position: fixed;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }

                    .icon-bar a {
                        display: block;
                        text-align: center;
                        padding: 16px;
                        transition: all 0.3s ease;
                        color: white;
                        font-size: 20px;
                    }

                        .icon-bar a:hover {
                            background-color: #000;
                        }

                .facebook {
                    background: #3B5998;
                    color: white;
                }

                .twitter {
                    background: #55ACEE;
                    color: white;
                }

                .google {
                    background: #dd4b39;
                    color: white;
                }

                .linkedin {
                    background: #007bb5;
                    color: white;
                }

                .youtube {
                    background: #bb0000;
                    color: white;
                }

                .content {
                    margin-left: 75px;
                    font-size: 30px;
                }
            </style>
            <!-- Form -->
            <div class="row p-5">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center">
                        <div class="f-subscribe__title m-2" style="text-align:center; font-size:2.2rem; color:white;">
                            Transform your Business. Subscribe our Newsletter.
                            <form action="#" method="POST" class="f-subscribe-form" id="subscribe-form" accept-charset="utf-8">
                                <input type="email" name="email" class="f-subscribe-form__input" id="subscribe-form-input" placeholder="Enter e-mail address" data-required="true" aria-label="Enter your e-mail address" aria-required="true">
                                <input type="hidden" name="list" value="ueVr3ZiHtw5jYWxQSk892J8g">
                                <input type="hidden" name="subscribe_url" value="index">
                                <button class="f-subscribe-form__submit" type="submit" name="submit" value="subscribe" id="submit">
                                    Subscribe
                                </button>
                            </form>
                        </div>
                    </div>
                    <!-- Secured -->
                    <div class="f-subscribe-secured m-2 text-white" style="text-align:center; line-height: normal;"> @*<img class="f-subscribe-secured__norton" src="~/Content/images/f-subscribe-norton.png" )">*@ <span class="f-subscribe-secured__title">No spam. We promise.</span> </div>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="clearfix"></div>
<div id="tawkchat-minified-wrapper" class="white ltr-direction">
    <div id="tawkchat-minified-container" class="theme-background-color" style="border-radius: 5px 5px 0px 0px;">
        <div id="tawkchat-status-middle">
            <div id="tawkchat-status-agent-container" class="theme-text-color">
                <div id="agent-profile-image" class="agent-profile">&nbsp;</div><div id="min-agent-profile-details" class="theme-text-color">
                </div>
            </div><div id="tawkchat-status-text-container" class="theme-text-color">
                <div id="tawkchat-status-message">
                    <span id="short-message">Online</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="icon-bar">
    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="#" class="google"><i class="fa fa-google"></i></a>
    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
</div>
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5a53c8204b401e45400bea0d/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>