@{
    ViewBag.Title = "Home Page";
}
    <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
            <div id="WMC" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#WMC" data-slide-to="0" class="active"></li>
                    <li data-target="#WMC" data-slide-to="1"></li>
                    <li data-target="#WMC" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Content/images/12.jpg"  class="img-fluid img-thumbnail shadow" alt="WISDOM MANAGEMENT CONSULTANCY">

                    </div>
                    <div class="carousel-item">
                        <img src="~/Content/images/567.jpg" alt="WISDOM MANAGEMENT CONSULTANCY"  class="img-fluid img-thumbnail shadow">

                    </div>
                    <div class="carousel-item">
                        <img src="~/Content/images/accounting-kenna.jpg" alt="WISDOM MANAGEMENT CONSULTANCY"  class="img-fluid img-thumbnail shadow">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#WMC" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#WMC" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
       </div>

<div class="container-fluid" style="background-image:url(../../Content/images/dd23.jpg); height:1080px !important; background-repeat:no-repeat;">
    <div class="row">
        <div class="row p-4 h4 bg-info w-100 font-weight-bold text-white" style="margin-left:30px;"> Start A business</div>
        <div class="row m-5 p-2 shadow justify-content-center">
            <div class="col-lg-2 col-md-2 col-sm-12 shadow">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title" style="font-size:18px;">Sole<br />Proprietorship<br /></h5>
                    </div>
                    <div class="card-body">
                        <img src="~/Content/images/sole-proprietorship12.jpg" width="95" height="85" alt="images" class="card-img-top" />
                    </div>
                    <div class="card-footer">
                        <a href="~/StartABusiness/Sole_Proprietorship" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 shadow">
                <div class="card pb-3">
                    <div class="card-header">
                        <h5 class="card-title" style="font-size:20px;">Partnership Firm</h5>
                    </div>
                    <div class="card-body">
                        <img src="~/Content/images/Partnership firm1.jpg" width="95" height="85" alt="images" class="card-img-top" />
                    </div>
                    <div class="card-footer">
                        <a href="~/StartABusiness/Partnership_Firm" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 shadow">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title" style="font-size:20px;">Limited<br />Liability<br /></h5>
                    </div>
                    <div class="card-body">
                        <img src="~/Content/images/limited-liability12.jpg" width="95" height="85" alt="images" class="card-img-top" />
                    </div>
                    <div class="card-footer">
                        <a href="~/StartABusiness/Limited_Liability" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 shadow">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title" style="font-size:18px;">Private Limited Company</h5>
                    </div>
                    <div class="card-body">
                        <img src="~/Content/images/private-limited12.png" width="95" height="85" alt="images" class="card-img-top" />
                    </div>
                    <div class="card-footer">
                        <a href="~/StartABusiness/Private_Limited_Company" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 shadow">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title" style="font-size:18px;">Public Limited Company</h5>
                    </div>
                    <div class="card-body">
                        <img src="~/Content/images/Public Limited Company12.jpg" width="95" height="85" alt="images" class="card-img-top" />
                    </div>
                    <div class="card-footer">
                        <a href="~/StartABusiness/Public_Limited_Company" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 shadow">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title" style="font-size:18px;">Non Profit Organization</h5>
                    </div>
                    <div class="card-body">
                        <img src="~/Content/images/Non-Profit Organization12.jpeg" width="95" height="85" alt="images" class="card-img-top" />
                    </div>
                    <div class="card-footer">
                        <a href="~/StartABusiness/Non_Profit_Organization" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-5 p-2 shadow justify-content-center">
            <div class="col-lg-2 col-md-2 col-sm-12 shadow">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title" style="font-size:20px;">Society<br /><br /></h5>
                    </div>
                    <div class="card-body">
                        <img src="~/Content/images/Society12.jpg" width="95" height="85" alt="images" class="card-img-top" />
                    </div>
                    <div class="card-footer">
                        <a href="~/StartABusiness/Society" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 shadow">
                <div class="card pb-3">
                    <div class="card-header">
                        <h5 style="font-size:20px;">Trust<br /><br /></h5>
                    </div>
                    <div class="card-body">
                        <img src="~/Content/images/Trust12.png" width="95" height="85" alt="images" class="card-img-top" />
                    </div>
                    <div class="card-footer">
                        <a href="~/StartABusiness/Trust" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 shadow">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">NGO<br /><br /></h5>
                    </div>
                    <div class="card-body">
                        <img src="~/Content/images/Section8 Company 12.jpg" width="95" height="85" alt="images" class="card-img-top" />
                    </div>
                    <div class="card-footer">
                        <a href="~/StartABusiness/Section8_Company_with_Nonprofit_objects" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 shadow">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title" style="font-size:20px;">Wholly Owned Foreign</h5>
                    </div>
                    <div class="card-body">
                        <img src="~/Content/images/Wholly Owned Foreign12.jpg" width="95" height="85" alt="images" class="card-img-top" />
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 shadow">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title" style="font-size:20px;">Apeda <br />Registration</h5>
                    </div>
                    <div class="card-body">
                        <img src="~/Content/images/APEDA Registration12.jpg" width="95" height="85" alt="images" class="card-img-top" />
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 shadow">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title" style="font-size:20px;">Tax<br />Registration</h5>
                    </div>
                    <div class="card-body">
                        <img src="~/Content/images/PROFESSIONAL 12.jpg" width="95" height="85" alt="images" class="card-img-top" />
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row p-4 h4 bg-info w-100 font-weight-bold text-white" style="margin-left:30px;">Registration</div>
<div class="row m-5 p-2 shadow justify-content-center">
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title" style="font-size:20px;">FSSAI Registration</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/FSSAI Registration12.jpg" width="95" height="85" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="~/Registration/FSSAI" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card pb-3">
            <div class="card-header">
                <h5 style="font-size:20px;">IEC Code <br />Licence<br /></h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/IEC Code Licence12.jpg" width="95" height="85" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="~/Registration/IEC" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title" style="font-size:20px;">MSME Registration</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/MSME Registration12.png" width="95" height="85" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="~/Registration/MSME" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title" style="font-size:20px;">ESI Registration</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/ESI Registration12.jpg" width="95" height="85" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="~/Registration/ESI" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title" style="font-size:20px;">PF<br /> Registration</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/PF Registration12.jpg" width="95" height="85" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="Registration/PF_Registration" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title" style="font-size:20px;">TAN<br /><br /></h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/TAN12.jpg" width="95" height="85" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="Registration/TAN" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
</div>
<div class="p-4 h4 bg-info w-100 font-weight-bold text-white" style="margin-left:30px;">Trademark</div>
<div class="container-fluid">
    <div class="row m-5 pb-0">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card bg-light">
                <div class="card-header bg-info">
                    <h5 class="card-title" style="color:white; text-align:center">Trademark Registration</h5>
                </div>
                <div class="card-body w-100 h-25">
                    <img src="~/Content/images/Trademark-Registration-Services.jpg" height="200" width="300">

                </div>
                <div class="card-footer bg-primary text-center">
                    <a href="~/Trademark/Registration" class="btn btn-dark">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card bg-light">
                <div class="card-header bg-info">
                    <h5 class="card-title" style="color:white; text-align:center">Trademark Objection</h5>
                </div>
                <div class="card-body">
                    <img src="~/Content/images/trademark objection.png" height="200" width="300" />

                </div>
                <div class="card-footer bg-primary text-center">
                    <a href="~/Trademark/TrademarkObjection" class="btn btn-dark">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card bg-light">
                <div class="card-header bg-info">
                    <h5 class="card-title" style="color:white; text-align:center">Trademark Renewal</h5>
                </div>
                <div class="card-body">
                    <img src="~/Content/images/TMrenewal.jpg" height="200" width="300">

                </div>
                <div class="card-footer bg-primary text-center">
                    <a href="~/Trademark/TrademarkRenewal" class="btn btn-dark">Read More</a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="p-4 h4 bg-info w-100 font-weight-bold text-white" style="margin-left:30px;">GST</div>
<div class="row m-5 pb-0">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card bg-light">
            <div class="card-header bg-info">
                <h5 class="card-title" style="color:white;text-align:center;">GST Registration</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/GST-Registration.png" width="600" height="300" class="img-fluid" />

            </div>
            <div class="card-footer bg-primary text-center">
                <a href="~/Accounting_Services/GST_Registration" class="btn btn-dark">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card bg-light">
            <div class="card-header bg-info">
                <h5 class="card-title" style="color:white;text-align:center;">GST Return</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/GST-Return.jpg" width="495" height="300" class="img-fluid" />

            </div>
            <div class="card-footer bg-primary text-center">
                <a href="~/Accounting_Services/GST_Return" class="btn btn-dark">Read More</a>
            </div>
        </div>
    </div>

</div>
<div class="row ml-3 p-4 h4 bg-info text-center w-100 font-weight-bold text-white">Taxation</div>
<div class="row m-5 p-2 shadow justify-content-center">
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title" style="font-size:20px;">Income TAX<br /><br /></h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/INCOME_TAX12.jpg" width="95" height="85" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="~/Taxation/INCOME_TAX" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card pb-3">
            <div class="card-header">
                <h5 style="font-size:20px;">Computation<br /><br /></h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/Computation12.jpg" width="95" height="85" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="~/Taxation/Computation" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title" style="font-size:20px;">Filing of Returns</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/Filing of Returns of income12.jpg" width="95" height="85" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="Taxation/FilingOf_ReturnsOf_Income" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title" style="font-size:20px;">Filing of Appeals</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/Filing of Appeals12.jpg" width="95" height="85" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="~/Taxation/FilingOfAppeals" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title" style="font-size:20px;">Claiming Refunds</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/Claiming Refunds12.jpg" width="95" height="85" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="~/Taxation/ClaimingRefunds" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title" style="font-size:20px;">Tax Planning<br /><br /></h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/Tax Planning12.jpg" width="95" height="85" alt="images" class="card-img-top" />
            </div>
            <div class="card-footer">
                <a href="~/Taxation/TaxPlanning" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
</div>







<div class="clearfix"></div>
<div class="row ml-3 p-4 h4 bg-info text-center w-100 font-weight-bold text-white">Leatest News</div>
<div class="row m-5 pb-0">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card bg-light">
            <div class="card-header bg-info">
                <h5 class="card-title" style="color:white;">Prodigee Finance gets license from Reserve Bank of India<br /><br /><br /></h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/1234r.jpg" class="img-fluid" />
                <p class="text-center">understandable rules and regulations of the Reserve Bank of India.</p>
            </div>
            <div class="card-footer bg-primary text-center">
                <a href="#" class="btn btn-dark">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card bg-light">
            <div class="card-header bg-info">
                <h5 class="card-title" style="color:white;">Enterslice begins operations in Hong Kong</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/12r.jpeg" class="img-fluid" />
                <p class="text-center">Enterslice has earned a remarkable reputation for helping.<br /><br /></p>
            </div>
            <div class="card-footer bg-primary text-center">
                <a href="#" class="btn btn-dark">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card bg-light">
            <div class="card-header bg-info">
                <h5 class="card-title" style="color:white;">Peer to peer lending now needs NBFC Registration</h5>
            </div>
            <div class="card-body">
                <img src="~/Content/images/123r.jpg" class="img-fluid" />
                <p class="text-center">A part from helping these startups raise organized funding, .</p>
            </div>
            <div class="card-footer bg-primary text-center">
                <a href="#" class="btn btn-dark">Read More</a>
            </div>
        </div>

    </div>
</div>


<div class="clearfix"></div>
<div class="container-fluid bg-info">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <!-- Title -->

            <style>
                .f-subscribe-form__input {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0 1.5rem 0 2.6rem;
                    width: 20.0rem;
                    height: 3.0rem;
                    color: #000;
                    background: #f8f8f8;
                    border: none;
                    -webkit-border-radius: 2.4rem 0 0 2.4rem;
                    -moz-border-radius: 2.4rem 0 0 2.4rem;
                    border-radius: 2.4rem 0 0 2.4rem;
                    outline: 0;
                    font-size: 1.2rem;
                    line-height: normal;
                    -webkit-transition: all 150ms ease;
                    -o-transition: all 150ms ease;
                    -moz-transition: all 150ms ease;
                    transition: all 150ms ease;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                }

                .f-subscribe-form__submit {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0;
                    margin-left: -5px;
                    width: 10.8rem;
                    height: 3.0rem;
                    color: #fff;
                    background-color: #12499C;
                    border: none;
                    -webkit-border-radius: 0 2.4rem 2.4rem 0;
                    -moz-border-radius: 0 2.4rem 2.4rem 0;
                    border-radius: 0 2.4rem 2.4rem 0;
                    outline: 0;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    -webkit-transition: all 150ms ease;
                    -o-transition: all 150ms ease;
                    -moz-transition: all 150ms ease;
                    transition: all 150ms ease;
                    cursor: pointer;
                }

                .icon-bar {
                    position: fixed;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }

                    .icon-bar a {
                        display: block;
                        text-align: center;
                        padding: 16px;
                        transition: all 0.3s ease;
                        color: white;
                        font-size: 20px;
                    }

                        .icon-bar a:hover {
                            background-color: #000;
                        }

                .facebook {
                    background: #3B5998;
                    color: white;
                }

                .twitter {
                    background: #55ACEE;
                    color: white;
                }

                .google {
                    background: #dd4b39;
                    color: white;
                }

                .linkedin {
                    background: #007bb5;
                    color: white;
                }

                .youtube {
                    background: #bb0000;
                    color: white;
                }
            </style>
            <!-- Form -->
            <div class="row p-5">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center">
                        <div class="f-subscribe__title m-2" style="text-align:center; font-size:2.2rem; color:white;">
                            Transform your Business. Subscribe our Newsletter.
                            <form action="#" method="POST" class="f-subscribe-form" id="subscribe-form" accept-charset="utf-8">
                                <input type="email" name="email" class="f-subscribe-form__input" id="subscribe-form-input" placeholder="Enter e-mail address" data-required="true" aria-label="Enter your e-mail address" aria-required="true">
                                <input type="hidden" name="list" value="ueVr3ZiHtw5jYWxQSk892J8g">
                                <input type="hidden" name="subscribe_url" value="index">
                                <button class="f-subscribe-form__submit" type="submit" name="submit" value="subscribe" id="submit">
                                    Subscribe
                                </button>
                            </form>
                        </div>
                    </div>
                    <!-- Secured -->
                    <div class="f-subscribe-secured m-2 text-white" style="text-align:center; line-height: normal;"><span class="f-subscribe-secured__title">No spam. We promise.</span> </div>
                </div>
            </div>

        </div>

    </div>
</div>
