@{
    ViewBag.Title = "Home Page";
}
<!--####################Carousel########################################-->
<div class="container-fluid" id="carousel-section">
    <div class="row">
        <div class="col-md-12">
            <div class="carousel slide" id="carousel-554496">
                <ol class="carousel-indicators">
                    <li data-slide-to="0" data-target="#carousel-554496"> </li>
                    <li data-slide-to="1" data-target="#carousel-554496"> </li>
                    <li data-slide-to="2" data-target="#carousel-554496" class="active"> </li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <img class="d-block w-100" alt="Carousel Bootstrap First" src="~/Content/images/banner-1.jpg" />
                        <div class="carousel-caption">
                      </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" alt="Carousel Bootstrap Second" src="~/Content/images/banner-2w.jpg" />
                        <div class="carousel-caption">
                       </div>
                    </div>
                    <div class="carousel-item active">
                        <img class="d-block w-100" alt="Carousel Bootstrap Third" src="~/Content/images/bannere-2c.jpg" />
                        <div class="carousel-caption">
                       </div>
                    </div>
                </div> <a class="carousel-control-prev" href="#carousel-554496" data-slide="prev"><span class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span></a> <a class="carousel-control-next" href="#carousel-554496" data-slide="next"><span class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
            </div>
        </div>
    </div>
</div>
<!--####################Carousel########################################-->
<!--#####################Start A Business Section###############################-->
<div class=" text-center text-white mt-4 text-uppercase  " style="width:80%;height:4vw;margin-left:8rem;background:#000038; border-radius:20px;">
    <h1>start a business</h1>
</div>
<div class="container m-5 product-card">
    <div class="carousel">
        <ul>
            <li><a href="~/StartABusiness/Partnership_Firm"><img src="~/Content/images/Partnership firm1.jpg" alt="Partnership Firm" style="width:400px;height:400px;" /></a> </li>
            <li><a href="~/StartABusiness/Sole_Proprietorship"><img src="~/Content/images/sole-proprietorship5.jpg" alt="Proprietorship" style="width:400px;height:400px;" /></a> </li>
            <li><a href="~/StartABusiness/Limited_Liability"><img src="~/Content/images/Limited Liability54.png" alt="Limited Liablity" style="width:400px;height:400px;" /></a> </li>
            <li><a href="~/StartABusiness/Private_Limited_Company"><img src="~/Content/images/private-limited12.png" alt="Limited Liablity" style="width:400px;height:400px;" /></a></li>
            <li><a href="~/StartABusiness/Public_Limited_Company"><img src="~/Content/images/Public Limited Company12.jpg" alt="Limited Liablity" style="width:400px;height:400px;" /></a> </li>
            <li><a href="~/StartABusiness/Non_Profit_Organization"><img src="~/Content/images/non profile organation.jpg" alt="Limited Liablity" style="width:400px;height:400px;" /></a> </li>
            <li><a href="~/StartABusiness/Society"><img src="~/Content/images/Society.jpg" alt="Limited Liablity" style="width:400px;height:400px;" /></a> </li>
            <li><a href="~/StartABusiness/Trust"><img src="~/Content/images/Trust12.png" alt="Limited Liablity" style="width:400px;height:400px;" /></a> </li>
            <li><a href="~/Content/images/Wholly Owned Foreign12.jpg"><img src="~/Content/images/Wholly Owned Foreign12.jpg" alt="Limited Liablity" style="width:400px;height:400px;" /></a> </li>
            <li><a href="#"><img src="~/Content/images/nidhi-companynew.jpg" alt="Limited Liablity" style="width:400px;height:400px;" /></a> </li>
            <li><a href="#"><img src="~/Content/images/Liaison.jpg" alt="Limited Liablity" style="width:400px;height:400px;" /></a> </li>
            <li><a href="#"><img src="~/Content/images/BRANCH.png" alt="Limited Liablity" style="width:400px;height:400px;" /></a> </li>
            <li><a href="#"><img src="~/Content/images/the project office.jpg" alt="Limited Liablity" style="width:400px;height:400px;" /></a></li>
        </ul>
    </div>
</div>
<!--#####################Start A Business Section###############################-->
<!--########################COMPLIANCES START#################################################-->
<div class=" text-center text-white mt-4 text-uppercase " style="width:80%;height:4vw;margin-left:8rem;background:#000038; border-radius:20px;">
    <h1>compliances</h1>
</div>
<section class="gallery-block cards-gallery m-5">
    <div class="container" id="comPliances">
        <!--Container Start-->
        <div class="row">
            <!--Row Start-->
            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="~/CorporateCompliance/AppointmentOfDirector"><img src="~/Content/images/Appointment-of-Director-img.png" class="card-img-top img-fluid" style="width: 200px; height: 200px;"></a>
                    <div class="card-body">
                        <h6>Appointment Of Director</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="~/CorporateCompliance/ResignationOfDirector"><img src="~/Content/images/Resignation-of-director.jpg" class="card-img-top img-fluid" style="width: 200px; height: 200px;"></a>
                    <div class="card-body">
                        <h6>Resignation Of Director</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="~/CorporateCompliance/RemovalOfdirector"><img src="~/Content/images/change-in-directors-bizindigo.png" class="card-img-top img-fluid" style="width: 200px; height: 200px;"></a>
                    <div class="card-body">
                        <h6>Removal Of Director</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="~/CorporateCompliance/AppointmentOfAuditor"><img src="~/Content/images/appointment-of-auditor-filing-of-adt_1.png" class="card-img-top img-fluid" style="width: 200px; height: 200px;"></a>
                    <div class="card-body">
                        <h6>Appointment Of Auditor</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="~/CorporateCompliance/ResignationOfAuditor"><img src="~/Content/images/Resignation-of-director.jpg" class="card-img-top img-fluid" style="width: 200px; height: 200px;"></a>
                    <div class="card-body">
                        <h6>Resignation Of Auditor</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="~/CorporateCompliance/AlterationOfShareCapital"><img src="~/Content/images/Logo_Share-Capital.png" class="card-img-top img-fluid" style="width: 200px; height: 200px;"></a>
                    <div class="card-body">
                        <h6>Alteration Of Share Capital</h6>
                    </div>
                </div>
            </div>

        </div> <!--Row End-->

        <div class="row">
            <!--Row Start-->
            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="~/CorporateCompliance/NameChange"><img src="~/Content/images/06-1494060921-name-change-prodedure-in-karnataka.jpg" class="card-img-top img-fluid" style="width: 200px; height: 200px;"></a>
                    <div class="card-body">
                        <h6>Name Change</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="~/CorporateCompliance/ChangeOfregisteredOffice"><img src="~/Content/images/Change-of-Registered-Office-3-1024x576.png" class="card-img-top img-fluid" style="width: 200px; height: 200px;"></a>
                    <div class="card-body">
                        <h6>Change Of Registered Office</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="~/CorporateCompliance/ObjectChange"><img src="~/Content/images/Object-change-of-LLP.jpg" class="card-img-top img-fluid" style="width: 200px; height: 200px;"></a>
                    <div class="card-body">
                        <h6>Object Change</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="~/CorporateCompliance/AlterationOfAOA"><img src="~/Content/images/AlterationofAOA.jpg" class="card-img-top img-fluid" style="width: 200px; height: 200px;"></a>
                    <div class="card-body">
                        <h6>Alteration Of AOA</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="~/CorporateCompliance/CompoundingOfOffence"><img src="~/Content/images/Compounding-of-offences.jpg" class="card-img-top img-fluid" style="width: 200px; height: 200px;"></a>
                    <div class="card-body">
                        <h6>Compounding Of Offence</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="~/CorporateCompliance/DINApplication"><img src="~/Content/images/DIN.png" class="card-img-top img-fluid" style="width: 200px; height: 200px;"></a>
                    <div class="card-body">
                        <h6>DIN Application</h6>
                    </div>
                </div>
            </div>

        </div> <!--Row End-->


        <div class="row">
            <!--Row Start-->
            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="~/CorporateCompliance/INC22A"><img src="~/Content/images/Form-INC-22A.jpg" class="card-img-top img-fluid" style="width: 200px; height: 200px;"></a>
                    <div class="card-body">
                        <h6>INC22A</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="~/CorporateCompliance/FillingOfAnnualReturn"><img src="~/Content/images/FillingofAnnualReturn.jpg" class="card-img-top img-fluid" style="width: 200px; height: 200px;"></a>
                    <div class="card-body">
                        <h6>Filling Of Annual Return</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="~/CorporateCompliance/ShareTransfer"><img src="~/Content/images/Transfer-of-Shares1.jpg" class="card-img-top img-fluid" style="width: 200px; height: 200px;"></a>
                    <div class="card-body">
                        <h6>Share Transfer</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="~/CorporateCompliance/FTE_CompanystrikeOff"><img src="~/Content/images/FTE.jpg" class="card-img-top img-fluid" style="width: 200px; height: 200px;"></a>
                    <div class="card-body">
                        <h6>FTE Company strike Off</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="~/Compliances/MERGERS_ACQUISITIONS"><img src="~/Content/images/Mergers_Acquisitions.jpg" class="card-img-top img-fluid" style="width: 200px; height: 200px;"></a>
                    <div class="card-body">
                        <h6>Merger & Acquisition</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="~/CorporateCompliance/FEMARBI_SERVICES"><img src="~/Content/images/PROFESSIONAL 12.jpg" class="card-img-top img-fluid" style="width: 200px; height: 200px;"></a>
                    <div class="card-body">
                        <h6>FEMA & RBI Services</h6>
                    </div>
                </div>
            </div>

        </div> <!--Row End-->

    </div><!--Container Start-->
</section>
<!--########################COMPLIANCES END#################################################-->
<!--#########################REGISTRATION START################################################-->
@*<div class="container">*@
<div class=" text-center text-white mt-4 text-uppercase " style="width:80%;height:4vw;margin-left:8rem;background:#000038; border-radius:20px;">
    <h1>registration</h1>
</div>
<div class="container m-5 ">
    <div class="card-columns"style="margin-left:7rem;">
        <div class="card">
            <a href="#">
                <img class="card-img-top" src="~/Content/images/FSSAI Registration12.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">FSSAI Registration</h5>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="#">
                <img class="card-img-top" src="~/Content/images/IEC Code Licence12.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">IEC Code Licence</h5>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="#">
                <img class="card-img-top" src="~/Content/images/MSME Registration12.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">MSME Registration</h5>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="#">
                <img class="card-img-top" src="~/Content/images/ESI Registration12.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ESI Registration</h5>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="#">
                <img class="card-img-top" src="~/Content/images/PF Registration12.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">PF Registration</h5>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="#">
                <img class="card-img-top" src="~/Content/images/tan-reg.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">TAN</h5>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="#">
                <img class="card-img-top" src="~/Content/images/permanent-account-number-in-india.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">PAN</h5>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="#">
                <img class="card-img-top" src="~/Content/images/shopandestablishment.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Registration Under Shop & Establishment</h5>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="#">
                <img class="card-img-top" src="~/Content/images/APEDA Registration12.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Product Registration</h5>
                </div>
            </a>
        </div>
    </div>
</div>
@*</div>*@
<!--#########################REGISTRATION END################################################-->
<!--#############################OUR SERVICES START########################################################-->
<div class=" text-center text-white mt-4 text-uppercase  " style="width:80%;height:4vw;margin-left:8rem; background:#000038; border-radius:20px; background:#000038; border-radius:20px;">
    <h1>our services</h1>
</div>
@*Filter Gallery*@
<div class="container-fluid filterbox">
    <div class="filter-tabs">
        <div class="filter-sort">
            <div class="navigation">
                <a href="javascript:void(0)" data-filter="all" class="button active bg-light" style="text-decoration:none;">All</a>
                <a href="javascript:void(0)" data-filter="Startabusiness" class="button bg-success" style="text-decoration:none;">Start a Business</a>
                <a href="javascript:void(0)" data-filter="Compliances" class="button bg-danger" style="text-decoration:none;">Compliances</a>
                <a href="javascript:void(0)" data-filter="Registration" class="button bg-secondary" style="text-decoration:none;">Registration</a>
                <a href="javascript:void(0)" data-filter="Trademark" class="button bg-warning" style="text-decoration:none;">Trademark</a>
                <a href="javascript:void(0)" data-filter="Taxation" class="button bg-info" style="text-decoration:none;">Taxation</a>
                <a href="javascript:void(0)" data-filter="GST" class="button bg-primary" style="text-decoration:none;">GST</a>
            </div>
        </div>
    </div>
    <div class="main-wrap wrap-inner">
        <div id="content">
            <div class="main-full" id="main">
                <ol class="content">
                    @*START A BUSINESS START*@
                    <li class="team shot-thumbnail Startabusiness">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/StartABusiness/Partnership_Firm">
                                    <picture>
                                        <img alt="images-1" src="~/Content/images/Partnership firm1.jpg" style="width:300px;height:300px;"> 
                                    </picture>
                                </a>

                                <a href="~/StartABusiness/Partnership_Firm" class="dribbble-title">
                                    <h3>
                                        Start a Businesss
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>531
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Startabusiness">
                        <div class="multi-shot">
                            <div class="dribbble-shot with-actions">
                                <div class="dribbble-img">
                                    <a class="dribbble-link" href="~/StartABusiness/Sole_Proprietorship">
                                        <picture>
                                            <img alt="images-2" src="~/Content/images/sole-proprietorship12.jpg" style="width:300px;height:300px;">
                                        </picture>
                                    </a>

                                    <a href="~/StartABusiness/Sole_Proprietorship" class="dribbble-title">
                                        <h3>
                                            Sole Proprietorship
                                            <span class="m-team">read more...</span>
                                            <span class="comment">
                                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>231
                                            </span>
                                        </h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Startabusiness">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/StartABusiness/Limited_Liability">
                                    <picture>
                                        <img alt="images-3" src="~/Content/images/Limited Liability54.png" style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/StartABusiness/Limited_Liability" class="dribbble-title">
                                    <h3>
                                        Limited Liability Partnership
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                          <i class="fa fa-thumbs-up" aria-hidden="true"></i>131
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Startabusiness">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/StartABusiness/Private_Limited_Company">
                                    <picture>
                                        <img alt="images-4" src="~/Content/images/private-limited12.png" style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/StartABusiness/Private_Limited_Company" class="dribbble-title">
                                    <h3>
                                        Private Limited Company
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>300
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Startabusiness">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/StartABusiness/Public_Limited_Company">
                                    <picture>
                                        <img alt="images-5" src="~/Content/images/Public Limited Company12.jpg" style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/StartABusiness/Public_Limited_Company" class="dribbble-title">
                                    <h3>
                                        Public Limited Company
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>200
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Startabusiness">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/StartABusiness/Non_Profit_Organization">
                                    <picture>
                                        <img alt="images-6" src="~/Content/images/non profile organation.jpg" style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/StartABusiness/Non_Profit_Organization" class="dribbble-title">
                                    <h3>
                                        Non Profit Organization
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>150
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Startabusiness">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link"href="~/StartABusiness/Society">
                                    <picture>
                                        <img alt="images-7" src="~/Content/images/Society.jpg" style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/StartABusiness/Society" class="dribbble-title">
                                    <h3>
                                        Society
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                 
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>531
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Startabusiness">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/StartABusiness/Trust">
                                    <picture>
                                        <img alt="images-8" src="~/Content/images/Trust12.png" style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/StartABusiness/Trust" class="dribbble-title">
                                    <h3>
                                        Trust
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            
                                            <i class="fa fa-heart" aria-hidden="true"></i>125
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Startabusiness">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/StartABusiness/Section8_Company_with_Nonprofit_objects">
                                    <picture>
                                        <img alt="images-9" src="~/Content/images/Wholly Owned Foreign12.jpg" style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/StartABusiness/Section8_Company_with_Nonprofit_objects" class="dribbble-title">
                                    <h3>
                                        Wholly Owned Foreign Subsidiary
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>180
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Startabusiness">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="#">
                                    <picture>
                                        <img alt="images-10" src="~/Content/images/nidhi-companynew.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="#" class="dribbble-title">
                                    <h3>
                                        Nidhi Company
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>120
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Startabusiness">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link">
                                    <picture>
                                        <img alt="images-11" src="~/Content/images/Liaison.jpg" style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="#" class="dribbble-title">
                                    <h3>
                                         Liaison Office
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>80
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Startabusiness">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link">
                                    <picture>
                                        <img alt="images-12" src="~/Content/images/Section8 Company 12.jpg" style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="#" class="dribbble-title">
                                    <h3>
                                        Section 8 Company
                                        <span class="m-team">TEAM</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>130
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Startabusiness">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link">
                                    <picture>
                                        <img alt="images-13" src="~/Content/images/BranchOfc.jpg" style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="#" class="dribbble-title">
                                    <h3>
                                        Branch Office
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>600
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Startabusiness">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link">
                                    <picture>
                                        <img alt="images-14" src="~/Content/images/the project office.jpg" style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="#" class="dribbble-title">
                                    <h3>
                                        Project Office
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                         
                                            <i class="fa fa-heart" aria-hidden="true"></i>500
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    @*START A BUSINESS END*@
                    @*COMPLIANCES START*@

                    <li class="team shot-thumbnail Compliances">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/CorporateCompliance/AppointmentOfDirector">
                                    <picture>
                                        <img alt="images-15" src="~/Content/images/Appointment-of-Director-img.png"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/CorporateCompliance/AppointmentOfDirector" class="dribbble-title">
                                    <h3>
                                        Appointment Of Director
                                        <span class="m-team">read more...</span>
                                        <span class="comment">

                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>300
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Compliances">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/CorporateCompliance/ResignationOfDirector"> 
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/Resignation-of-director.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/CorporateCompliance/ResignationOfDirector" class="dribbble-title">
                                    <h3>
                                        Resignation Of Director
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>650
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Compliances">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/CorporateCompliance/RemovalOfdirector">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/renewal1.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/CorporateCompliance/RemovalOfdirector" class="dribbble-title">
                                    <h3>
                                        Removal Of Director
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>590
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Compliances">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/CorporateCompliance/AppointmentOfAuditor">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/appointment-of-auditor-filing-of-adt_1.png"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/CorporateCompliance/AppointmentOfAuditor" class="dribbble-title">
                                    <h3>
                                        Appointment Of Auditor
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>780
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Compliances">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/CorporateCompliance/ResignationOfAuditor">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/resignation-thinkstock.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/CorporateCompliance/ResignationOfAuditor" class="dribbble-title">
                                    <h3>
                                        Resignation Of Auditor
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>150
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Compliances">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/CorporateCompliance/AlterationOfShareCapital">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/Alteration-of-Share-Capital-meaning-and-Procedure-for-Alternation-of-Share-Capital-under-the-Companies-Act-2013-along-with-Case-Laws.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/CorporateCompliance/AlterationOfShareCapital" class="dribbble-title">
                                    <h3>
                                        Alternate of share capital
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>390
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Compliances">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/CorporateCompliance/NameChange">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/06-1494060921-name-change-prodedure-in-karnataka.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/CorporateCompliance/NameChange" class="dribbble-title">
                                    <h3>
                                        Name Change
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>219
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Compliances">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/CorporateCompliance/ChangeOfregisteredOffice">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/Change-of-Registered-Office-3-1024x576.png"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/CorporateCompliance/ChangeOfregisteredOffice" class="dribbble-title">
                                    <h3>
                                        Change Of Registered Office
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>200
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Compliances">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/CorporateCompliance/ObjectChange">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/Object-change-of-LLP.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/CorporateCompliance/ObjectChange" class="dribbble-title">
                                    <h3>
                                        Object Change
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>650
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Compliances">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/CorporateCompliance/AlterationOfAOA">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/AlterationofAOA.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/CorporateCompliance/AlterationOfAOA" class="dribbble-title">
                                    <h3>
                                        Alteration Of AOA
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>930
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Compliances">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/CorporateCompliance/CompoundingOfOffence">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/Compounding-of-offences.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/CorporateCompliance/CompoundingOfOffence" class="dribbble-title">
                                    <h3>
                                        Compounding Of Offence
                                        <<span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>630
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Compliances">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/CorporateCompliance/DINApplication">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/DIN.png"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/CorporateCompliance/DINApplication" class="dribbble-title">
                                    <h3>
                                        DIN Application
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>350
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Compliances">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/CorporateCompliance/INC22A">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/Form-INC-22A.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/CorporateCompliance/INC22A" class="dribbble-title">
                                    <h3>
                                        INC22A
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>230
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Compliances">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/CorporateCompliance/FillingOfAnnualReturn">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/FillingofAnnualReturn.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/CorporateCompliance/FillingOfAnnualReturn" class="dribbble-title">
                                    <h3>
                                        Filling Of Annual Return
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>750
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Compliances">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/CorporateCompliance/ShareTransfer">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/Transfer-of-Shares1.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/CorporateCompliance/ShareTransfer" class="dribbble-title">
                                    <h3>
                                        Share Transfer
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>899
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Compliances">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/CorporateCompliance/FTE_CompanystrikeOff">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/FTE.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/CorporateCompliance/FTE_CompanystrikeOff" class="dribbble-title">
                                    <h3>
                                        FTE Company strike Off
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>550
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Compliances">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Compliances/MERGERS_ACQUISITIONS">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/Mergers_Acquisitions.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Compliances/MERGERS_ACQUISITIONS" class="dribbble-title">
                                    <h3>
                                        Merger & Acquisition
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>1k
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Compliances">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/CorporateCompliance/FEMARBI_SERVICES">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/PROFESSIONAL 12.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/CorporateCompliance/FEMARBI_SERVICES" class="dribbble-title">
                                    <h3>
                                        FEMA & RBI Services
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>980
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    @*COMPLIANCES END*@

                    @*REGISTRATION START*@
                    <li class="team shot-thumbnail Registration">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Registration/FSSAI">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/FSSAI Registration12.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Registration/FSSAI" class="dribbble-title">
                                    <h3>
                                        FSSAI Registration
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>149
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Registration">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Registration/IEC">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/IEC Code Licence12.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Registration/IEC" class="dribbble-title">
                                    <h3>
                                        IEC Code Licence
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>450
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Registration">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Registration/MSME">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/MSME Registration12.png"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Registration/MSME" class="dribbble-title">
                                    <h3>
                                        MSME Registration
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>540
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Registration">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Registration/ESI">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/ESI Registration12.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Registration/ESI" class="dribbble-title">
                                    <h3>
                                        ESI Registration
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>340
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Registration">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Registration/PF_Registration">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/PF Registration12.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Registration/PF_Registration" class="dribbble-title">
                                    <h3>
                                        PF Registration
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>250
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Registration">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Registration/TAN">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/tan-reg.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Registration/TAN" class="dribbble-title">
                                    <h3>
                                        TAN
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>750
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Registration">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Registration/PAN">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/permanent-account-number-in-india.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Registration/PAN" class="dribbble-title">
                                    <h3>
                                        PAN
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>90
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Registration">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Registration/Registration_Under">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/Trademark-Registration-Services.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Registration/Registration_Under" class="dribbble-title">
                                    <h3>
                                        Registration Under Shop & Establishment
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>50
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Registration">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Registration/Product_Registration">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/pp.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Registration/Product_Registration" class="dribbble-title">
                                    <h3>
                                        Product Registration
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>150
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    @*REGISTRATION END*@
                    @*TRADEMARK START*@
                    <li class="team shot-thumbnail Trademark">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Trademark/Registration">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/Trademark Registration new12.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Trademark/Registration" class="dribbble-title">
                                    <h3>
                                        Trademark Registration
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>380
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Trademark">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Trademark/TrademarkObjection">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/Trademark Objection new 12.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Trademark/TrademarkObjection" class="dribbble-title">
                                    <h3>
                                        Trademark Objection
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>560
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Trademark">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Trademark/TrademarkRenewal">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/trademark new renewel.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Trademark/TrademarkRenewal" class="dribbble-title">
                                    <h3>
                                        Trademark Renewal
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>900
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    @*TRADEMARK END*@
                    @*TAXATION START*@
                    <li class="team shot-thumbnail Taxation">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Taxation/INCOME_TAX">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/INCOME_TAX12.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Taxation/INCOME_TAX" class="dribbble-title">
                                    <h3>
                                        Income Tax
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>670
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Taxation">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Taxation/Computation">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/Computation12.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Taxation/Computation" class="dribbble-title">
                                    <h3>
                                        Computation
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>490
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Taxation">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Taxation/FilingOf_ReturnsOf_Income">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/FillingofAnnualReturn.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Taxation/FilingOf_ReturnsOf_Income" class="dribbble-title">
                                    <h3>
                                        Filing of Return of income
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>450
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Taxation">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Taxation/FilingOfAppeals">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/Filing of Appeals12.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Taxation/FilingOfAppeals" class="dribbble-title">
                                    <h3>
                                        Filing of Appeals
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>250
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Taxation">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Taxation/ClaimingRefunds">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/Claiming Refunds12.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Taxation/ClaimingRefunds" class="dribbble-title">
                                    <h3>
                                        Claiming Refunds
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>500
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail Taxation">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Taxation/TaxPlanning">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/Tax Planning12.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Taxation/TaxPlanning" class="dribbble-title">
                                    <h3>
                                        Tax Planning
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>750
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    @*TAXATION END*@
                    @*GST START*@
                    <li class="team shot-thumbnail GST">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Registration/GST_Registration">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/GST-Registration.png"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Registration/GST_Registration" class="dribbble-title">
                                    <h3>
                                        GST Registration
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>1.2k
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="team shot-thumbnail GST">
                        <div class="multi-shot">
                            <div class="dribbble-img">
                                <a class="dribbble-link" href="~/Registration/GST_Return">
                                    <picture>
                                        <img alt="images-16" src="~/Content/images/GST-Return.jpg"style="width:300px;height:300px;">
                                    </picture>
                                </a>

                                <a href="~/Registration/GST_Return" class="dribbble-title">
                                    <h3>
                                        GST Return
                                        <span class="m-team">read more...</span>
                                        <span class="comment">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>1.5k
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    @*GST END*@
                </ol>
            </div>
        </div>
    </div>
</div>

<!--#############################OUR SERVICES END########################################################-->
<!--############################latest news###############################################-->

@*<div class="container-fluid" id="newsId">
    <div class="card-head-sec" id="cardHeadSec">
        <div id="cardHead" style="font-size:5rem;text-align:center;text-transform:uppercase;margin-top:1rem;font-weight:bold;">
            <h4>Latest news</h4>
        </div>
    </div>    <div class="d-flex justify-content-center container mt-5">
        <figure class="snip1527">
            <div class="image"><img src="https://i.imgur.com/sSuJsu8.jpg" alt="pr-sample23" /></div>
            <figcaption>
                <div class="date"><span class="day">28</span><span class="month">Nov</span></div>
                <h3>
                    Acer Aspire 7 Gaming Laptop
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </figcaption> <a href="#"></a>
        </figure>
        <figure class="snip1527 hover">
            <div class="image"><img src="https://i.imgur.com/E0e8fLV.jpg" alt="pr-sample24" /></div>
            <figcaption>
                <div class="date"><span class="day">17</span><span class="month">Nov</span></div>
                <h3>
                    RedmiBook, Mi Laptops Launch
                </h3>
                <p> laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse </p>
            </figcaption> <a href="#"></a>
        </figure>
        <figure class="snip1527">
            <div class="image"><img src="https://i.imgur.com/qNV4rMU.jpg" alt="pr-sample25" /></div>
            <figcaption>
                <div class="date"><span class="day">01</span><span class="month">Dec</span></div>
                <h3>Google May Face Antitrust Case</h3>
                <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            </figcaption> <a href="#"></a>
        </figure>
    </div>

</div>*@
<!--############################latest news###############################################-->
