
@{
    ViewBag.Title = "GST_Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                    GST RETURN
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="~/Content/images/GST-Return.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="text-justify" style="font-size:18px;">
                                1.&nbsp; You must first file for GSTR-1 (for sales made) by the 10th of each month<br />
                                2. &nbsp;	The buyer views (and rectifies, if any) the sales made by you in GSTR-2A<br />
                                3. &nbsp;	The buyer then approves the sale made by you and files for GSTR-2 by the 15th of each month<br />
                                4. &nbsp;	If any modifications are made, you (the seller) can approve or reject the same in GSTR-1A<br />
                                5. &nbsp;	When both the seller and buyer approve of the forms, GSTR-3 is generated with the payment of taxes due by the 20th of each month<br />

                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  card">
    <div class="row bg-secondary text-white p-3 rounded w-100" style="font-size:18px;">
        <p class="text-justify">WMC is the best consultancy services platform in India, offering a various kind of services like to start a business and manage business such as Incorporation of Company, LLP, Registration of Partnership Firm etc. and trademark filing, tax registration, tax filing and GST registration and their filing. </p>
        <p class="text-justify">WMC can help you to get GST Registration. The average time taken to draft and file GST Registration documents under respective authority is about 1-2 working days, subject to government processing time and client document submission. Get a free consultation to get registration GST by scheduling an appointment with a WMC Advisor.</p>
    </div>
</div>

