.dl-horizontal dt {
    white-space: normal;
}


.navbar .dropdown-menu div[class*="col"] {
    margin-bottom: 1rem;
}

.navbar .dropdown-menu {
    border: none;
    background-color: #fff !important;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

    .navbar .nav-item {
        padding: .5rem .5rem;
        margin: 0 .25rem;
    }

    .navbar .dropdown {
        position: relative;
    }

    .navbar .dropdown-menu {
        width: 50%;
        left: 0;
        right: 0;
        /*  height of nav-item  */
        top: 45px;
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.6s linear;
    }
    .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.3s linear;
    }

    .navbar .dropdown-menu {
        border: 1px solid rgba(0,0,0,.15);
        background-color: #fff;
    }


.nav-link {
    display: block;
    padding: -0.5rem -243rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 0.5rem;
    em:;
}


.Icon_Top_Header {
    background: #eee;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet
div {
    display: block;
}

.Top-header {
    background-color: #4995d4;
}

.row{
    margin:0px;
    padding:0px;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    
}


.float {
    position: fixed;
    bottom: 30px;
    left: 40px;
    background-color: #25d366;
    text-align: center;
    z-index: 100;
}

