
@{
    ViewBag.Title = "Subsidiary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="card-body">
        <h3 class="card-header  bg-info text-white  text-center">
            WHOLLY OWNED FOREIGN SUBSIDIARY
        </h3>
        <div class="text-justify">
            A wholly-owned subsidiary is a company whose share is entirely owned by foreign company. The owner of
            a wholly-owned subsidiary is known as the parent company or holding company.
        </div>
        
    </div>
    <br>
    <br>
    <div class="bg-light card">
        <div class="card-header text-white bg-info">
            <h2 class="text-left">Process:</h2>
        </div>
        <div class="card-body">
            <p style="font-size:20px; color:black;">
                1. Application for name approval.<br>
                2. Obtain Digital Signature Certificate.<br>
                3. Obtain license from Central Govt.<br>
                4. Drafting of MOA / AOA, other documents.<br>
                5. Preparation of INC-9, DIR-2, Affidavit and other documents.<br>
                6. Incorporation documents will be filed on MCA Portal<br>
                7. Get Certificate of Incorporation<br>
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="bg-light card">
        <div class="card-header text-white bg-info">
            <h2 class="text-left"> Documents (Documents Required for Registration)</h2>
        </div>
        <div class="card-body">
            <p class="text-justify">
                1. Passport size color photograph of each subscribers<br>
                2. Copy of PAN card (Passport in case of NRI) of each subscriber.<br>
                3. Copy of address proof of each subscriber ( Bank Statement, telephone bill, electricity bill, mobile bill not
                older 2 months)<br>
                4. Self attested copy of identity proof of each subscriber (Voters ID, Passport, Driving License, Adhar card)<br>
                5. Address proof for Registered Office of the Company.(any utility bill, rent agreement, NOC from owner)<br>
                6. Digital Signature Certificate (DSC)<br>
                7. Main object of Company<br>
            </p>
        </div>
    </div>
</div>

