
@{
    ViewBag.Title = "INCOME TAX REFUND";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                    Claiming Refunds of INCOME TAX
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="~/Content/images/Claiming Refunds12.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="text-justify" style="font-size:18px;">
                                <p>Income Tax Department returns any excess tax that has been paid by an assessee. This happens when the actual tax liability is less than the amount of tax paid. As per Section 237 of the Income Tax Act, 1961, assessee can claim a refund for tax amount paid in excess. Refund orders are issued by Income Tax Department only after the thorough verification of each income tax refund claim.</p>
                                <p>For example, Mr. Ram paid Income Tax of Rs. 50,000/- but the amount of Income Tax payable was only Rs. 30,000/-. Thus, Mr. Ram will get Income Tax refund of Rs. 20,000/-</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="text-justify" style="font-size:18px;">
                                    It's a simply firm which is
                                    enabling doing business in India with Less Compliance and Less Costing. a Sole Proprietorship
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
    <div class="col-12 mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h4 class="text-center bg-info text-white" style="font-size:22px;">
                    Criteria to get Income Tax Refund
                </h4>
                <p>There are the following criteria to claim income tax refund:</p>
                <ul>
                    <li>Income taxes has paid on the basis of self-assessment which are excess than what you are liable to pay.</li>
                    <li>Income Tax return has filed on or before due date.</li>
                </ul>
                <h4 class="text-center bg-info text-white" style="font-size:22px;">How to Claim Income Tax Refund</h4>
                <p>There are following steps for claiming an income tax refund. it is very simple process which are as follows. </p>
                <ul>
                    <li>Income taxes has paid on the basis of self-assessment which are excess than what you are liable to pay;</li>
                    <li>It’s important to ensure this excess tax paid is reflecting in your Tax credit statement from 26AS to get the tax refund.</li>
                    <li>File Income Tax Return online at the official Income Tax e-Filing website</li>
                    <li>You get an acknowledgement number for filing the return.</li>
                    <li>After filing the ITR, the Income Tax Department will scrutinize and process the refund, if any.</li>
                    <li>Refund claims are processed through State Bank of India.</li>
                    <li>Mode of payment of refund is based on the details furnished by you in income tax return file.</li>
                    <li>It can be through ECS (electronic clearing system) or through demand draft or cheque.</li>
                    <li>If you choose to get the refund credit through ECS, it’s essential to provide all the necessary details such as bank account number, bank branch and IFSC code correctly in the income tax return file.</li>
                    <li>If you choose to receive the refund through demand draft or cheque, it will be sent to your communication address mentioned in the ITR file.</li>
                </ul>
                <h4>Time Limit for Claiming Income Tax Refund</h4>
                <p>Income Tax refund can be claimed within a year from the last date of the assessment year. </p>
                <h4>How to check Income Tax Refund Online</h4>
                <p>To view Refund/ Demand Status, please follow the below steps:</p>
                <ol>
                    <li>Go to https://incometaxindiaefiling.gov.in/e-Filing/UserLogin/LoginHome.html to visit relevant webpage</li>
                    <li>Login to e-Filing website with User ID, Password, Date of Birth / Date of Incorporation and Captcha. </li>
                    <li>
                        Go to My Account and click on "Refund/Demand Status".Below details would be displayed:
                        <ul>
                            <li>Assessment Year Status </li>
                            <li>Reason (For Refund Failure if any) </li>
                            <li>Mode of Payment is displayed.</li>
                        </ul>
                    </li>
                </ol>
                <h4>Status of Income Tax Refund Online:</h4>
                <p>There are some status show on income tax website on case to case basis such as refund had expired, refund had returned, refund paid, no demand no refund etc.</p>
                <p>Normally, we receive refund within 6 months for department. If we want to check status of income tax refund, log on to the NSDL website. Fill in your PAN and other details to check income tax refund status.</p>
                <ul>
                    <li>
                        If the status shows that<b> refund had expired:</b>
                        <ul>
                            <li>Request for reissuance of refund by logging into e-filing portal.</li>
                            <li>In case return was filed physically, then contact your income tax assessing officer.</li>
                        </ul>

                    </li>
                    <li>
                        If the status shows that<b> refund had returned:</b>
                        <ul>
                            <li>The refund payment cheque or demand draft sent to communication address has been returned undelivered or the bank account details provided for ECS are incorrect.</li>
                            <li>In such cases, you should contact your assessing officer to get the refund reissued.</li>
                            <li>In case of e-filing, place a request for reissuance of refund in your e-filing account.</li>

                        </ul>

                    </li>
                    <li>
                        If the status shows that <b>refund paid:</b>
                        <ul>
                            <li>This could be a delay from processing banks end. Check your account number, IFSC code and other bank details are correctly mentioned. Check with concerned department of SBI for further guidance.</li>

                        </ul>

                    </li>
                    <li>
                        If the status shows that<b> no demand no refund:</b>
                        <ul>
                            <li>Your IT return is processed, but income tax department has found (after scrutiny of facts and circumstances) that there was no extra tax paid.</li>
                            <li>In such cases you can file for rectification by submitting all the proofs of investment along with the Form 16.</li>

                        </ul>

                    </li>
                </ul>
                <h4>Interest on Delayed Income Tax Refund</h4>
                <p>In many cases taxpayers do not get refund within due time. In such a case, he will be get interest on Income Tax refund under the provisions of Section 244A of the Income Tax Act, 1961 at the rate of 6% P.A. form the Income Tax Department. </p>
                <p>Calculation of Interest on income tax refund will be from the date of payment of tax to the date of actual payment of refund.</p>
                <h4>Set-off Income Tax Refund against Outstanding Tax Dues</h4>
                <p>Under the provisions of Section 245 of the Income Tax Act, 1961, assessing officers are given a power to set-off or adjust the income tax refund claimed against any tax dues which is outstanding from the assesses/ taxpayer.</p>
                <h4>Tax Treatment of Income Tax Refund</h4>
                <p>Income Tax refund is not taxable as it is only the excess payment of tax which is refunded by the Income Tax Department. But interest on Income Tax refund is taxable as Income from Other Sources.</p>
                <p></p>
            </div>
        </div>
    </div>
    <div class="row bg-secondary text-white p-3 rounded" style="font-size:18px;">
        <p class="text-justify">WMC is leading Advisory services platform in India, offering a various kind of services like to start a business and manage business such as Incorporation of Company, LLP, Registration of Partnership Firm etc. and trademark filing, Corporate Compliances, tax registration, tax filing and GST registration and their filing.  </p>
        <p class="text-justify">
            WMC can help you for getting income tax refund. Get a free consultation for getting income tax refund by scheduling an appointment with a WMC Advisor.
        </p>
    </div>

</div>

