
@{
    ViewBag.Title = "COMPUTATION OF INCOME TAX";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                    COMPUTATION OF INCOME TAX
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="~/Content/images/Computation12.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="text-justify" style="font-size:18px;">
                                Income Tax Act 1961 provides absolute guideline for determination of taxability in India. Income Tax Act specifies the amount of income that is exempted from tax and also the rates of taxes applicable on various salary segments for each Financial Year or Previous Year.<br />
                                The person who is resident of India such as individual, proprietary firm, a partnership firm, Body of Individuals (BOI), Association of Persons (AOP) and company, is subject to abide by the Income Tax Act, need to pay tax and submit an annual Income Tax return, if their income falls under taxable slab rate.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="text-justify" style="font-size:18px;">
                                    <span class="text-dark font-weight-bold">Before calculating the amount of tax, we need to understand the following key points:</span>
                                    <ul>
                                        <li>Who is liable to pay tax in India?</li>
                                        <li>How to compute the Gross Taxable Income?</li>
                                        <li>What all incomes do not form part of the Gross Taxable Income?</li>
                                        <li>What are the permissible deductions from the Gross Taxable Income?</li>
                                        <li>What are the exempt limits and rates of taxes applicable on the net taxable Income?</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-12">
                <div class=" h4 text-center bg-info text-white p-2" style="font-size:22px;">
                    COMPUTATION OF INCOME TAX
                </div>
                <p class="p-2 text-justify">For calculation of income, amount received is classified under 5 heads of income; it is then to be adjusted with reference to the provisions of the Income Tax laws in the following manner.</p>
                <ol >
                    <li>Determine the residential status of the person as per section 6 of the Act.</li>
                    <li>
                        <p>Calculate the income as per the provisions of respective heads of income. Section 14 classifies the income under five heads.</p>
                        <ul>
                            <li>Income from salaries</li>
                            <li>Income from House Property</li>
                            <li>Profits and gains of business or Profession</li>
                            <li>Capital Gains</li>
                            <li>Income from other sources</li>
                        </ul>
                    </li>
                    <li>Consider all the deductions and allowances given under the respective heads before arriving at the net under each head.</li>
                    <li>Exclude the income exempt under section 10 of the Act.</li>
                    <li>
                        Aggregate of incomes computed under the 5 heads of income after applying clubbing provisions and
                        making adjustments of set off and carry forward of losses is known as Gross Total Income.
                    </li>
                    <li>Deduct therefrom the deductions admissible under Sections 80C to 80U. The balance is called Total income.</li>
                    <li>The total income is rounded off to the nearest multiple of Rupees ten. (Section 288A)</li>
                    <li>Add agriculture income (if any) in the total income calculated in (6) above. Then calculate tax on the aggregate as if such aggregate income is the Total Income.</li>
                    <li>Calculate income tax on the net agricultural income as increased by Rs. 2,50,000/3,00,000/5,00,000 as the case may be, as if such increased net agricultural income were the total income.</li>
                    <li>The amount of income tax determined under (9) above will be deducted from the amount of income tax determined under (8) above.</li>
                    <li>Calculate income tax on capital gains under Section 112, and on other income at specified rates.</li>
                    <li>The balance of amount of income tax left as per (10) above plus the amount of income tax at (11) above will be the income tax in respect of the total income.</li>
                    <li>
                        <p>Deduct the following from the amount of tax calculated under (12) above.</p>
                        <ul>
                            <li>Rebate under section 87A (if applicable).</li>
                            <li>Tax deducted and collected at source.</li>
                            <li>Advance tax paid.</li>
                            <li>Double taxation relief (Section 90 or 91).</li>
                        </ul>
                    </li>
                    <li>14.	The balance of amount left after deduction of items given in (13) above, shall be the net tax payable or net tax refundable for the assessee. Net tax payable/refundable shall be rounded off to the nearest multiple of Ten rupees (Section 288B).</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row bg-secondary text-white p-3 rounded" style="font-size:18px;">
        <p class="text-justify">WMC is leading Advisory services platform in India, offering a various kind of services like to start a business and manage business such as Incorporation of Company, LLP, Registration of Partnership Firm etc. and trademark filing, Corporate Compliances, tax registration, tax filing and GST registration and their filing.  </p>
        <p class="text-justify">
            WMC can help you for calculation of income tax and filings of their return. Get a free consultation for calculation of income tax and filings of their return by scheduling an appointment with a WMC Advisor. </p>
    </div>

</div>
