
@{
    ViewBag.Title = "TaxPlanning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                    Tax Planning
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="~/Content/images/taxplanning new.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="text-justify" style="font-size:18px;">
                                In India the tax laws are very complicated because of various deductions, exemptions, relief and rebates. Therefore, it is only logical that taxpayers generally plan their affairs so as to attract the least incidence of tax.
                                <br />In the context of saving tax, there are three commonly used practices, namely (a) Tax Evasion; (b) Tax Avoidance; (c) Tax Planning.
                                <br />Tax Planning is an exercise undertaken to minimize tax liability through the best use of all available allowances, deductions, exclusions, exemptions, etc., to reduce income and/or capital gains
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="text-justify" style="font-size:18px;">
                                    <p>We can say that tax Planning is a arranging of financial activities in such a way that maximum tax benefits are enjoyed by making use of all beneficial provisions in the tax laws which entitle the assessee to get certain rebates and reliefs. This is permitted under the law.</p>
                                    <p>We can also say that tax planning would imply compliance with the taxation provisions in such a manner that full advantage is taken of all tax exemptions, deductions, concessions, rebates and reliefs permissible under the Income Tax Act so that the incidence of tax is the least.</p>
                                    <p>Tax planning can neither be equated to tax evasion nor to tax avoidance with reference to a person, it is the scientific planning of the person’s operations in such a way so as to attract minimum liability to tax or postponement or for that matter deferment of the tax liability for the subsequent period by availing various incentives, concessions, allowances, rebates and relief’s provided for in the tax laws. </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
    <div class="col-12 card mt-3">
        <div class="row p-2">
            <div class="h3 w-100 p-2 bg-info text-white">OBJECTIVES OF TAX PLANNING</div>
            <p>Tax planning is a best way to the attainment of maximum benefits of the taxation laws within their framework. The basic objectives of tax planning are:</p>
            <ol>
                <li>Reduction of tax liability</li>
                <li>Minimisation of litigation</li>
                <li>Productive investment</li>
                <li>Healthy growth of economy</li>
                <li>Economic stability</li>
            </ol>
        </div>
    </div>
    <div class="col-12 card mt-3">
        <div class="row p-2">
            <div class="h3 w-100 p-2 bg-info text-white">ESSENTIALS OF TAX PLANNING</div>
            <p>Successful tax planning techniques should have following attributes :</p>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 p-2 shadow bg-info text-white text-center">
                    <h2 class="p-2">1.	Knowledge of tax laws</h2>
                    <p class="text-justify p-2">knowledge should be up to date of tax laws and assessee must also be aware of judgments made through various decisions of the courts. In addition, one must keep track of the circulars, notifications, clarifications and Administrative instructions issued by the CBDT or other tax regulatory body from time to time.</p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 p-2 shadow bg-dark text-white">
                    <h2 class="p-2">2.	The disclosure of all material information</h2>
                    <p class="text-justify p-2">The disclosure of all material information and furnishing the same to the income-tax department is an absolute pre-requisite of tax planning as concealment in any form would attract the penalty clauses –the penalty often ranging from 100 to 300% of the amount of tax sought to be evaded.</p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 p-2 shadow bg-primary text-white">
                    <h2 class="p-2">3.	Compliance of Law</h2>
                    <p class="text-justify p-2">Whatever is planned should not simply satisfy the requirements of law by complying with legal provisions as stated and meeting the tax obligations but also should be within the framework of law.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 card mt-3">
        <div class="row p-2">
            <div class="h3 w-100 p-2 bg-info text-white">SCOPE OR AREAS OF TAX PLANNING </div>
            <p>These are the important areas where planning can be attempted in an organised manner:</p>
            <ol>
                <li>Form of organisation/ownership pattern;</li>
                <li>Locational aspects;</li>
                <li>Nature of business.</li>
                <li>Tax planning in respect of corporate restructuring;</li>
                <li>Tax planning in respect of financial management;</li>
                <li>Tax planning in respect of employees remunerations;</li>
                <li>Tax planning in respect of specific managerial decisions;</li>
                <li>Tax planning in respect of Non-Residents</li>
            </ol>

        </div>
        <div class="row bg-secondary text-white p-3 rounded" style="font-size:18px;">
            <p class="text-justify">WMC is leading consultancy services platform in India, offering a various kind of services like to start a business and manage business such as Incorporation of Company, LLP, Registration of Partnership Firm etc. and trademark filing, Corporate Compliances, tax registration, tax filing and GST registration and their filing.  </p>
            <p class="text-justify">WMC can help you for minimisation of Tax through Tax planning and Tax management. Get a free consultation for minimisation of Tax through Tax planning and Tax management by scheduling an appointment with a WMC Advisor. </p>
        </div>

    </div>
</div>
      

