
@{
    ViewBag.Title = "TaxPlanning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                    Tax Planning
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="~/Content/images/taxplanning new.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="text-justify" style="font-size:18px;">
                                Sole proprietorship is a form of business entity where a single individual handles the entire business
                                organization. He is the sole recipient of all profits and bearer of all loses. There is no separate law that
                                governs sole proprietorship. This is the most easy business entity to establish in India.
                                It doesn’t need its own Permanent Account Number (PAN) and the PAN of the owner (Proprietor) acts as the PAN for the Sole Proprietorship firm Main objective is Open Current Bank Account on the Name of Business
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="text-justify" style="font-size:18px;">
                                    It's a simply firm which is
                                    enabling doing business in India with Less Compliance and Less Costing. a Sole Proprietorship
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
</div>

