
@{
    ViewBag.Title = "ESI";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                    ESI REGISTRATION
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="~/Content/images/ESI Registration12.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="text-justify" style="font-size:18px;">
                                EMPLOYEES STATE INSURANCE (ESI) is a social insurance and self-financing scheme that protects the interest of workers in eventuality such as sickness, maternity, temporary or permanent physical disablement, and death due to employment injury resulting in loss of wages or earning capacity. It is governed by Employees' State Insurance Act, 1948. This act provides need based care to workers and their dependents. It is managed by Employees’ State Insurance Corporation (ESIC) under the Ministry of Labour and Employment.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                @*<div class="text-justify" style="font-size:18px;">
                                    It's a simply firm which is
                                    enabling doing business in India with Less Compliance and Less Costing. a Sole Proprietorship
                                </div>*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-12 bg-light card">
            <div class="card-header bg-info text-white">
                <h5 class="text-left" style="font-size:21px; "> Applicability of ESI</h5>
            </div>
            <div class="card-body">
                <ol style="font-size:18px; ">
                    <p>Following establishments employing 10 or more persons attracts ESI coverage:-</p>
                    <li>Shop</li>
                    <li> 2.	Hotels or restaurants not having any manufacturing activity, but only engaged in sales</li>
                    <li>3.	Cinemas including preview theatres</li>
                    <li>4.	Road Motor Transport Establishments</li>
                    <li>5.	Newspaper establishments (that is not covered as factory under Sec.2(12))</li>
                    <li>6.	Private Educational Institutions (those run by individuals, trustees, societies or other organizations and Medical Institutions (including Corporate, Joint Sector, trust, charitable, and private ownership hospitals, nursing homes, diagnostic centers, pathological labs </li>

                </ol>






            </div>
        </div>




        <div class="col-12 bg-light card">
            <div class="card-header bg-info text-white">
                <h5 class="text-left" style="font-size:21px; "> Documents Required </h5>
            </div>
            <div class="card-body">
                <ol style="font-size:18px; ">
                    <p>The following documents are required for registering under the ESI scheme:-</p>
                    <li>A registration certificate or a license obtained under Shops and Establishment Act or Factories Act.</li>
                    <li>Memorandum and Articles of Association, or partnership deed or trust deed, based on the type of entity</li>
                    <li>A list of employees with their monthly compensation, in detail</li>
                    <li>A list of directors, partners and shareholders of the company.</li>
                    <li>The PAN card of the business and address proof of the establishment/firm.</li>
                    <li>Bank statements of the organization, with evidence of commencement of operation. </li>
                    <li>Photo of Manufacturing Unit and List of Machine. </li>
                </ol>





               
            </div>
        </div>






    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row bg-secondary text-white p-3 rounded" style="font-size:18px; ">
        <p class="text-justify">WMC is the best consultancy services platform in India, offering a various kind of services like to start a business and manage business such as Incorporation of Company, LLP, Registration of Partnership Firm etc. and trademark filing, tax registration, tax filing and GST registration and their filing.  </p>
        <p class="text-justify">WMC can help you in registration under Employees State Insurance (ESI). The average time taken to draft and file registration documents under ESI is about 5-10 working days, subject to government processing time and client document submission. Get a free consultation for ESI registration by scheduling an appointment with a WMC Advisor.</p>
    </div>
</div>
