
@{
    ViewBag.Title = "GST_Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                    GST RETURN
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="~/Content/images/GST-Return.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="text-black-50" style="font-size: 18px;">
                                        <ol start="1">
                                            <li>You must first file for GSTR-1 (for sales made) by the 10th of each month.</li>
                                            <li>The buyer views (and rectifies, if any) the sales made by you in GSTR-2A.</li>
                                            <li>The buyer then approves the sale made by you and files for GSTR-2 by the 15th of each month.</li>
                                            <li>If any modifications are made, you (the seller) can approve or reject the same in GSTR-1A.</li>
                                            <li> When both the seller and buyer approve of the forms, GSTR-3 is generated with the payment of taxes due by the 20th of each month.</li>
                                        </ol>
                                 </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
        
    </div>
</div>
<div class="clearfix"></div>