
@{
    ViewBag.Title = "GST_Return";
    Layout = "~/Views/Shared/_MenuView.cshtml";
}

<style>
    body {
        background-image: url('images/GST-Return.jpg');
        position: auto;
        background-repeat: no-repeat;
        width: 100%;
    }
</style>


<form>

    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="offset-7 col-5">
                    <form>
                        <div class="card">
                            <div class="card-header">
                                <div class="text-center" style="font-size:25px; color:aliceblue;">REQUEST A CALL BACK</div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="name"><b></b></label>
                                    <input type="text" class="form-control" id="txtname" name="txtname" placeholder="Your Name" required>
                                    @*<span id="message"></span><br>*@
                                </div>
                                <div class="form-group">
                                    <label for="email"><B></B></label>
                                    <input type="email" class="form-control" id="txtemail" name="txtemail"  placeholder="Email Address" required>
                                </div>
                                <div class="form-group">
                                    <label for="num"><B></B></label>
                                    <div class="input-group">
                                        <span class="input-group-addon bg-light p-1">+91 </span>
                                        <input type="tel" class="form-control" id="txtnumber" name="txtnumber" placeholder="Please Enter Number.." required>
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-primary btn-lg float-right">Get Start</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>

<section>
    <div class="jumbotron">
        <div class="bg-light card">
            <div class="card-header ">
                <h2 class="text-left"> GST RETURN</h2>
            </div>
            <div class="card-body">
                <div class="text-black-50" style="font-size:20px;">
                    <ol start="1">
                        <li>You must first file for GSTR-1 (for sales made) by the 10th of each month.</li>
                        <li>The buyer views (and rectifies, if any) the sales made by you in GSTR-2A.</li>
                        <li>The buyer then approves the sale made by you and files for GSTR-2 by the 15th of each month.</li>
                        <li>If any modifications are made, you (the seller) can approve or reject the same in GSTR-1A.</li>
                        <li> When both the seller and buyer approve of the forms, GSTR-3 is generated with the payment of taxes due by the 20th of each month.</li>
                    </ol>
                </div>
            </div>

</section>

