@{
    ViewBag.Title = "IEC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                    IEC CODE LICENCE
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="~/Content/images/IEC Code Licence12.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="text-justify" style="font-size:18px;">
                                IEC CODE Stands for IMPORT EXPORT CODE NUMBER. It is a Firm/Individual Pan number after approval. No export or import shall be made by any person or company without an Import-Export Code (IEC CODE) number unless specifically exempted. PAN Card is mandatory to issue Import Export Code number to the applicant for trade outside India
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                @*<div class="text-justify" style="font-size:18px;">
                                    It's a simply firm which is
                                    enabling doing business in India with Less Compliance and Less Costing. a Sole Proprietorship
                                </div>*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card-header bg-info text-white">
        <h5 class="text-left" style="font-size:21px;"> Documents Required </h5>
    </div>
    <div class="card-body">
        <ol style="font-size:18px;">
            <p>In case of proprietorship firm</p>
            <li>Self-attested Copy of Pan Card</li>
            <li>A Photograph</li>
            <li>A cancelled cheque of Firm</li>
            <li>Mobile Number and E-mail ID of proprietor</li>
            <li>Self-attested Copy of Address Proof of Applicant (Adhaar Card/Electricity Bill/ Mobile Bill)</li>

        </ol>
        <ol style="font-size:18px;">
            <p>In case of partnership firm</p>
            <li>Pan Card of partnership firm</li>
            <li>A cancelled cheque of Firm</li>
            <li>Address Proof of the Applicant Firm (Electricity Bill/ Mobile Bill)</li>
            <li>Partnership Deed</li>
            <li>List of Partners</li>
            <li>Mobile Number and E-mail ID of Partners</li>
            <li>A Photograph of applicant</li>
            <li>Self-attested Copy of Pan cards of Partners</li>
            <li>Self-attested Copy of Address proofs of Partners</li>

        </ol>
        <ol style="font-size:18px;">
            <p>In case of company:</p>
            <li>Copy of Pan Card of Company</li>
            <li>A cancelled cheque of Company</li>
            <li>COI</li>
            <li>MOA & AOA</li>
            <li>List of Directors</li>
            <li>Mobile Number and E-mail ID of Directors</li>
            <li>Self-attested Copy of Pan cards of Directors</li>
            <li>Self-attested Copy of Address proofs of Directors</li>
            <li>A Photograph of Applicant</li>

        </ol>





        
    </div>

</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row bg-secondary text-white p-3 rounded" style="font-size:18px;">
        <p class="text-justify">WMC is the best consultancy services platform in India, offering a various kind of services like to start a business and manage business such as Incorporation of Company, LLP, Registration of Partnership Firm etc. and trademark filing, tax registration, tax filing and GST registration and their filing. </p>
        <p class="text-justify">WMC can help you in registration of IEC. The average time taken to draft and file registration documents for IEC Code is about 5 - 10 working days, subject to government processing time and client document submission. Get a free consultation for IEC Code by scheduling an appointment with a WMC Advisor.</p>
    </div>
</div>


