
@{
    ViewBag.Title = "MSME";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                    MSME REGISTRATION
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="~/Content/images/MSME Registration12.png" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="text-justify" style="font-size:18px;">
                                MSME or Udyog Aadhar stands for micro, small and medium enterprises and any enterprise that falls under any of these three categories can apply for registration. These Enterprises are further categorized into two types of industries- manufacturing industry and service industry. The status of an enterprise under the MSMED Act is determined according to the investment slab under which an enterprise falls
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="text-justify" style="font-size:18px;">
                                    Although the MSME Registration or Udyog Aadhar Registration is not statutory but as Central or State Government is providing various benefits through emerging schemes, subsidies, incentives and many more other supports; thus people are tend to avail those benefits. It also facilitates promotion and development of enterprises which will contribute enormously to the Socio-Economic Development of the Country
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
    


       

        
            <div class="card-header  bg-info text-white">
                <h2 class="text-left " style="font-size:21px;">  Documents List</h2>
            </div>
            <div class="card-body">
                <div class="text-black-50" >
                    <ol start="1"style="font-size:18px;">
                        <li>Aadhaar Card of Applicant</li>
                        <li>Social Category of Applicant</li>
                        <li>One copy of (COI/VAT/MOA/TIN Certificate)</li>
                        <li>Postal Address of Company</li>
                        <li>Email Id and Mobile No. of Applicant</li>
                        <li>Bank Details of Company</li>
                        <li>Main Business Activity of Company</li>
                        <li>Total Number of Employees</li>
                        <li>Investment of Company(Plant and Machinery and All)</li>
                    </ol>
                    
                </div>


            </div>
        </div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row bg-secondary text-white p-3 rounded" style="font-size:18px;">
        <p class="text-justify">WMC is the best consultancy services platform in India, offering a various kind of services like to start a business and manage business such as Incorporation of Company, LLP, Registration of Partnership Firm etc. and trademark filing, tax registration, tax filing and GST registration and their filing. </p>
        <p class="text-justify">WMC can help you in registration under MSME. The average time taken to draft and file registration documents under MSME is about 1 working day, subject to government processing time and client document submission. Get a free consultation for MSME registration by scheduling an appointment with a WMC Advisor.</p>
    </div>
</div>
       




