
@{
    ViewBag.Title = "PAN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url('../Content/images/partnership_2.jpg');
        position: auto;
        background-repeat: no-repeat;
        width: 100%;
    }
</style>

<div class="container-fluid">
    <div class="row mt-5">
        <div class="offset-7 col-5 mt-5 mb-3">
            <form>
                <div class="card">
                    <div class="card-header bg-info">
                        <div class="text-center" style="font-size:25px; color:aliceblue;">REQUEST A CALL BACK</div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name"><b></b></label>
                            <input type="text" class="form-control" id="name" placeholder="Your Name" required>
                            @*<span id="message"></span><br>*@
                        </div>
                        <div class="form-group">
                            <label for="email"><B></B></label>
                            <input type="email" class="form-control" id="email" placeholder="Email Address" required>
                        </div>
                        <div class="form-group">
                            <label for="num"><B></B></label>
                            <div class="input-group">
                                <span class="input-group-addon bg-light p-1">+91 </span>
                                <input type="tel" class="form-control" id="num" placeholder="Please Enter Number.." required>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg float-right">Get Start</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="card-body">
        <h3 class="card-header  bg-info text-white  text-center">
            Permanent Account Number or PAN
        </h3>
        <div class="text-justify">
            Permanent Account Number or PAN Card is a nationalized identity card. Indian Income Tax Department has the authority to allocate this 10-digit alphanumeric and unique account number to a tax-paying person, company or HUF. It has lifetime validity. PAN card can be issued to association of persons, body of individuals, company, trust, limited liability partnership, firm, government, Hindu undivided family, artificial juridical person, or local authority.
            You’ll need it to file income tax returns, to make payments above Rs. 50,000, and even to open a bank account. A PAN card is a valid proof of identity in India and it can be issued to citizens of India (including minors), non-resident Indians (NRIs), and even foreign citizens.

        </div>

    </div>
    <br>
    <br>
    <div class="bg-light card">
        <div class="card-header text-white bg-info">
            <h2 class="text-left">Documents required applying for a PAN card online:-</h2>
        </div>
        <div class="card-body">
            <p style="font-size:20px; color:black;">
                Indian citizens need three types of documents to apply for a PAN card. These are an identity proof, an age proof, and a proof of date of birth.<br />
                1.	Identity proof documents (one of):<br />
                •	Elector's photo identity card<br />
                •	Ration card having photograph of the applicant<br />
                •	Passport<br />
                •	Driving license<br />
                •	Arm's license<br />
                •	Aadhaar card issued by the Unique Identification Authority of India<br />
                •	Photo identity card issued by the Central Government or State Government or a Public Sector Undertaking<br />
                •	Pensioner Card having photograph of the applicant<br />
                •	Central Government Health Scheme Card or Ex-servicemen Contributory Heath Scheme photo card<br />
                •	Certificate of identity in original signed by a Member of Parliament or Member of Legislative Assembly or Municipal Councilor or a Gazetted Officer, as the case may be<br />
                •	Bank certificate in original on letter head from the branch (along with name and stamp of the issuing officer) containing duly attested photograph and bank account number of the applicant.<br />

            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="bg-light card">
        <div class="card-header text-white bg-info">
            <h2 class="text-left">Address proof document (one of)</h2>
        </div>
        <div class="card-body">
            <p class="text-justify">
                •	copy of the following documents of not more than three months old<br />
                •	electricity bill<br />
                •	landline telephone or broadband connection bill<br />
                •	water bill<br />
                •	consumer gas connection card or book or piped gas bill<br />
                •	bank account statement<br />
                •	depository account statement<br />
                •	credit card statement<br />
                •	copy of post office pass book having address of the applicant<br />
                •	passport<br />
                •	passport of the spouse<br />
                •	voter ID card<br />
                •	latest property tax assessment order<br />
                •	driving licence<br />
                •	domicile certificate issued by the Government<br />
                •	Aadhaar card issued by the UIDAI<br />
                •	allotment letter of accommodation issued by the Central Government or State Government of not more than three years old<br />
                •	property registration document<br />
                •	certificate of address signed by a Member of Parliament or Member of Legislative Assembly or Municipal Councilor or a Gazetted Officer<br />
                •	employer’s certificate in original<br />
            </p>
        </div>
    </div>
    <div class="bg-light card">
        <div class="card-header text-white bg-info">
            <h2 class="text-left">Proof of date of birth (one of):</h2>
        </div>
        <div class="card-body">
            <p class="text-justify">
                •	birth certificate issued by the Municipal Authority or any office authorised to issue Birth and Death Certificate by the Registrar of Birth and Deaths or the Indian Consulate as defined in clause (d) of sub section (1) of section 2 of the Citizenship Act, 1955 (57 of 1955)<br />
                •	pension payment order<br />
                •	marriage certificate issued by Registrar of Marriages<br />
                •	matriculation certificate<br />
                •	passport<br />
                •	driving license<br />
                •	domicile certificate issued by the Government<br />
                •	affidavit sworn before a magistrate stating the date of birth<br />



            </p>
        </div>
    </div>
    <div class="bg-light card">
        <div class="card-header text-white bg-info">
            <h2 class="text-left">How to apply for PAN Card online:-</h2>
        </div>
        <div class="card-body">
            <p class="text-justify">
                You can apply for a PAN card online either via NSDL or UTITSL websites. Both have been authorised to issue PAN cards in India.<br /> For this tutorial, we will show you how to apply for a PAN card via the NSDL website.



            </p>
        </div>
    </div>

</div>
