
@{
    ViewBag.Title = "PF_Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="card-body">
        <h3 class="card-header  bg-info text-white  text-center">
            PROVIDENT FUND
        </h3>
        <div class="text-justify">
            The Employee Provident Fund (EPF), popularly known as the Provident Fund (PF) is a retirement saving scheme available to all the salaried employees on which interest is paid as decided by the Government from time to time.<br /> EPF is administered by the Employees Provident Fund Organization (EPFO), a statutory body formed by the Government of India under the Ministry of Labor and Employment.
        </div>

    </div>
    <br>
    <br>
    <div class="bg-light card">
        <div class="card-header text-white bg-info">
            <h2 class="text-left">Types of EPF:</h2>
        </div>
        <div class="card-body">
            <p style="font-size:20px; color:black;">
                1. <strong class="text-justify">Statutory PF:-</strong>It is set up under the provisions of the Provident Funds Act,1925 maintained by the Government and Semi-Government organizations, local authorities,railways, universities and educational institutions.<br />
                2. <strong class="text-justify">Recognized PF- :-</strong>Any establishment which is recognized by the Commissioner of Income Tax is called as recognized provident fund. To be recognized, an organization of 20 or more members shall invest funds as per the guidelines of PF Act, 1952, and can get an approval from the PF Commissioner of Income-tax.<br />
                3.<strong class="text-justify">Unrecognized PF:-</strong>The provident fund that is not recognized by Commissioner of Income Tax is known as an unrecognized provident fund.<br />
                4.<strong class="text-justify">Public PF:-</strong>The Central Government has established the public provident fund where any member, either salaried employee or a business employed person shall participate by opening a PF account at the State Bank of India or other nationalized banks. Any amount subjected to a minimum of Rs.500 and maximum of Rs.1,50,000 per annum may be deposited under this PF account, on which a certain sum of interest is credited every year, which could be  repayable after 15 years.<br />

            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="bg-light card">
        <div class="card-header text-white bg-info">
            <h2 class="text-left">Online EPF Registration Process for Employer</h2>
        </div>
        <div class="card-body">
            <p class="text-justify">
                Online registration is important for employers as they deduct the TDS from employees’ salary. In order to register online, you will be required to create an account first. PF registration is obligatory for companies with more than 20 employees
            </p>
        </div>
    </div>
    <div class="bg-light card">
        <div class="card-header text-white bg-info">
            <h2 class="text-left">Eligibility for EPF Registration</h2>
        </div>
        <div class="card-body">
            <p class="text-justify">
                Employees’ drawing less than Rs 15,000 per month are compulsorily required to become member of the EPF. An employee who is drawing basis pay of more than Rs 15,000 can still become a member and make PF contributions, provided he has to take the consent of the Employer and Assistant PF Commissioner.

                Companies employing 20 or more employees are compulsorily required to register themselves within one month from the time of attaining this strength.
                Co-operative societies are expected to register if their employee strength is 50 or more, working with the aid of Power

            </p>
        </div>
    </div>
    <div class="bg-light card">
        <div class="card-header text-white bg-info">
            <h2 class="text-left">EPF Registration Procedure</h2>
        </div>
        <div class="card-body">
            <p class="text-justify">
                For EPF Registration procedure, an employer can choose to register either offline or online, with the online option being the preferred mode for registration today. The registration form can be downloaded from the website of the Employees’ Provident Fund Organization. Employers need to provide the following details to successfully register themselves<br />
                •	Name and address of company<br />
                •	Head office and branch details<br />
                •	Date of incorporation/registration of company<br />
                •	Strength and Details of employees<br />
                •	Activity the business/enterprise is involved in – i.e. manufacturing, production, service, etc.<br />
                •	Legal details – This pertains to legal status of a company, i.e. whether it is a private firm/public company, partnership or society, etc.<br />
                •	Owner details, including designation and address of Directors and partners<br />
                •	Particulars related to wage component of employees, i.e. total wage disbursed during a month<br />
                •	Details of bank with whom company has banking relationship<br />
                •	PAN details<br />
                •	Basic details of employee (name, date of joining, salary, etc.)<br />
                •	In case the establishment is already covered under the -- ESIC, the ESIC Code.<br />
                •	If the establishment is already on lease, the start date -- and the details of the lessee(s)<br />
                •	Scanned copy of Consent letter of the majority of employees with their details and signatures. (Only in case of voluntary coverage)<br />
                •	Date of agreement and any subsequent date -- mentioned in the said agreement for voluntary coverage. (Only in case of voluntary coverage)<br />
                •	Specimen Signature of Authorised Signatory<br />


            </p>
        </div>
    </div>
</div>
