
@{
    ViewBag.Title = "Product_Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h4 class="card-header  text-center bg-info text-white" style="font-size:21px;">
                    Procedure of Registration
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="~/Content/images/PROFESSIONAL 12.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                        </div>
                        
                        

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row w-100">
        <div class="col-12 bg-light card">
            <div class="card-header bg-info text-white ">
                <h5 class="text-left" style="font-size:21px;">Product Registration</h5>
            </div>
            <div class="card-body">

                <ol style="font-size:18px;">
                    <li>Agmark</li>
                    <li>BIS Hallmark</li>
                    <li>Ecomark</li>
                    <li>FPO Mark</li>
                    <li>India Organic Mark</li>
                    <li>ISI Mark</li>
                    <li>Non Polluting Vehicles Mark</li>
                    <li>Vegetarian Mark</li>
                    <li>Toxicity Label</li>
                    <li>Silk Mark</li>
                    <li>Ayush Mark</li>
                    <li>Geographical Indication Mark</li>
                    <li>Handloom Mark</li>
                    <li>Wool mark</li>
                    <li>BEE Stars</li>
                    <li>Recycling Mark</li>
                    <li>FSSAI Logo </li>
                </ol>
            </div>
            
        </div>




    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row bg-secondary text-white p-3 rounded">
        <p class="text-justify" style="font-size:18px;">WMC is the best consultancy services platform in India, offering a various kind of services like to start a business and manage business such as Incorporation of Company, LLP, Registration of Partnership Firm etc. and trademark filing, tax registration, tax filing and GST registration and their filing.  </p>
        <p class="text-justify">WMC can help you to get Product Registration. The average time taken to draft and file Product Registration documents under respective authority is about 5-10 working days, subject to government processing time and client document submission. Get a free consultation to get registration product by scheduling an appointment with a WMC Advisor</p>
    </div>
</div>

