
@{
    ViewBag.Title = "TAN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                    TAN (Tax Deduction and Collection Account Number)
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="~/Content/images/tan-reg.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="text-justify" style="font-size:18px;">
                                TAN registration is required for all the assessee required to deduct TDS (Tax deducted at source) on transaction.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                @*<div class="text-justify" style="font-size:18px;">
                                    It's a simply firm which is
                                    enabling doing business in India with Less Compliance and Less Costing. a Sole Proprietorship
                                </div>*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="bg-light card">
            <div class="card-header text-white bg-info">
                <h2 class="text-left" style="font-size:21px;">Application Procedure</h2>
            </div>
            <ol type="a">
                <li>An applicant will fill Form 49B online and submit the form</li>
                <li>If there are any errors, rectify them and re-submit the form.</li>
                <li>A confirmation screen with all the data filled by the applicant will be displayed.</li>
                <li>The applicant may either edit or confirm the same</li>
                <li>On confirmation, an acknowledgment screen will be displayed.acknowledgment consists of  </li>
                <li>
                    <ol type="I">

                        <li>A unique 14-digit acknowledgment number</li>
                        <li>Status of applicant</li>
                        <li> Name of applicant</li>
                        <li> Contact details (address, e-mail and telephone number)</li>
                        <li> Payment details</li>
                        <li>Space for signature</li>
                    </ol>
                </li>
                <li>Applicant shall save and print this acknowledgment</li>
                <li>Signature / Left thumb impression should only be within the box provided in the acknowledgment. In case of applicants other than 'Individuals', the authorised signatory shall sign the acknowledgment. Left hand Thumb impression, if used, should be attested by a Magistrate or a Notary Public or Gazetted Officer, under official seal and stamp</li>
                <li>Pay the fee for processing TAN application. the Payment can be made by: demand draft or cheque or  credit card / debit card or net banking or Demand draft / cheque shall be in favor of 'NSDL - TIN' payable at Mumbai</li>
                
            </ol>
                

            </div>
           
        </div>

       
    </div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row bg-secondary text-white p-3 rounded">
        <p class="text-justify">WMC is the best consultancy services platform in India, offering a various kind of services like to start a business and manage business such as Incorporation of Company, LLP, Registration of Partnership Firm etc. and trademark filing, tax registration, tax filing and GST registration and their filing.  </p>
        <p class="text-justify">WMC can help you to get TAN. The average time taken to draft and file registration documents of TAN is about 2-5 working days, subject to government processing time and client document submission. Get a free consultation to get TAN by scheduling an appointment with a WMC Advisor.</p>
    </div>
</div>




