
@{
    ViewBag.Title = "TAN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url('../Content/images/partnership_2.jpg');
        position: auto;
        background-repeat: no-repeat;
        width: 100%;
    }
</style>

<div class="container-fluid">
    <div class="row mt-5">
        <div class="offset-7 col-5 mt-5 mb-3">
            <form class="form" action="/Home/Enquiry" method="post">
                <div class="card">
                    <div class="card-header bg-info">
                        <div class="text-center" style="font-size:25px; color:aliceblue;">REQUEST A CALL BACK</div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name"><b></b></label>
                            <input type="text" class="form-control" id="txtname" name="txtname" placeholder="Your Name" required>
                            @*<span id="message"></span><br>*@
                        </div>
                        <div class="form-group">
                            <label for="email"><B></B></label>
                            <input type="email" class="form-control" id="txtemail" name="txtemail" placeholder="Email Address" required>
                        </div>
                        <div class="form-group">
                            <label for="num"><B></B></label>
                            <div class="input-group">
                                <span class="input-group-addon bg-light p-1">+91 </span>
                                <input type="tel" class="form-control" id="txtnumber" name="txtnumber" placeholder="Please Enter Number.." required>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg float-right">Get Start</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="card-body">
        <h3 class="card-header  bg-info text-white  text-center">
            TAN (Tax Deduction and Collection Account Number)
        </h3>
        <div class="text-justify">
            TAN registration is required for all the assessees required to deduct TDS (Tax deducted at source) on transaction
        </div>

    </div>
    <br>
    <br>
    <div class="bg-light card">
        <div class="card-header text-white bg-info">
            <h2 class="text-left">Application Procedure:-</h2>
        </div>
        <div class="card-body">
            <p style="font-size:20px; color:black;">
                (a)	An applicant will fill Form 49B online and submit the form.<br />
                (b)	If there are any errors, rectify them and re-submit the form.<br />
                (c)	A confirmation screen with all the data filled by the applicant will be displayed.<br />
                (d)	The applicant may either edit or confirm the same.<br />
                (e)	On confirmation, an acknowledgment screen will be displayed. The acknowledgment consists of:<br />
                *  A unique 14-digit acknowledgment number<br />
                *  Status of applicant<br />
                *  Name of applicant<br />
                *  Contact details (address, e-mail and telephone number)<br />
                *  Payment details<br />
                *  Space for signature<br />
                (f)	Applicant shall save and print this acknowledgment.<br />
                (g)	Signature / Left thumb impression should only be within the box provided in the acknowledgment. In case of applicants other than 'Individuals', the authorised signatory shall sign the acknowledgment. Left hand Thumb impression, if used, should be attested by a Magistrate or a Notary Public or Gazetted Officer, under official seal and stamp<br />
                (h)	Pay the fee for processing TAN application. the Payment can be made by: demand draft or cheque or  credit card / debit card or net banking or Demand draft / cheque shall be in favor of 'NSDL - TIN' payable at Mumbai<br />
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="bg-light card">
        <div class="card-header text-white bg-info">
            <h2 class="text-left">Registration under Shop & Establishment</h2>
        </div>
        <div class="card-body">
            <p class="text-justify">
                The Delhi Shops and Establishments Act, 1954 was enforced with the view of regulating the working conditions of the employees working at such Shops and Establishments. Generally, the working conditions of many small shops and commercial establishments are prone to a lot of ill practices such as child exploitation, unreasonable working hours, unreasonably low wages and salary, lack of healthy working conditions etc. due to lack of government's supervision. The Act seeks to establish an Authority governing these establishments, improve working conditions for the employees and penalize employers who do not act in consonance with the Act.
                The shops and commercial establishments regulate to the commercial establishment or premises wherein any trade, business or profession or any work in connection with, or incidental or ancillary thereto is carried on, such as hotels, restaurants, theaters, bakeries, societies, charitable trusts, educational institutions , eating houses, premises of business for brokerage, banking, insurance firms, public places of amusement and entertainment, etc.
            </p>
        </div>
    </div>
    <div class="bg-light card">
        <div class="card-header text-white bg-info">
            <h2 class="text-left">Procedure of Registration </h2>
        </div>
        <div class="card-body">
            <p class="text-justify">
                1.	Fill the application form<br />
                2.	Application Form sends to the Chief Inspector within 90 days from the date of establishment with prescribed fee.<br />
                3.	The Chief Inspector shall, on being satisfied about the correctness of the statement, register the establishment<br />


            </p>
        </div>
    </div>
    <div class="bg-light card">
        <div class="card-header text-white bg-info">
            <h2 class="text-left">Documents/ information are required for registration under Shop & Establishment:-</h2>
        </div>
        <div class="card-body">
            <p class="text-justify">
                1.	Name of the establishment, if any.<br />
                2.	Postal address of the establishment.<br />
                3.	Full name of the occupier or the employer [including his father's name].<br />
                4.	Full name of the Manager, if any [including his father's name]<br />
                5.	Category of the establishment, i.e., whether a shop, commercial establishment, residential hotel, restaurant, eating house, theatre or other place of public amusement or entertainment.<br />
                6.	Nature of business<br />
                7.	Names of members of employer's family, working in the establishment (state separately the names of young persons, if any).<br />
                8.	Names of other persons occupying position of management or employees engaged in confidential capacity.<br />
                9.	Total number of employees (state separately the number of men, women and/or young persons, if any).<br />
                10.	Date on which the establishment commenced its work<br />



            </p>
        </div>
    </div>
    <div class="bg-light card">
        <div class="card-header text-white bg-info">
            <h2 class="text-left">
                Renewal of Registration Certificate:-
            </h2>
        </div>
        <div class="card-body">
            <p class="text-justify">
                The Registration Certificate shall be renewed at an interval of everyone year on payment of the prescribed fee.

            </p>
        </div>
    </div>
</div>


