<div class="container-fluid  bg-secondary text-white">
    <div class="text-uppercase h2 text-center p-2 bg-primary w-100" style="font-size:25px;">Site Map</div>
    <hr>
    <div class="page-footer font-weight-normal">
        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5 p-2 ">

            <!-- Grid row -->
            <div class="row bg-dark-text">

                <!-- Grid column -->
                <div class="col-lg-2 col-md-2 col-sm-12 mx-auto mb-4 animated infinite slideInDown">

                    <!-- Links -->
                    <div class="text-uppercase h6">Start Business</div>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto">
                    @*<p>
                            <a class="text-white" href="../StartUpBusiness/Partnership_Firm">Proprietorship</a>
                        </p>*@
                    <p>
                        <a class="text-white" href="../StartABusiness/Partnership_Firm">Partnership</a>
                    </p>
                    <p>
                        <a class="text-white" href="../StartABusiness/Limited_Liability">LLP</a>
                    </p>
                    <p>
                        <a class="text-white" href="#!">One Person Company</a>
                    </p>
                    <p>
                        <a class="text-white" href="../StartABusiness/Private_Limited_Company">Private Limited Company</a>
                    </p>
                    <p>
                        <a class="text-white" href="../StartABusiness/Public_Limited_Company">Public Limited Company</a>
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-3 col-md-3 col-sm-12 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Registration</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto">
                    <p>
                        <a class="text-white" href="../Accounting_Services/GST_Registration">GST Registration</a>
                    </p>
                    <p>
                        <a class="text-white" href="../Accounting_Services/GST_Return">GST Return</a>
                    </p>
                    <p>
                        <a class="text-white" href="../Registration/TAN">TAN Registration</a>
                    </p>
                    <p>
                        <a class="text-white" href="../Registration/PAN">Pan Card</a>
                    </p>
                    <p>
                        <a class="text-white" href="#!">Professional Tax</a>
                    </p>
                    <p>
                        <a class="text-white" href="../Taxation/INCOME_TAX">Income Tax Return</a>
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-2 col-md-2 col-sm-12 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">IPR</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto">
                    <p>
                        <a class="text-white" href="../Trademark/Registration">Tradmark Registration</a>
                    </p>
                    <p>
                        <a class="text-white" href="../Trademark/TrademarkObjection">Trademark Objection</a>
                    </p>
                    <p>
                        <a class="text-white" href="../Trademark/TrademarkRenewal">Trademark Renewal</a>
                    </p>
                    <p>
                        <a class="text-white" href="#!">Copyright Registration</a>
                    </p>
                    <p>
                        <a class="text-white" href="#!">Patent Registration</a>
                    </p>

                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 mx-auto mb-4 animated infinite slideInDown">

                    <!-- Links -->
                    <div class="text-uppercase h6">Compliances</div>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto">
                    @*<p>
                            <a class="text-white" href="../StartUpBusiness/Partnership_Firm">Proprietorship</a>
                        </p>*@
                    <p>
                        <a class="text-white" href="../Compliances/Corporatelaw_Compliance">Corporatelaw<br />Compliance</a>
                    </p>
                    <p>
                        <a class="text-white" href="../Compliances/MERGERS_ACQUISITIONS">Mergers<br />Acquisitions</a>
                    </p>
                    <p>
                        <a class="text-white" href="../Compliances/FEMARBI_SERVICES">Fema Rbi<br />Services</a>
                    </p>
                    <p>
                        <a class="text-white" href="#">Certification<br />Attestation Services</a>
                    </p>


                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-3 col-md-3 col-sm-12 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Organization</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" ">
                    <p>
                        <a href="../Home/About"><i class="fa fa-home mr-3 text-white"> About Us</i></a>
                    </p>
                    <p>
                        <a href="#"><i class="fa fa-envelope mr-3 text-white">ContactUs</i></a>
                    </p>
                    <p>
                        <i class="fa fa-phone mr-3"></i>Blog
                    </p>
                    <p>
                        <i class="fa fa-print mr-3"></i>Pay Now
                    </p>
                    <h6 class="text-uppercase font-weight-bold">Social Media</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" ">
                    <i class="fa fa-facebook btn btn-dark" aria-hidden="true"></i>
                    <i class="fa fa-twitter  btn btn-dark" aria-hidden="true"></i>
                    <i class="fa fa-google btn btn-dark" aria-hidden="true"></i>
                    <i class="fa fa-linkedin btn btn-dark" aria-hidden="true"></i>
                    <i class="fa fa-youtube btn btn-dark" aria-hidden="true"></i>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->


    </div>

</div>
<style>
    footer p {
        color: #fff;
        text-align: center;
      
        /*padding:5px;*/
        margin: 0;
        font-size: 16px;
        font-weight: 500;
    }
</style>

<footer class="fixed-bottom  bg-dark">
    <div class="float-left text-white  p-2">
        <div class="text-center">Copy Right &copy; 2018 All Right Reserved by <b>WISDOM MANAGEMENT CONSULTANCY</b>   </div>
    </div>
    <div class="float-right">
        <p class="bg-primary shadow p-2" style="border-top-left-radius:10px;">Presented By : <a href="http://www.CodeLoverTechnology.com/" target="_blank" class="text-white">CodeLover Technology</a></p>
    </div>
    
</footer>