<div class="">
    <section style="height:80px;"></section>
    <!----------- Footer ------------>
    <footer class="footer-bs">
        <div class="row">
            <div class="col-md-3 footer-brand animated fadeInLeft">
                <h2>Logo</h2>
                <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
                <p>© 2014 BS3 UI Kit, All rights reserved</p>
            </div>
            <div class="col-md-4 footer-nav animated fadeInUp">
                <h4>Menu —</h4>
                <div class="col-md-6">
                    <ul class="pages">
                        <li><a href="#">Start A Business</a></li>
                        <li><a href="#">Compliances</a></li>
                        <li><a href="#">Registration</a></li>
                        <li><a href="#">Trademark</a></li>
                        <li><a href="#">Taxation</a></li>
                    </ul>
                </div>
           
            </div>
            <div class="col-md-2 footer-social animated fadeInDown">
                <h4>Follow Us</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"> Facebook</i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"> Twitter</i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"> Instagram</i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"> Youtube</i></a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-ns animated fadeInRight">
                <h4>Newsletter</h4>
                <p>Subscribe Us</p>
                <p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="fa fa-envelope"></span></button>
                        </span>
                    </div><!-- /input-group -->
                </p>
            </div>
        </div>
    </footer>
    <section style="text-align:center; margin:10px auto;"><p>Designed by <a href="http://www.codelovertechnology.com/">CodeLoverTechnology</a></p></section>

</div>