<div class="container-fluid  bg-dark text-white">
    <div class="page-footer font-weight-normal">
        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5 ">

            <!-- Grid row -->
            <div class="row p-3 bg-dark-text">

                <!-- Grid column -->
                <div class="col-2 mx-auto mb-4 animated infinite slideInDown">

                    <!-- Links -->
                    <div class="text-uppercase h6">Incorporation</div>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" >
                    <p>
                        <a class="dark-grey-text" href="../StartUpBusiness/Partnership_Firm">Proprietorship</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Partnership</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">LLP</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">One Person Company</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">PVT. LTD. Company</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Public Limited Company</a>
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-3 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">GST</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto">
                    <p>
                        <a class="dark-grey-text" href="#!">GST Registration</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">GST Return</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">TAN Registration</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Pan Card</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Professional Tax</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Income Tax Return</a>
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-3 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">IPR</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto">
                    <p>
                        <a class="dark-grey-text" href="#!">Tradmark Registration</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Trademark Objection</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Trademark Renewal</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Copyright Registration</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Patent Registration</a>
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Organization</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" ">
                    <p>
                        <i class="fa fa-home mr-3"></i> About Us
                    </p>
                    <p>
                        <i class="fa fa-envelope mr-3"></i> ContactUs
                    </p>
                    <p>
                        <i class="fa fa-phone mr-3"></i>Blog
                    </p>
                    <p>
                        <i class="fa fa-print mr-3"></i>Pay Now
                    </p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->


    </div>

</div>
<style>
    footer p {
        color: #fff;
        text-align: center;
      
        padding:5px;
        margin: 0;
        font-size: 16px;
        font-weight: 500;
    }
</style>
<footer class="fixed-bottom  bg-dark">
    <p style="float:left;">
        Copy Right &copy; 2018 All reserved<span class="text-light" style="font-family:Arial;">
        WMCBIZ.COM</span>
    </p>
    <p class="m-0 float-right text-white" style="font-family:Arial;">Presented By :<a href="http://codelovertechnology.com/" target="_blank"> CodeLover Technology</a></p>
</footer>