<nav class="navbar navbar-expand-lg navbar-light bg-light progress-bar-animated fixed-top">

    <a class="navbar-brand" href="/hOME/Index" style="color:black;">WMCBIZ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Start-up business
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown" style="width: 500px; overflow: hidden;padding: 10px;">
                    <div class="row">
                        <div class="col-md-4" style="text-align:center;">
                            
                            <p><a href="#"></a>Partnership Firm</p>
                            <p>@Html.ActionLink("Sole-proprietorship", "Sole_Proprietorship", "StartUpBusiness", null,null)</p>
                            <p><a href="#"></a>Limited-liability </p>
                            <p><a href="#"></a>partnership</p>
                            <p><a href="#"></a>Private limited company</p>
                            <p><a href="#"></a>Public limited company</p>
                            <p><a href="#"></a>Non-profit organization</p>
                            <p><a href="#"></a>Society</p>
                            <p><a href="#"></a>trust</p>


                        </div>
                        <div class="col-md-4" >
                            <p><strong class="sub-menu-heading" style="color: darkcyan">Section8 Company with </strong></p>
                            <p><a href="#"></a>Nonprofit objects</p>



                        </div>
                        <div class="col-md-4">
                            <p><strong class="sub-menu-heading" style="color: darkcyan">For foreign entity</strong></p>
                            <p><a href="#"></a>Wholly Owned Foreign </p>
                            <p><a href="#"></a>Subsidiary</p>
                            <p><a href="#"></a>Liaison Office</p>
                            <p><a href="#"></a>Branch Office</p>


                        </div>
                    </div>
                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Registration
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown" style="width: 500px; height:auto; overflow: hidden;padding: 10px;">
                    <div class="row">
                        <div class="col-6" style="text-align:center;">
                            <ul class="list-group border-0">
                                <li class="list-group-item"><a class="list-group-item-action table-hover" href="~/Registration/FSSAI">FSSAI Registration</a></li>
                                <li class="list-group-item"><a class="list-group-item-action" href="~/Registration/IEC">IEC Code Licence</a></li>
                                <li class="list-group-item"><a class="list-group-item-action" href="~/Registration/MSME">MSME Registration</a></li>
                                <li class="list-group-item"><a class="list-group-item-action" href="~/Registration/ESI">ESI Registration</a></li>
                                <li class="list-group-item"><a href="#">PF Registration</a></li>
                                <li class="list-group-item"><a href="#">GST Registration</a></li>
                                
                            </ul>

                        </div>
                        <div class="col-6" style="text-align:center;">
                            <ul class="list-group border-0">
                                <li class="list-group-item"><a href="#">TAN</a></li>
                                <li class="list-group-item"><a href="#">PAN</a></li>
                                <li class="list-group-item"><a href="#">Registration under</a></li>
                                <li class="list-group-item"><a href="#">Shop & Establishment</a></li>
                                <li class="list-group-item"><a href="#">Factories</a></li>
                                <li class="list-group-item"><a href="#">Registration</a></li>
                            </ul>
                        </div>

                    </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Licence
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown" style="width: 400px; overflow: hidden;padding: 10px;">
                    <div class="row">
                        <div class="col-md-12" style="text-align:center;">
                            <p><strong class="sub-menu-heading" style="color: darkcyan">FSSAI Registration</strong></p>
                        </div>
                    </div>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Trademark
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown" style="width: 400px; overflow: hidden;padding: 10px;">
                    <div class="row">
                        <div class="col-md-12" style="text-align:center;">
                            <p><strong class="sub-menu-heading" style="color: darkcyan">FSSAI Registration</strong></p>
                            <p><a href="#"></a>Registration</p>
                            <p><a href="#"></a>Trademark Objection</p>
                            <p><a href="#"></a>Trademark Renewal</p>

                        </div>
                    </div>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Taxation
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown" style="width: 400px; overflow: hidden;padding: 10px;">
                    <div class="row">
                        <div class="col-md-6" style="text-align:center;">
                            <p><strong class="sub-menu-heading" style="color: darkcyan">INCOME TAX</strong></p>
                            <p><a href="#"></a>Computation</p>
                            <p><a href="#"></a>Filing of returns of income </p>
                            <p><a href="#"></a>Filing of appeals</p>
                            <p><a href="#"></a>Claiming refunds</p>
                            <p><a href="#"></a>Tax planning</p>
                            <p><a href="#"></a>Tax management</p>
                            <p><a href="#"></a>Availing tax </p>
                            <p><a href="#"></a>concessions</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong class="sub-menu-heading" style="color: darkcyan">GST</strong></p>
                            <p><a href="#"></a>Registration</p>
                            <p><a href="#"></a>Return</p>


                        </div>
                    </div>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Compliances
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown" style="width: 400px; overflow: hidden;padding: 5px;">
                    <div class="row">
                        <div class="col-md-12" style="text-align:center;">
                            <p><strong class="sub-menu-heading" style="color: darkcyan">GST</strong></p>
                            <p><a href="#"></a>CORPORATE LAW </p>
                            <p><a href="#"></a>COMPLIANCES</p>
                            <p><a href="#"></a>MERGERS & ACQUISITIONS</p>
                            <p><a href="#"></a>FEMA & RBI SERVICES</p>
                            <p><a href="#"></a>CERTIFICATION / ATTESTATION SERVICES</p>
                        </div>
                    </div>

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
        </ul>

    </div>
    <div class="clearfix"></div>
</nav>

