
<div class="menu-container">
  <div class="menu">
      <a href="~/hOME/Index" class="logo">WMC ADVISORY</a>
    <ul class="clearfix">

        @*################################################start a business start#########################################*@

        <li>
            <a href="#" class="business" >Start A Business</a>
            <ul>
                <li  >
                    <a href="#">Startup</a>
                    <ul>
                        <li><a href="~/StartABusiness/Partnership">Partnership</a></li>
                        <li><a href="~/StartABusiness/Sole_Proprietorship">Sole Prorietorship</a></li>
                        <li><a href="~/StartABusiness/Limited_Liability">Limited Liability Partnership</a></li>
                        <li><a href="~/StartABusiness/Limited_Liability">Private Limited Company</a></li>
                        <li><a href="~/StartABusiness/Public_Limited_Company">Public Limited Company</a></li>
                        <li><a href="~/StartABusiness/Non_Profit_Organization">Non Profit Organization</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Business</a>
                    <ul>
                        <li><a href="~/StartABusiness/Society">Society</a></li>
                        <li><a href="~/StartABusiness/Trust">Trust</a></li>
                        <li><a href="~/StartABusiness/Section8_Company_with_Nonprofit_objects">Wholly Owned Foreign Subsidiary</a></li>
                        <li><a href="~/StartABusiness/">Nidhi Company</a></li>
                        <li><a href="~/StartABusiness/">Liaison Office</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Office</a>
                    <ul>
                        <li><a href="~/StartABusiness/">Section 8 Company</a></li>
                        <li><a href="~/StartABusiness/">Branch Office</a></li>
                        <li><a href="~/StartABusiness/">Project Office</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Gallery</a>
                    <ul>
                        <li><a href="#" class="img-wrapper"><span class="img"><img src="~/Content/NewImages/Start new business.jpg" alt="image" style="width:300px;height:300px;" /></span></a></li>
                    </ul>
                </li>
            </ul>
        </li>
        @*################################################start a business end#########################################*@
        @*################################################compliances start#########################################*@
        <li>
            <a href="#" class="compliances" >Compliances</a>
            <ul>
                <li>
                    <a href="#">Director</a>
                    <ul>
                        <li><a href="~/CorporateCompliance/AppointmentOfDirector">Appointment Of Director</a></li>
                        <li><a href="~/CorporateCompliance/ResignationOfDirector">Resignation Of Director</a></li>
                        <li><a href="~/CorporateCompliance/RemovalOfdirector">Removal Of Director</a></li>
                        <li><a href="~/CorporateCompliance/AppointmentOfAuditor">Appointment Of Auditor</a></li>
                        <li><a href="~/CorporateCompliance/ResignationOfAuditor">Resignation Of Auditor</a></li>
                        <li><a href="~/CorporateCompliance/AlterationOfShareCapital">Alteration Of Share Capital</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Compliances</a>
                    <ul>
                        <li><a href="~/CorporateCompliance/NameChange">Name Changee</a></li>
                        <li><a href="~/CorporateCompliance/ChangeOfregisteredOffice">Change Of Registered Office</a></li>
                        <li><a href="~/CorporateCompliance/ObjectChange">Object Change</a></li>
                        <li><a href="~/CorporateCompliance/AlterationOfAOA">Alteration Of AOA</a></li>
                        <li><a href="~/CorporateCompliance/CompoundingOfOffence">Compounding Of Offence</a></li>
                        <li><a href="~/CorporateCompliance/DINApplication">DIN Application</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#">Compliances</a>
                    <ul>
                        <li><a href="~/CorporateCompliance/INC22A">INC22A</a></li>
                        <li><a href="~/CorporateCompliance/FillingOfAnnualReturn">Filling Of Annual Return</a></li>
                        <li><a href="~/CorporateCompliance/ShareTransfer">Share Transfer</a></li>
                        <li><a href="~/CorporateCompliance/FTE_CompanystrikeOff">FTE Company strike Off</a></li>
                        <li><a href="~/Compliances/MERGERS_ACQUISITIONS">Merger & Acquisition</a></li>
                        <li><a href="~/CorporateCompliance/FEMARBI_SERVICES">FEMA & RBI Services</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Gallery</a>
                    <ul>
                        <li>
                            <a href="#" class="img-wrapper"><span class="img"><img src="~/Content/NewImages/Compliance.jpg" alt="image" /></span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        @*################################################compliances end#########################################*@

        @*################################################registration start#########################################*@
        <li>
            <a href="#" class="registration" >Registration</a>
            <ul>
                <li>
                    <a href="#">Registration</a>
                    <ul>
                        <li><a href="~/Registration/FSSAI">FSSAI Registration</a></li>
                        <li><a href="~/Registration/IEC">IEC Code Licence</a></li>
                        <li><a href="~/Registration/MSME">MSME Registration</a></li>
                        <li><a href="~/Registration/ESI">ESI Registration</a></li>
                        <li><a href="~/Registration/PF_Registration">PF Registration</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Registration</a>
                    <ul>
                        <li><a href="~/Registration/TAN">TAN</a></li>
                        <li><a href="~/Registration/PAN">PAN</a></li>
                        <li><a href="~/Registration/Registration_Under">Registration Under Shop & Establishment</a></li>
                        <li><a href="~/Registration/Product_Registration">Product Registration</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Gallery</a>
                    <ul>
                        <li>
                            <a href="#" class="img-wrapper"><span class="img"><img src="~/Content/NewImages/Registrer your business.png" alt="image" style="width:300px;height:300px;" /></span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        @*################################################registration end#########################################*@

        @*################################################trademark start#########################################*@
        <li>
            <a href="#"class="trademark" >Trademark</a>
            <ul>
                <li>
                    <a href="#">Trademark</a>
                    <ul>
                        <li><a href="~/Trademark/Registration">Trademark Registration</a></li>
                        <li><a href="~/Trademark/TrademarkObjection">Trademark Objection</a></li>
                        <li><a href="~/Trademark/TrademarkRenewal">Trademark Renewal</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Gallery</a>
                    <ul>
                        <li>
                            <a href="#" class="img-wrapper"><span class="img"><img src="~/Content/NewImages/Trademark.jpg" alt="image" style="width:300px;height:300px;" /></span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        @*################################################trademark end#########################################*@

        @*################################################taxation start#########################################*@
        <li>
            <a href="#" class="taxation" >Taxation</a>
            <ul>
                <li>
                    <a href="#">Taxation</a>
                    <ul>
                        <li><a href="~/Taxation/INCOME_TAX">Income Tax</a></li>
                        <li><a href="~/Taxation/Computation">Computation</a></li>
                        <li><a href="~/Taxation/FilingOf_ReturnsOf_Income">Filing of Return of income</a></li>
                        <li><a href="~/Taxation/FilingOfAppeals">Filing of Appeals</a></li>
                        <li><a href="~/Taxation/ClaimingRefunds">Claiming Refunds</a></li>
                        <li><a href="~/Taxation/TaxPlanning">Tax Planning</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Gallery</a>
                    <ul>
                        <li>
                            <a href="#" class="img-wrapper"><span class="img"><img src="~/Content/NewImages/Taxation.jpg" alt="image" style="width:300px;height:300px;" /></span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        @*################################################taxation end#########################################*@

        @*################################################gst start#########################################*@
        <li>
            <a href="#" class="gst" >GST</a>
            <ul>
                <li>
                    <a href="#">GST</a>
                    <ul>
                        <li><a href="~/Registration/GST_Registration">GST Registration</a></li>
                        <li><a href="~/Registration/GST_Return">GST Return</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Gallery</a>
                    <ul>
                        <li>
                            <a href="#" class="img-wrapper"><span class="img"><img src="~/Content/NewImages/GST.jpg" alt="image" style="width:300px;height:300px;" /></span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        @*################################################registration end#########################################*@
        <li><a href="~/Home/Blog" class="blog" >Blog</a></li>
        <li><a href="~/Home/Contact" class="contact" >Contact</a></li>
    </ul>
  </div>
</div>
