
    <div class="menubar">
        <header class="header">
            <a href="~/hOME/Index" class="logo">WMC</a>
            <nav class="navbar ">
                <!-- #######################Start a business start#######################################-->
                <ul class="menu-items">
                    <li>
                        <a href="#" class="menu-item">START A BUSINESS</a>
                        <div class="mega-menu">
                            <div class="content">
                                <div class="col-img">
                                    <section class="startabusiness">

                                        <a href="#" class="img-wrapper"><span class="img"><img src="https://picsum.photos/200/300" alt="image" /></span></a>
                                    </section>
                                </div>
                                <div class="col">
                                    <section>

                                        <ul class="mega-links">
                                            <li class="list"><a href="~/StartABusiness/Partnership"><i class="fa fa-caret-right"> Partnership Firm</i></a></li>
                                            <li class="list"><a href="~/StartABusiness/Sole_Proprietorship"><i class="fa fa-caret-right"> Sole Proprietorship</i></a></li>
                                            <li class="list"><a href="~/StartABusiness/Limited_Liability"><i class="fa fa-caret-right"> Limited Liability Partnership</i></a></li>
                                            <li class="list"><a href="~/StartABusiness/Private_Limited_Company"><i class="fa fa-caret-right"> Private Limited Company</i></a></li>
                                            <li class="list"><a href="~/StartABusiness/Public_Limited_Company"><i class="fa fa-caret-right"> Public Limited Company</i></a></li>
                                            <li class="list"><a href="~/StartABusiness/Non_Profit_Organization"><i class="fa fa-caret-right"> Non Profit Organization</i></a></li>

                                        </ul>
                                    </section>
                                </div>
                                <div class="col">
                                    <section>

                                        <ul class="mega-links">
                                            <li class="list"><a href="~/StartABusiness/Society"><i class="fa fa-caret-right"> Society</i></a></li>
                                            <li class="list"><a href="~/StartABusiness/Trust"><i class="fa fa-caret-right"> trust</i></a></li>
                                            <li class="list"><a href="~/StartABusiness/Section8_Company_with_Nonprofit_objects"><i class="fa fa-caret-right"> Wholly Owned Foreign Subsidiary</i></a></li>
                                            <li class="list"><a href="~/StartABusiness/"><i class="fa fa-caret-right"> Nidhi Company</i></a></li>
                                            <li class="list"><a href="~/StartABusiness/"><i class="fa fa-caret-right"> Liaison Office</i></a></li>

                                        </ul>
                                    </section>
                                </div>
                                <div class="col">
                                    <section>

                                        <ul class="mega-links">
                                            <li class="list"><a href="~/StartABusiness/"><i class="fa fa-caret-right"> Section 8 Company</i></a></li>
                                            
                                            <li class="list"><a href="~/StartABusiness/"><i class="fa fa-caret-right"> Branch Office</i></a></li>
                                            <li class="list"><a href="~/StartABusiness/"><i class="fa fa-caret-right"> Project Office</i></a></li>
                                        </ul>
                                    </section>
                                </div>

                            </div>
                        </div>
                    </li>
                    <!-- ##################################Start a business end##############################-->
                    <!--###########################################Compliances start#############################-->
                    <li>
                        <a href="#" class="menu-item">COMPLIANCES</a>
                        <div class="mega-menu">
                            <div class="content">
                                <div class="col-img">
                                    <section>

                                        <a href="#" class="img-wrapper"><span class="img"><img src="https://picsum.photos/200/300" alt="image" /></span></a>
                                    </section>
                                </div>
                                <div class="col">
                                    <section>

                                        <ul class="mega-links">
                                            <li class="list"><a href="~/CorporateCompliance/AppointmentOfDirector"><i class="fa fa-caret-right"> Appointment Of Director</i></a></li>
                                            <li class="list"><a href="~/CorporateCompliance/ResignationOfDirector"><i class="fa fa-caret-right"> Resignation Of Director</i></a></li>
                                            <li class="list"><a href="~/CorporateCompliance/RemovalOfdirector"><i class="fa fa-caret-right"> Removal Of Director</i></a></li>
                                            <li class="list"><a href="~/CorporateCompliance/AppointmentOfAuditor"><i class="fa fa-caret-right"> Appointment Of Auditor</i></a></li>
                                            <li class="list"><a href="~/CorporateCompliance/ResignationOfAuditor"><i class="fa fa-caret-right"> Resignation Of Auditor</i></a></li>
                                            <li class="list"><a href="~/CorporateCompliance/AlterationOfShareCapital"><i class="fa fa-caret-right"> Alteration Of Share Capital</i></a></li>

                                        </ul>
                                    </section>
                                </div>
                                <div class="col">
                                    <section>

                                        <ul class="mega-links">
                                            <li class="list"><a href="~/CorporateCompliance/NameChange"><i class="fa fa-caret-right"> Name Change</i></a></li>
                                            <li class="list"><a href="~/CorporateCompliance/ChangeOfregisteredOffice"><i class="fa fa-caret-right"> Change Of Registered Office</i></a></li>
                                            <li class="list"><a href="~/CorporateCompliance/ObjectChange"><i class="fa fa-caret-right"> Object Change</i></a></li>
                                            <li class="list"><a href="~/CorporateCompliance/AlterationOfAOA"><i class="fa fa-caret-right"> Alteration Of AOA</i></a></li>
                                            <li class="list"><a href="~/CorporateCompliance/CompoundingOfOffence"><i class="fa fa-caret-right"> Compounding Of Offence</i></a></li>
                                            <li class="list"><a href="~/CorporateCompliance/DINApplication"><i class="fa fa-caret-right"> DIN Application</i></a></li>
                                        </ul>
                                    </section>
                                </div>
                                <div class="col">
                                    <section>

                                        <ul class="mega-links">
                                            <li class="list"><a href="~/CorporateCompliance/INC22A"><i class="fa fa-caret-right"> INC22A</i></a></li>
                                            <li class="list"><a href="~/CorporateCompliance/FillingOfAnnualReturn"><i class="fa fa-caret-right"> Filling Of Annual Return</i></a></li>
                                            <li class="list"><a href="~/CorporateCompliance/ShareTransfer"><i class="fa fa-caret-right"> Share Transfer</i></a></li>
                                            <li class="list"><a href="~/CorporateCompliance/FTE_CompanystrikeOff"><i class="fa fa-caret-right"> FTE Company strike Off</i></a></li>
                                            <li class="list"><a href="~/Compliances/MERGERS_ACQUISITIONS"><i class="fa fa-caret-right"> Merger & Acquisition</i></a></li>
                                            <li class="list"><a href="~/CorporateCompliance/FEMARBI_SERVICES"><i class="fa fa-caret-right"> FEMA & RBI Services</i></a></li>
                                        </ul>
                                    </section>
                                </div>

                            </div>
                        </div>
                    </li>
                    <!--###########################################Compliances end#############################-->
                    <!--###########################################Registration start#############################-->
                    <li>
                        <a href="#" class="menu-item">REGISTRATION</a>
                        <div class="mega-menu">
                            <div class="content">
                                <div class="col-img">
                                    <section>

                                        <a href="#" class="img-wrapper"><span class="img"><img src="https://picsum.photos/200/300" alt="image" /></span></a>
                                    </section>
                                </div>
                                <div class="col">
                                    <section>

                                        <ul class="mega-links">
                                            <li class="list"><a href="~/Registration/FSSAI"><i class="fa fa-caret-right"> FSSAI Registration</i></a></li>
                                            <li class="list"><a href="~/Registration/IEC"><i class="fa fa-caret-right"> IEC Code Licence</i></a></li>
                                            <li class="list"><a href="~/Registration/MSME"><i class="fa fa-caret-right"> MSME Registration</i></a></li>
                                            <li class="list"><a href="~/Registration/ESI"><i class="fa fa-caret-right"> ESI Registration</i></a></li>
                                            <li class="list"><a href="~/Registration/PF_Registration"><i class="fa fa-caret-right"> PF Registration</i></a></li>


                                        </ul>
                                    </section>
                                </div>
                                <div class="col">
                                    <section>

                                        <ul class="mega-links">
                                            <li class="list"><a href="~/Registration/TAN"><i class="fa fa-caret-right"> TAN</i></a></li>
                                            <li class="list"><a href="~/Registration/PAN"><i class="fa fa-caret-right"> PAN</i></a></li>
                                            <li class="list"><a href="~/Registration/Registration_Under"><i class="fa fa-caret-right"> Registration Under Shop & Establishment</i></a></li>
                                            <li class="list"><a href="~/Registration/Product_Registration"><i class="fa fa-caret-right"> Product Registration</i></a></li>


                                        </ul>
                                    </section>
                                </div>

                            </div>
                        </div>
                    </li>
                    <!--###########################################Registration end#############################-->
                    <!--###########################################Trademark start#############################-->
                    <li>
                        <a href="#" class="menu-item">TRADEMARK</a>
                        <div class="mega-menu">
                            <div class="content">
                                <div class="col-img">
                                    <section>

                                        <a href="#" class="img-wrapper"><span class="img"><img src="https://picsum.photos/200/300" alt="image" /></span></a>
                                    </section>
                                </div>
                                <div class="col">
                                    <section>

                                        <ul class="mega-links">
                                            <li class="list"><a href="~/Trademark/Registration"><i class="fa fa-caret-right"> Trademark Registration</i></a></li>
                                            <li class="list"><a href="~/Trademark/TrademarkObjection"><i class="fa fa-caret-right"> Trademark Objection</i></a></li>
                                            <li class="list"><a href="~/Trademark/TrademarkRenewal"><i class="fa fa-caret-right"> Trademark Renewal</i></a></li>

                                        </ul>
                                    </section>
                                </div>


                            </div>
                        </div>
                    </li>
                    <!--###########################################Trademark end#############################-->
                    <!--###########################################Taxation start#############################-->
                    <li>
                        <a href="#" class="menu-item">TAXATION</a>
                        <div class="mega-menu">
                            <div class="content">
                                <div class="col-img">
                                    <section>

                                        <a href="#" class="img-wrapper"><span class="img"><img src="https://picsum.photos/200/300" alt="image" /></span></a>
                                    </section>
                                </div>
                                <div class="col">
                                    <section>

                                        <ul class="mega-links">
                                            <li class="list"><a href="~/Taxation/INCOME_TAX"><i class="fa fa-caret-right"> Income Tax</i></a></li>
                                            <li class="list"><a href="~/Taxation/Computation"><i class="fa fa-caret-right"> Computation</i></a></li>
                                            <li class="list"><a href="~/Taxation/FilingOf_ReturnsOf_Income"><i class="fa fa-caret-right"> Filing of Return of income</i></a></li>
                                            <li class="list"><a href="~/Taxation/FilingOfAppeals"><i class="fa fa-caret-right"> Filing of Appeals</i></a></li>
                                            <li class="list"><a href="~/Taxation/ClaimingRefunds"><i class="fa fa-caret-right"> Claiming Refunds</i></a></li>
                                            <li class="list"><a href="~/Taxation/TaxPlanning"><i class="fa fa-caret-right"> Tax Planning</i></a></li>

                                        </ul>
                                    </section>
                                </div>

                            </div>
                        </div>
                    </li>
                    <!--###########################################Taxation end#############################-->
                    <!--###########################################GST start#############################-->
                    <li>
                        <a href="#" class="menu-item">GST</a>
                        <div class="mega-menu">
                            <div class="content">
                                <div class="col-img">
                                    <section>

                                        <a href="#" class="img-wrapper"><span class="img"><img src="https://picsum.photos/200/300" alt="image" /></span></a>
                                    </section>
                                </div>
                                <div class="col">
                                    <section>

                                        <ul class="mega-links">
                                            <li class="list"><a href="~/Registration/GST_Registration"><i class="fa fa-caret-right"> GST Registration</i></a></li>
                                            <li class="list"><a href="~/Registration/GST_Return"><i class="fa fa-caret-right"> GST Return</i></a></li>

                                        </ul>
                                    </section>
                                </div>


                            </div>
                        </div>
                    </li>
                    <!--###########################################GST end#############################-->
                    <!--###########################################Blog start#############################-->
                    <!--     <li>
                             <a href="#" class="menu-item">BLOG</a>
                             <div class="mega-menu blog">
                                 <div class="content">
                                     <div class="col">
                                         <div class="col-img">
                                         <a href="#" class="img-wrapper"><span class="img"><img src="https://picsum.photos/200/300" alt="image" /></span></a>
                                         </div>
                                             <h2>title</h2>
                                         <p>
                                             It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.

                                         </p>
                                         <a href="#" class="read-more">read more...</a>
                                     </div>
                                     <div class="col">
                                         <div class="col-img">
                                         <a href="#" class="img-wrapper"><span class="img"><img src="https://picsum.photos/200/300" alt="image" /></span></a>
                                         </div>
                                             <h2>title</h2>
                                         <p>
                                             It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.

                                         </p>
                                         <a href="#" class="read-more">read more...</a>
                                     </div>
                                     <div class="col">
                                         <div class="col-img">
                                         <a href="#" class="img-wrapper"><span class="img"><img src="https://picsum.photos/200/300" alt="image" /></span></a>
                                         </div>
                                             <h2>title</h2>
                                         <p>
                                             It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.

                                         </p>
                                         <a href="#" class="read-more">read more...</a>
                                     </div>
                                 </div>
                             </div>
                         </li>-->
                    <!--###########################################Blog end#############################-->

                    <li><a href="~/Home/Blog" class="menu-item">BLOG</a></li>
                    <li><a href="~/Home/Contact" class="menu-item">CONTACT</a></li>

                </ul>
            </nav>
        </header>
    </div>
