
@{
    ViewBag.Title = "Limited_Liability";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="col-12 card mt-3">
        <div class="row mt-5">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <div class="jumbotron-fluid bg-light card">
                    <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                        LIMITED-LIABILITY PARTNERSHIP
                    </h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img src="~/Content/images/llp.jpg" class="img-fluid img-thumbnail" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="text-justify" style="font-size:18px;">
                                    Limited Liability Partnership (LLP) firm is a new form of business entity established by an Act of the Parliament.<br /> LLP has the feature of Company and partnership firm also.
                                    LLP in India is governed by the Limited Liability Partnership Act 2008. LLP allows members to retain flexibility of ownership (similar to Partnership Firm) but provides a liability protection.


                                </div>
                                <br />
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="text-justify">
                                        The maximum liability of each partner in an LLP is limited to the extent of his/her investment in the firm. An LLP has its owner Permanent Account Number (PAN) and legal status. LLP does not get terminated by the death or insolvency of the limited partners.
                                        We need two or more persons for incorporation of LLP that will be associated for carrying on a lawful business with a view to profit shall subscribe their names to an incorporation document.

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-3">
                <div class="container-fluid">
                    <div class="mb-1">
                        <form class="form " action="/Home/Enquiry" method="post">
                            <div class="card">
                                <div class="card-header bg-info">
                                    <div class="text-center" style="font-size:20px; color:aliceblue;">REQUEST A CALL BACK</div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="name"><b></b></label>
                                        <input type="text" class="form-control" id="txtname" style="font-size:15px;" name="txtname" placeholder="Your Name" required>
                                        @*<span id="message"></span><br>*@
                                    </div>
                                    <div class="form-group">
                                        <label for="email"><B></B></label>
                                        <input type="email" class="form-control" id="txtemail" style="font-size:15px;" name="txtemail" placeholder="Email Address" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="num"><B></B></label>
                                        <div class="input-group">
                                            <span class="input-group-addon bg-light p-1">+91 </span>
                                            <input type="tel" class="form-control" id="txtnumber" style="font-size:15px;" name="txtnumber" placeholder="Please Enter Number.." required>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary btn-lg float-right" style="font-size:18px;">Get Start</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 bg-light card">
                <div class="card-header bg-info text-white ">
                    <h5 class="text-left" style="font-size:21px;">Process</h5>
                </div>
                <div class="card-body">
                    @*<div class="text-justify">
                        A simple procedure is followed for getting a firm registered.
                    </div>*@
                    <ol type="1" style="font-size:18px;">

                        <li>Obtaining DSC and DIN</li>
                        <li>Application for Name Approval</li>
                        <li>LLP Agreement</li>
                        <li>Filing of LLP form on MCA Portal</li>
                        <li>LLP Incorporation Certificate</li>
                        <li>Apply for PAN & TAN & Bank Account</li>

                    </ol>

                </div>
            </div>

            <br>
            <br>

            <div class="col-12 bg-light card">
                <div class="card-header bg-info text-white">
                    <h5 class="text-left"  style="font-size:21px;"> Required Documents:</h5>
                </div>
                <div class="card-body">
                    <ol  style="font-size:18px;">
                        <li>Copy of PAN Card or Passport (Foreign Nationals & NRIs).
                        <li>Copy of Voter's ID/Passport/Driver's License. </li>
                        <li>Copy of Latest Bank Statement/Telephone or Mobile Bill/Electricity or Gas Bill </li>
                        <li>Passport-sized photograph  </li>
                        <li>Specimen signature (blank document with signature [partners only].  </li>
                        <li>Copy of Latest Bank Statement/Telephone or Mobile Bill/Electricity or Gas Bill   </li>
                        <li>Copy of Notarised Rental Agreement in English   </li>
                        <li>Copy of No-objection Certificate from property owner   </li>
                        <li>Copy of Sale Deed/Property Deed in English (in case of owned property)   </li>

                    </ol>

                    <div class="row bg-secondary text-white p-3 rounded"  style="font-size:18px;">
                        <p class="text-justify">WMC is the best consultancy services platform in India, offering a various kind of services like to start a business and manage business such as Incorporation of Company, LLP, Registration of Partnership Firm etc. and trademark filing, tax registration, tax filing and GST registration and their filing. </p>
                        <p class="text-justify">WMC can help you to register Limited Liability Partnership (LLP). The average time taken to draft and file registration documents of LLP is about 5 - 10 working days, subject to government processing time and client document submission. Get a free consultation for registration of LLP by scheduling an appointment with a WMC Advisor. .</p>
                    </div>
                </div>
            </div>

            <br>
            <br>


        </div>
    </div>


