
@{
    ViewBag.Title = "Non_Profit_Organization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                    NON-PROFIT ORGANIZATION (NPO\NGO)
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="~/Content/images/non profile organation.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="text-justify" style="font-size:18px;">
                                A Section 8 Company is similar to a Trust or Society; expect, a section 8 Company is registered under the
                                Central Government's Ministry of Corporate Affairs. Trusts and Societies are registered under State
                                Government regulations. A section 8 Company has various advantages when compared to Trust or Society
                                like improved recognition and better legal standing. Section 8 company also has higher credibility amongst
                                donors, Government departments and other stakeholders.
                                Secrion 8 Company often known as NGO. The NGO can be registered for promoting art, science,
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="text-justify" style="font-size:18px;">
                                    commerce, Technology, sports, education, social research, social welfare, religion, charity and protection of
                                    environment or any such other object, provided the profits, if any, or other income is applied for promoting
                                    only the objects of the company and no dividend is paid to its members. Therefore, Section 8 Company or
                                    Section 25 Company is a company registered under the Companies Act, 2013 for charitable or not-for-profit
                                    purposes.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
</div>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="bg-light card">
        <div class="card-header text-white bg-info">
            <h2 class="text-left" style="font-size:21px;">Process:</h2>
        </div>
        <div class="card-body">
            <p style="font-size:18px; color:black;">
                1. Application for name approval.<br>
                2. Obtain Digital Signature Certificate.<br>
                3. Obtain license from Central Govt.<br>
                4. Drafting of MOA / AOA, other documents.<br>
                5. Preparation of INC-9, DIR-2, Affidavit and other documents.<br>
                6. Incorporation documents will be filed on MCA Portal<br>
                7. Get Certificate of Incorporation<br>
            </p>
        </div>
    </div>

    <div class="bg-light card">
        <div class="card-header text-white bg-info">
            <h2 class="text-left" style="font-size:21px;"> Required Documents</h2>
        </div>
        <div class="card-body">
            <p class="text-justify" style="font-size:18px;">
                1. Passport size color photograph of each subscribers<br>
                2. Copy of PAN card (Passport in case of NRI) of each subscriber.<br>
                3. Copy of address proof of each subscriber ( Bank Statement, telephone bill, electricity bill, mobile bill not
                older 2 months)<br>
                4. Self attested copy of identity proof of each subscriber (Voters ID, Passport, Driving License, Adhar card)<br>
                5. Address proof for Registered Office of the Company.(any utility bill, rent agreement, NOC from owner)<br>
                6. Digital Signature Certificate (DSC)<br>
                7. Main object of Company<br>
            </p>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row bg-secondary text-white p-3 rounded w-100" style="font-size:18px;">
        <p class="text-justify">WMC is the best consultancy services platform in India, offering a various kind of services like to start a business and manage business such as Incorporation of Company, LLP, Registration of Partnership Firm etc. and trademark filing, tax registration, tax filing and GST registration and their filing. </p>
        <p class="text-justify">WMC can help you to register or Incorporation of Non-Profit Organization (NPO\NGO). The average time taken to draft and file registration or Incorporation of NGO\NPO is about 5 - 10 working days, subject to government processing time and client document submission. Get a free consultation to register or Incorporation of NGO\NPO by scheduling an appointment with a WMC Advisor.</p>
    </div>
</div>