
@{
    ViewBag.Title = "Non_Profit_Organization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url('../Content/images/ngo.jpg');
        position: auto;
        background-repeat: no-repeat;
        width: 100%;
    }
</style>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="offset-7 col-5 mt-5 mb-2">
            <form>
                <div class="card">
                    <div class="card-header bg-info text-white">
                        <div class="text-center" style="font-size:25px; color:aliceblue;">REQUEST A CALL BACK</div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name"><b></b></label>
                            <input type="text" class="form-control" id="name" placeholder="Your Name" required>
                            @*<span id="message"></span><br>*@
                        </div>
                        <div class="form-group">
                            <label for="email"><B></B></label>
                            <input type="email" class="form-control" id="email" placeholder="Email Address" required>
                        </div>
                        <div class="form-group">
                            <label for="num"><B></B></label>
                            <div class="input-group">
                                <span class="input-group-addon bg-light p-1">+91 </span>
                                <input type="tel" class="form-control" id="num" placeholder="Please Enter Number.." required>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg float-right">Get Start</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="bg-light card">
        <h3 class="card-header  bg-info text-white  text-center">
            NON-PROFIT ORGANIZATION (NPO\NGO)
        </h3>
        <div class="card-body">
            <h4 class="card-header  bg-secondary text-white text-center">
                Section-8 Company with Non Profit objects:
            </h4>
            <div class="text-justify">
                A Section 8 Company is similar to a Trust or Society; expect, a section 8 Company is registered under the
                Central Government's Ministry of Corporate Affairs. Trusts and Societies are registered under State
                Government regulations. A section 8 Company has various advantages when compared to Trust or Society
                like improved recognition and better legal standing. Section 8 company also has higher credibility amongst
                donors, Government departments and other stakeholders.
                Secrion 8 Company often known as NGO. The NGO can be registered for promoting art, science,
                commerce, Technology, sports, education, social research, social welfare, religion, charity and protection of
                environment or any such other object, provided the profits, if any, or other income is applied for promoting
                only the objects of the company and no dividend is paid to its members. Therefore, Section 8 Company or
                Section 25 Company is a company registered under the Companies Act, 2013 for charitable or not-for-profit
                purposes.
            </div>
        </div>

    </div>
    <br>
    <br>
    <div class="bg-light card">
        <div class="card-header text-white bg-info">
            <h2 class="text-left">Process:</h2>
        </div>
        <div class="card-body">
            <p style="font-size:20px; color:black;">
                1. Application for name approval.<br>
                2. Obtain Digital Signature Certificate.<br>
                3. Obtain license from Central Govt.<br>
                4. Drafting of MOA / AOA, other documents.<br>
                5. Preparation of INC-9, DIR-2, Affidavit and other documents.<br>
                6. Incorporation documents will be filed on MCA Portal<br>
                7. Get Certificate of Incorporation<br>
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="bg-light card">
        <div class="card-header text-white bg-info">
            <h2 class="text-left"> Documents (Documents Required for Registration)</h2>
        </div>
        <div class="card-body">
            <p class="text-justify">
                1. Passport size color photograph of each subscribers<br>
                2. Copy of PAN card (Passport in case of NRI) of each subscriber.<br>
                3. Copy of address proof of each subscriber ( Bank Statement, telephone bill, electricity bill, mobile bill not
                older 2 months)<br>
                4. Self attested copy of identity proof of each subscriber (Voters ID, Passport, Driving License, Adhar card)<br>
                5. Address proof for Registered Office of the Company.(any utility bill, rent agreement, NOC from owner)<br>
                6. Digital Signature Certificate (DSC)<br>
                7. Main object of Company<br>
            </p>
        </div>
    </div>
</div>