
@{
    ViewBag.Title = "Partnership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   <style>
                body{
                    background-image: url('../Content/images/patner.jpg');
                    position: auto;
                    background-repeat: no-repeat;
                    width: 100%;
                }
        </style>
   <div class="container-fluid">
       @Html.Partial("_EnquiryView")
   </div>
    </form>
        
        <section >
            <div class="jumbotron">
        <div class="bg-light card">
           <h3 class="card-header  text-center">
                PARTNERSHIP FIRM
            </h3>
         <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                   <p style="font-size:20px;">
                        Partnership is “the relation between persons who have agreed to share the profits of the business carried
                        on by all or any one of them acting for all”. A partnership firm in India is governed by The Partnership Act,
                        1932. Two or more people can form a Partnership subject to maximum of 20 partners.
                    </p>
                </div>
            </div>  
             
        </div>
        
        </div>
        <br>
        <br>
        
        
        
            <div class="bg-light card">
                <div class="card-header ">
                     <h2 class="text-left">Process:</h2>
                </div>
        <div class="card-body">
                <p style="font-size:20px; color:black;">
                        A simple procedure is followed for getting a firm registered.
(i) Filing an Application: The first thing to be done is to file an application with the Registrar of Firms on a
prescribed form. A small amount of registration fees is also deposited along-with the application.
The application should contain the following information:
(a) The name of the firm.
(b) The principal place of business of the firm.
(c) The names and addresses of partners and the dates on which they joined the firm.
(d) If the firm is started for a particular period then that period should be mentioned.
(e) If the firm is started to achieve a specific object then it should also be given.
The application form should be signed and verified by each partner or by his duly authorized agent
(ii) Certificate:
The particulars submitted to the Registrar are examined. It is also seen whether all legal formalities
required have been observed or not. If everything is in order, then the Registrar shall record an entry in the
register of firms. The firm is considered registered thereon
               </p>
            </div>
        </div>
        
        <br>
        <br>
        
        <div class="bg-light card">
        <div class="card-header ">
            <h2 class="text-left"> Documents (Required for Registration)</h2>
        </div>
        <div class="card-body">
            
        <p style="font-size:20px; color:black;">
                1. Application for registration of partnership<br>
                2. Affidavit<br>
                3. Partnership deed<br>
                4. Ownership proof of the principal business<br>

        </p>
        </div>
        </div>
        
        </section>  
         