
@{
    ViewBag.Title = "Partnership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="col-12 card mt-1">
        <div class="row mt-5">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <div class="jumbotron-fluid bg-light card">
                    <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                        PARTNERSHIP FIRM
                    </h4>
                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img src="~/Content/images/patner.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="text-justify" style="font-size:18px;">
                                    Partnership is “the relation between persons who have agreed to share the profits of the business carried
                                    on by all or any one of them acting for all”. A partnership firm in India is governed by The Partnership Act,
                                    1932. Two or more people can form a Partnership subject to maximum of 20 partners.
                                </div>
                                <br />
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
    <div class="bg-light p-3 shadow">
        <div class="bg-info text-white">
            <h2 class="text-left  p-3">Process:</h2>
        </div>
        <div>
            <p class="text-justify" style="font-size:18px;">
                A simple procedure is followed for getting a firm registered.
                (i) Filing an Application: The first thing to be done is to file an application with the Registrar of Firms on a
                prescribed form. A small amount of registration fees is also deposited along-with the application.
                The application should contain the following information:
                (a) The name of the firm.
                (b) The principal place of business of the firm.
                (c) The names and addresses of partners and the dates on which they joined the firm.
                (d) If the firm is started for a particular period then that period should be mentioned.
                (e) If the firm is started to achieve a specific object then it should also be given.
                The application form should be signed and verified by each partner or by his duly authorized agent
                (ii) Certificate:
                The particulars submitted to the Registrar are examined. It is also seen whether all legal formalities
                required have been observed or not. If everything is in order, then the Registrar shall record an entry in the
                register of firms. The firm is considered registered thereon
            </p>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="bg-light p-3 shadow">
        <div class="bg-info text-white">
            <h2 class="text-left  p-3"> Documents (Required for Registration)</h2>
        </div>
        <div>

            <p class="text-justify" style="font-size:18px;">
                1. Application for registration of partnership<br>
                2. Affidavit<br>
                3. Partnership deed<br>
                4. Ownership proof of the principal business<br>

            </p>
        </div>
    </div>
</div>


