
@{
    ViewBag.Title = "Project_Office";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
                body{
                    background-image: url('../Content/images/office.jpg');
                    position: auto;
                    background-repeat: no-repeat;
                    width: 100%;
                }
        </style>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="offset-7 col-5 mt-5 mb-2 bg-info">
            <form class="form" action="/Home/Enquiry" method="post">
                <div class="card">
                    <div class="card-header  bg-info text-white">
                        <div class="text-center" style="font-size:25px; color:aliceblue;">REQUEST A CALL BACK</div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name"><b></b></label>
                            <input type="text" class="form-control" id="txtname" name="txtname" placeholder="Your Name" required>
                            @*<span id="message"></span><br>*@
                        </div>
                        <div class="form-group">
                            <label for="email"><B></B></label>
                            <input type="email" class="form-control" id="txtemail" name="txtemail" placeholder="Email Address" required>
                        </div>
                        <div class="form-group">
                            <label for="num"><B></B></label>
                            <div class="input-group">
                                <span class="input-group-addon bg-light p-1">+91 </span>
                                <input type="tel" class="form-control" id="txtnumber" name="txtnumber" placeholder="Please Enter Number.." required>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg float-right">Get Start</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    </form>
        
        <section >
            <div class="jumbotron">
        <div class="bg-light card">
           <h3 class="card-header  bg-info text-white  text-center">
                PROJECT OFFICE
            </h3>
         <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                   <p style="font-size:20px;">
                        Project Office means a place of business to represent the interests of the foreign company executing a
specific project in India.</p>
                </div>
            </div>  
             
        </div>
        
        </div>
        <br>
        <br>
        
        
        
            <div class="bg-light card">
                <div class="card-header  bg-info text-white ">
                     <h2 class="text-left">Process:</h2>
                </div>
        <div class="card-body">
                <p style="font-size:20px; color:black;">
                        1. Attestation or Legalisation of Documents<br>
                        2. Filing of Application with RBI through AD Bank<br>
                        3. Verification of KYC from Banker of Parent Company<br>
                        4. Approval of RBI for Liasion Office Registration in India<br>
                        5. Registration of Liasion office of Foreign Company with the ROC<br>
                        6. PAN Card, Tax Deduction Number & Bank A/c Opening<br>
                        7. Other Registration and Licenses For example registration under shops and establishment act, Goods
                        and Services Tax (GST), Professional Tax Act, Provident Funds Act, Employee State Insurance Act
                        (ESIC), etc.<br>
               </p>
            </div>
        </div>
        
        <br>
        <br>
        
        <h2 class="text-center">Documents Required for Registration:</h2><br>
        
        <div class="bg-light card">
        <div class="card-header  bg-info text-white ">
            <h2 class="text-left"> Documents</h2>
        </div>
        <div class="card-body">
            
        <p style="font-size:20px; color:black;">
                1. Certificate of Incorporation / Charter issued to the foreign company by government & its MOA/ Rules.<br>
                2. Audited financials of the foreign company seeking registration of project office in India.<br>
                3. Copy of agreement entered with Indian party about a project to be undertaken in India.<br>
                4. Documents evidencing arrangement of foreign funding or arrangements with Indian funding institutions.<br>
                5. The identity and address proof of the responsible person to do compliance for the project office.<br>
                6. Premises proof of the registered office of branch office and an NOC from the owner of such premises.<br>
                7. In case the document is in the foreign language, then a certified translation thereof must be filed.<br>
                   
        </p>
        </div>
        </div>
        
        </section> 

