
@{
    ViewBag.Title = "Society";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
                body{
                    background-image: url('../Content/images/society.jpg');
                    position: auto;
                    background-repeat: no-repeat;
                    width: 100%;
                }
        </style>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="offset-7 col-5 mt-5 mb-2">
            <form>
                <div class="card">
                    <div class="card-header  bg-info text-white bg-info">
                        <div class="text-center" style="font-size:25px; color:aliceblue;">REQUEST A CALL BACK</div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name"><b></b></label>
                            <input type="text" class="form-control" id="name" placeholder="Your Name" required>
                            @*<span id="message"></span><br>*@
                        </div>
                        <div class="form-group">
                            <label for="email"><B></B></label>
                            <input type="email" class="form-control" id="email" placeholder="Email Address" required>
                        </div>
                        <div class="form-group">
                            <label for="num"><B></B></label>
                            <div class="input-group">
                                <span class="input-group-addon bg-light p-1">+91 </span>
                                <input type="tel" class="form-control" id="num" placeholder="Please Enter Number.." required>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg float-right">Get Start</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    </form>
        
        
        <section >
            <div class="jumbotron">
        <div class="bg-light card">
           <h3 class="card-header  bg-info text-white  text-center">
                SOCIETY
            </h3>
         <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                   <p style="font-size:20px;">
                        An entity or group of people working together not for profits but for the welfare of the general public or a
particular group of people or with an agenda of helping the community in some way, as per law, has an
option of registering themselves as a SOCIETY registration to gain a legal status.<br>
A non-commercial organization with seven or more persons coming together for following object:<br>
 Grant of charitable assistance.<br>
 Creation of Military Orphan funds.<br>
 Promotion of Science.<br>
 Promotion of Literature.<br>
 Promotion of Fine Arts.<br>
 Promotion or Instruction or Diffusion of useful Knowledge.<br>
 Diffusion of Political Education.<br>
 Foundation or maintenance of libraries or reading rooms.<br>
 Foundation or maintenance of Public Museum or Galleries. may get Society Registration under the
act by subscribing their names to a Memorandum of Association, and filing the same with Registrar
of Joint-stock Companies.<br></p>
                </div>
            </div>  
             
        </div>
        
        </div>
        <br>
        <br>
        
        
        
            <div class="bg-light card">
                <div class="card-header  bg-info text-white ">
                     <h2 class="text-left">Process:</h2>
                </div>
        <div class="card-body">
                <p style="font-size:20px; color:black;">
                        1. Name Selection<br>
2. Covering letter requesting registration of the Society, signed by all founding members.<br>
3. Memorandum of Association of the Society in duplicate along with a certified copy.<br>
4. Rules and Regulations of the Society in duplicate along with a duplicate, duly signed by the founding
members.<br>
5. Affidavit sworn by the President or Secretary of the Society stating relationship between the subscribers.<br>
6. Address proof for the registered office of the Society and No-Objection Certificate from the Landlord.<br>
7. Submission of documents to concern registrar of society<br>
               </p>
            </div>
        </div>
        
        <br>
        <br>
        
        <h2 class="text-center">Documents Required for Registration:</h2><br>
        
        <div class="bg-light card">
        <div class="card-header  bg-info text-white ">
            <h2 class="text-left"> Documents</h2>
        </div>
        <div class="card-body">
            
        <p style="font-size:20px; color:black;">
                1. Name of Society<br>
                2. Covering letter requesting registration of the Society<br>
                3. Id proof of member<br>
                4. Address proof of member<br>
                5. Affidavit sworn by the President or Secretary of the Society<br>
                6. Address proof for the registered office of the Society<br>
                7. No-Objection Certificate from the Landlord.<br>
                8. Minutes of the meeting<br>
        </p>
        </div>
        </div>
        
        </section>  
         

