
@{
    ViewBag.Title = "Society";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mt-5">
    <div class="col-lg-9 col-md-6 col-sm-12">
        <div class="jumbotron-fluid bg-light card">
            <h4 class="card-header  text-center bg-info text-white">
                SOCIETY
            </h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img src="~/Content/images/pub-prv-l.jpg" class="img-fluid img-thumbnail" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="text-justify">
                            An entity or group of people working together not for profits but for the welfare of the general public or a particular group of people or with an agenda of helping the community in some way, as per law, has an option of registering themselves as a SOCIETY registration to gain a legal status.

                        </div>
                        <br />
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="container-fluid">
            <div class="mb-2">
                <form class="form" action="/Home/Enquiry" method="post">
                    <div class="card">
                        <div class="card-header bg-info">
                            <div class="text-center" style="font-size:20px; color:aliceblue;">REQUEST A CALL BACK</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name"><b></b></label>
                                <input type="text" class="form-control" id="txtname" name="txtname" placeholder="Your Name" required>
                                @*<span id="message"></span><br>*@
                            </div>
                            <div class="form-group">
                                <label for="email"><B></B></label>
                                <input type="email" class="form-control" id="txtemail" name="txtemail" placeholder="Email Address" required>
                            </div>
                            <div class="form-group">
                                <label for="num"><B></B></label>
                                <div class="input-group">
                                    <span class="input-group-addon bg-light p-1">+91 </span>
                                    <input type="tel" class="form-control" id="txtnumber" name="txtnumber" placeholder="Please Enter Number.." required>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg float-right">Get Start</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-12 bg-light card">
        <div class="card-header bg-info text-white ">
            <h5 class="text-left">A non-commercial organization with seven or more persons coming together for following object:-</h5>
        </div>
        <div class="card-body">
            @*<div class="text-justify">
                    A simple procedure is followed for getting a firm registered.
                </div>*@
            <ol type="1">

                <li>Grant of charitable assistance.</li>
                <li>Creation of Military Orphan funds</li>
                <li>Promotion of Science.</li>
                <li>Promotion of Literature.</li>
                <li>Promotion of Fine Arts</li>
                <li>Promotion or Instruction or Diffusion of useful Knowledge.</li>
                <li>Diffusion of Political Education.</li>
                <li>Foundation or maintenance of libraries or reading rooms.</li>
                <li>Foundation or maintenance of Public Museum or Galleries. may get Society Registration under the act by subscribing their names to a Memorandum of Association, and filing the same with Registrar of Joint-stock Companies</li>

            </ol>

        </div>
    </div>
    <div class="col-12 bg-light card">
        <div class="card-header bg-info text-white ">
            <h5 class="text-left">Process</h5>
        </div>
        <div class="card-body">
            @*<div class="text-justify">
                    A simple procedure is followed for getting a firm registered.
                </div>*@
            <ol type="1">

                <li>Name Selection</li>
                <li>Covering letter requesting registration of the Society, signed by all founding members</li>
                <li>Memorandum of Association of the Society in duplicate along with a certified copy.</li>
                <li>Rules and Regulations of the Society in duplicate along with a duplicate, duly signed by the founding members.</li>
                <li>Affidavit sworn by the President or Secretary of the Society stating relationship between the subscribers.</li>
                <li>Address proof for the registered office of the Society and No-Objection Certificate from the Landlord.</li>
                <li>Submission of documents to concern registrar of society.</li>

            </ol>

        </div>
    </div>

    <br>
    <br>

    <div class="col-12 bg-light card">
        <div class="card-header bg-info text-white">
            <h5 class="text-left"> Required Documents:</h5>
        </div>
        <div class="card-body">
            <ol>
                <li>Name of Society</li>
                <li>Covering letter requesting registration of the Society </li>
                <li>Id proof of member</li>
                <li>Address proof of member  </li>
                <li>Affidavit sworn by the President or Secretary of the Society  </li>
                <li>Address proof for the registered office of the Society     </li>
                <li>No-Objection Certificate from the Landlord.  </li>
                <li>Minutes of the meeting  </li>

            </ol>

            <div class="row bg-secondary text-white p-3 rounded">
                <p class="text-justify">WMC is the best consultancy services platform in India, offering a various kind of services like to start a business and manage business such as Incorporation of Company, LLP, Registration of Partnership Firm etc. and trademark filing, tax registration, tax filing and GST registration and their filing.  </p>
                <p class="text-justify">WMC can help you to register of Society. The average time taken to draft and file registration of Society is about 5 - 10 working days, subject to government processing time and client document submission. Get a free consultation to registration of Society by scheduling an appointment with a WMC Advisor. </p>
            </div>
        </div>
    </div>

    <br>
    <br>


</div>


