
@{
    ViewBag.Title = "Trust";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
                body{
                    background-image: url('../Content/images/organization.jpg');
                    position: auto;
                    background-repeat: no-repeat;
                    width: 100%;
                }
        </style>

<div class="container-fluid">
    <div class="row mt-5">
        <div class="offset-7 col-5 mt-5 mb-2">
            <form>
                <div class="card">
                    <div class="card-header bg-info">
                        <div class="text-center" style="font-size:25px; color:aliceblue;">REQUEST A CALL BACK</div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name"><b></b></label>
                            <input type="text" class="form-control" id="name" placeholder="Your Name" required>
                            @*<span id="message"></span><br>*@
                        </div>
                        <div class="form-group">
                            <label for="email"><B></B></label>
                            <input type="email" class="form-control" id="email" placeholder="Email Address" required>
                        </div>
                        <div class="form-group">
                            <label for="num"><B></B></label>
                            <div class="input-group">
                                <span class="input-group-addon bg-light p-1">+91 </span>
                                <input type="tel" class="form-control" id="num" placeholder="Please Enter Number.." required>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg float-right">Get Start</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    </form>
        
        
        <section >
            <div class="jumbotron">
        <div class="bg-light card">
           <h3 class="card-header  bg-info text-white  text-center">
                TRUST   REGISTRATION
            </h3>
         <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                   <p style="font-size:20px;">
                        A trust is a convenient method whereby a limited number of persons may hold property on behalf of other
persons, who may be a large or fluctuating body or who may include persons not yet born. Once the
property has been vested in the trustees, they own the property, but they are compelled by law to exercise
their ownership for the benefits of the beneficiaries and for them only. It means that legal ownership vests
in the trustee or trustees but beneficiaries have de facto ownership.
A Trust may be private and public.
Private Trust - When the purpose of the trust is to benefit an individual or a group of individuals or his or
their descendants for any legal person and who is capable of holding property, it is a private trust.
Public Trust- When the purpose of the trust is to the benefit the public or any section of the public, it is
public trust.<br></p>
                </div>
            </div>  
             
        </div>
        
        </div>
        <br>
        <br>
        
        
        
            <div class="bg-light card">
                <div class="card-header  bg-info text-white ">
                     <h2 class="text-left">Process:</h2>
                </div>
        <div class="card-body">
                <p style="font-size:20px; color:black;">
                        <br><br>
               </p>
            </div>
        </div>
        
        <br>
        <br>
       
        
        <div class="bg-light card">
        <div class="card-header  bg-info text-white ">
            <h2 class="text-left"> Documents (Required for Registration)</h2>
        </div>
        <div class="card-body">
            
        <p style="font-size:20px; color:black;">
                1. Name of the trust.<br>
2. Trust Deed<br>
3. Minimum two members’ identity proof required. (Voter ID | Driving License | Passport | Adhaar Card.)<br>
4. One electricity or water bill of registered address.<br>
5. For the purpose of registration, settler or trustees and at least two witnesses must be physically present
at the office of sub-registrar.<br>
        </p>
        </div>
        </div>
        
        </section>  
