
@{
    ViewBag.Title = "Wholly_Owned_Foreign_Subsidiary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <style>
                body{
                    background-image: url('../Content/images/WHOLLY.jpg');
                    position: auto;
                    background-repeat: no-repeat;
                    width: 100%;
                }
        </style>
 <div class="container-fluid">
     <div class="row mt-5">
         <div class="offset-7 col-5 mt-5 mb-2">
             <form>
                 <div class="card">
                     <div class="card-header  bg-info text-white">
                         <div class="text-center" style="font-size:25px; color:aliceblue;">REQUEST A CALL BACK</div>
                     </div>
                     <div class="card-body">
                         <div class="form-group">
                             <label for="name"><b></b></label>
                             <input type="text" class="form-control" id="name" placeholder="Your Name" required>
                             @*<span id="message"></span><br>*@
                         </div>
                         <div class="form-group">
                             <label for="email"><B></B></label>
                             <input type="email" class="form-control" id="email" placeholder="Email Address" required>
                         </div>
                         <div class="form-group">
                             <label for="num"><B></B></label>
                             <div class="input-group">
                                 <span class="input-group-addon bg-light p-1">+91 </span>
                                 <input type="tel" class="form-control" id="num" placeholder="Please Enter Number.." required>
                             </div>
                         </div>
                         <div>
                             <button type="submit" class="btn btn-primary btn-lg float-right">Get Start</button>
                         </div>
                     </div>
                 </div>
             </form>
         </div>
     </div>
 </div>
    </form>
        
        
        <section >
            <div class="jumbotron">
        <div class="bg-light card">
           <h3 class="card-header bg-info text-white text-center">
                WHOLLY OWNED FOREIGN SUBSIDIARY
            </h3>
         <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                   <p style="font-size:20px;">
                        A wholly-owned subsidiary is a company whose share is entirely owned by foreign company. The owner of
a wholly-owned subsidiary is known as the parent company or holding company.</p>
                </div>
            </div>  
             
        </div>
        
        </div>
        <br>
        <br>
        
        
        
            <div class="bg-light card">
                <div class="card-header  bg-info text-white ">
                     <h2 class="text-left">Process:</h2>
                </div>
        <div class="card-body">
                <p style="font-size:20px; color:black;">
                        1. Application for name approval.<br>
                        2. Obtain Digital Signature Certificate.<br>
                        3. Drafting of MOA / AOA, other documents.<br>
                        4. Preparation of INC-9, DIR-2, Affidavit and other documents.<br>
                        5. Incorporation documents will be filed on MCA Portal<br>
                        6. Get Certificate of Incorporation<br>
               </p>
            </div>
        </div>
        
        <br>
        <br>
        
        <h2 class="text-center">Documents Required for Registration:</h2><br>
        
        <div class="bg-light card">
        <div class="card-header  bg-info text-white ">
            <h2 class="text-left"> Documents</h2>
        </div>
        <div class="card-body">
            
        <p style="font-size:20px; color:black;">
                1. Passport size color photograph of each subscribers.<br>
                2. Copy of PAN card (Passport in case of NRI) of each subscriber.<br>
                3. Copy of address proof of each subscriber ( Bank Statement, telephone bill, electricity bill, mobile bill not
                older 2 months)<br>
                4. Self attested copy of identity proof of each subscriber (Voters ID, Passport, Driving License, Adhar card)<br>
                5. Address proof for Registered Office of the Company.(any utility bill, rent agreement, NOC from owner)<br>
                6. Digital Signature Certificate (DSC)<br>
                7. Main object of Company<br>
        </p>
        </div>
        </div>
        
        </section> 
