
@{
    ViewBag.Title = "ARTICLES OF ASSOCIATION";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-5">
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h3 class="text-center bg-info text-white p-3">
                    ARTICLES OF ASSOCIATION
                </h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="~/Content/images/AlterationofAOA.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="text-justify" style="font-size:18px;">
                                The Articles of Association is a document that specifies the regulations/bye-laws for a company's operations and defines the company's purpose. Generally the company formulate its own articles.
                            </div>
                            <div class="text-justify" style="font-size:18px;">
                                The Company can adopt all or any of the regulation contained in the model articles (such as Table F) applicable to such company.
                            </div>
                            <div class="text-justify" style="font-size:18px;">
                                Section 2(5) of the Companies Act,2013 define that "Articles" means the articles of association of a company as originally framed or as altered from time to time or applied in pursuance of any previous company law or of this Act.
                            </div>
                        </div>                        
                    </div>
                </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
    <div class="row p-5">
        <div class="col-12 bg-light shadow p-3">
            <div class="bg-info text-white">
                <h5 class="text-left p-3"> Procedure for Alteration of Articles of association</h5>
            </div>
            <p class="text-justify">A company which proposes to alter its articles of association has to follow the procedure detailed below:</p>
            <div class="p-3">
                <ol style="font-size:18px;">
                    <li>Convene and hold a Board meeting to
                        <ul>
                            <li class="text-justify">Consider and decide which of the articles are to be altered and pass a formal resolution in this respect.</li>
                            <li class="text-justify">Fix time, date and venue for holding a general meeting of the company for passing a special resolution as required by Section 14 of the Companies Act, 2013.</li>
                            <li class="text-justify">Approve notice, agenda and explanatory statement to be annexed to the notice of the general meeting as per 102 of the Act.</li>
                            <li class="text-justify">Authorise the Company Secretary or any other competent officer of the company to issue notice of the general meeting as approved by the Board.</li>
                        </ul>
                    </li>
                    <li class="text-justify">Issue notice of the general meeting along with the explanatory statement, to all the members, directors and the auditor of the company.</li>
                    <li class="text-justify">Hold the general meeting and have the special resolution passed.</li>
                    <li class="text-justify">File with the ROC, Form MGT – 14 to ROC within 30 days of the passing of the resolution along with the prescribed filing fee.</li>
                    <li class="text-justify">Make necessary changes in all the copies of the articles of association of the company lying in the office of the company.</li>
                    <li class="text-justify">If the Property is Rented, then Rent Agreement </li>
                    <li class="text-justify">Photo of Manufacturing Unit and List of Machine. </li>
                </ol>


                <div class="row bg-info text-white ">
                    <h5 class="text-left  p-3" style="font-size:21px;">Required Documents</h5>
                </div>
                <div class="card-body">
                    <ol style="font-size:18px;">
                        <li class="text-justify">Certified copy of the special resolution</li>
                        <li class="text-justify">The explanatory statement annexed to the notice of the general meeting at which the resolution was passed.</li>
                        <li class="text-justify">Copy of the altered Articles of Association</li>
                        <li class="text-justify">Other documents(if any)</li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row bg-secondary text-white p-3 rounded" style="font-size:18px;">
        <p class="text-justify">WMC is leading consultancy services platform in India, offering a various kind of services like to start a business and manage business such as Incorporation of Company, LLP, Registration of Partnership Firm etc. and trademark filing, Corporate Compliances, tax registration, tax filing and GST registration and their filing.</p>
        <p class="text-justify">WMC can help you for preparation or alteration of Articals of Association. The average time taken to draft and file documents for preparation or alteration of Articals of Association is about 2 - 5 working days, subject to government processing time and client document submission. Get a free consultation for preparation/alteration of Articals of Association by scheduling an appointment with a WMC Advisor.  </p>
    </div>
</div>



