
@{
    ViewBag.Title = "Alteration Of Share Capital";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                    ALTERATION OF SHARE CAPITAL
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <p class="bg-success text-white p-3"><b>Application Provision : </b>Section 13, 61, 64 of the Companies Act, 2013</p>
                            <img src="~/Content/images/Alteration-of-Share-Capital-meaning-and-Procedure-for-Alternation-of-Share-Capital-under-the-Companies-Act-2013-along-with-Case-Laws.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                            <p class="bg-success text-white p-3"><b>Applicable Rules:</b> Companies (Share Capital & Debentures) Rules, 2014</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="text-justify" style="font-size:18px;">


                                <h4>CLASSIFICATION OF CAPITAL</h4>
                                <div>
                                    <div class="bg-success text-white p-4">Authorised Capital or Nominal Capital </div>
                                    <div class="bg-info text-white p-4">Issued Capital</div>
                                    <div class="bg-dark text-white p-4">Called up Capital</div>
                                    <div class="bg-danger text-white p-4">Subscribed Capital</div>
                                    <div class="bg-primary text-white p-4">Paid-up capital or Share Capital Paid-up</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="container-fluid p-5">
        <h5 class="text-left bg-info text-white p-2" style="font-size:21px;"> Authorised Capital or Nominal Capital</h5>
        <p class="text-justify shadow p-2">means such Capital as is authorised by the memorandum of a company to be the maximum amount of share capital of the company;</p>
        <h5 class="text-left bg-info text-white p-2" style="font-size:21px;">Issued Capital</h5>
        <p class="text-justify shadow p-2">Issued Capital" means such capital as the company issues from time to time for subscription. Issued capital is a part of the authorized capital. The Company cannot issue capital beyond the authorised Capital of the company.</p>
        <h5 class="text-left bg-info text-white p-2" style="font-size:21px;"> Called up Capital</h5>
        <p class="text-justify shadow p-2">Called-up Capital is the part of the capital which the company calls for payment.</p>
        <h5 class="text-left bg-info text-white p-2" style="font-size:21px;"> Subscribed Capital</h5>
        <p class="text-justify shadow p-2">Subscribed Capital means such part of the issued capital which is for the time being subscribed by the members of a Company. Subscribed Capital is the part of issued Capital. it cannot be beyond the issued capital of the company.</p>
        <h5 class="text-left bg-info text-white p-2" style="font-size:21px;"> Paid-up capital or Share Capital Paid-up</h5>
        <p class="text-justify shadow p-2">means such aggregate amount of money credited as paid-up as is equivalent to the amount received as paid-up in respect of shares issued and also includes any amount credited as paid-up in respect of shares of the company, but does not include any other amount received in respect of such shares, by whatever name called. In other word, Paid up capital is the part of called up capital which are paid or credited by shareholders in respect of issued shares.</p>

    </div>
</div>

<div class="row">
    <div class="container-fluid p-5">
        <h2 class="text-left bg-info text-white p-5"> ALTERATION OF SHARE CAPITAL</h2>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-3 bg-success shadow text-white">The capital of a company is separated into units of a fixed denomination and such unit is a share. The companies are allowed to alter the share capital according to the provision and procedures mentioned in Section 61 read with Section 13 and 14 of the Companies Act, 2013. </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-3 bg-warning shadow text-dark">An increase or decrease in the share capital of a company may be carried out as and when the company requires. Whenever the company want to alter the Share Capital of the Company, may alter by passing an ordinary resolution in general meeting of the company.</div>
        </div>
        <h2 class="text-left bg-info text-white p-5 mt-2"> TYPES OF ALTERATION OF SHARE CAPITAL U/S 61 <br /><small>The alteration of share capital may take the following form</small></h2>
        <ul class="shadow text-justify">
            <li class="p-2">Increase of authorised share capital</li>
            <li class="p-2">Consolidation and division all or any of share capital;</li>
            <li class="p-2">Conversion of all or any of the fully paid-up shares into stock;</li>
            <li class="p-2">Sub-division of shares;</li>
            <li class="p-2">Cancelation of shares which, have not been taken or agreed to be taken by any person, and diminish the amount of its share capital by the amount of the shares so cancelled.</li>
        </ul>
    </div>
</div>


<div class="row">
    <div class="container-fluid p-5">
        <h2 class="text-left bg-info text-white p-5"> PROCEDURE INVOLVED IN ALTERING THE SHARE CAPITAL</h2>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-3 bg-secondary shadow text-white text-justify">The company has to ensure that its articles of association contain a clause authorising it to increase its authorised share capital. If there is no such provision, then the company has to take steps for alteration of its articles of association in accordance with the provisions of section 14 of the Companies Act, 2013, so as to provide for power to increase the share capital of the company before increasing its authorised share capital. Thus, if the increase of share capital results in alteration of articles of association special resolution is required. Otherwise ordinary resolution is to be passed. </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-3 bg-warning shadow text-dark">
                Hold the Board meeting
                <ol type="i)">
                    <li class=" text-justify">to decide about the increase in the authorised share capital of the company;</li>
                    <li class=" text-justify">to fix time, date and venue for holding general meeting of the company to pass a special resolution/ordinary resolution as the case may be for increasing the authorised share capital of the company [Section 13(1)]; </li>
                    <li class=" text-justify">to approve notice, agenda and explanatory statement to be annexed to the notice of the general meeting as per Section 101 and 102 of the Act;</li>
                    <li class=" text-justify">to authorise the company secretary, if any or a director to issue, on behalf of the Board, notice of the general meeting as approved by the Board.</li>
                </ol>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 p-3 bg-success shadow text-white text-justify">Issue notice in accordance with the provisions of Section 173(3) of the Act for convening a Board meeting.</div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 p-3 bg-dark shadow text-white text-justify">Issue Notice of EGM to all members, directors and the auditors of the company</div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 p-3 bg-primary text-white shadow text-justify">File with the Registrar the respective forms.</div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 p-3 bg-danger shadow text-white text-justify">Hold the general meeting and pass ordinary resolution for alteration of share capital of the company</div>
        </div>
        <h2 class="text-left bg-info text-white p-5 mt-2">FORM TO BE FILLED WITH ROC</h2>
        <ul class="shadow text-justify">
            <li class="p-2">MGT-14 along with resolutions and Explanatory Statement (if any).</li>
            <li class="p-2">SH-7 along with Special resolution and Altered MOA and AOA</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="container-fluid p-5">
        <h4 class="text-left bg-info text-white p-3 mt-2">REQUIRED DOCUMENTS</h4>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-3 bg-danger shadow text-white text-justify">
                <h4>For MGT-14</h4>
                <ol style="font-size:18px;">
                    <li>Copy(s) of resolution(s) along with copy of explanatory statement under section 102.</li>
                    <li>Altered memorandum of association</li>
                    <li>Altered articles of association.</li>
                    <li>Optional attachment(s) - if any.</li>
                </ol>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-3 bg-dark shadow text-white text-justify">
                <h4>For SH-7</h4>
                <ol style="font-size:18px;">
                    <li>Copy of the resolution for alteration of capital</li>
                    <li>Altered memorandum of association.</li>
                    <li>Optional attachment(s) - if any.</li>
                </ol>
            </div>
            <div>
                <b>Note : </b><br />
                <ul>
                    <li class="text-justify">Stamp duty can be paid electronically through the MCA portal </li>
                    <li class="text-justify">No Consolidation and division which results in changes in the voting percentage of shareholders shall take effect unless it is approved by the Tribunal on an application made in the prescribed manner.</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row bg-secondary text-white p-3 rounded" style="font-size:18px;">
                <p class="text-justify">WMC is leading consultancy services platform in India, offering a various kind of services like to start a business and manage business such as incorporation of Company, LLP, registration of Partnership Firm etc. Trademark, tax registration, tax compliances, GST registration and filing of GST returns. </p>
                <p class="text-justify">WMC can help you for alteration of share Capital of Company. The average time taken to draft and file documents of alteration of share Capital is about 3 - 5 working days, subject to government processing time and client document submission. Get a free consultation for alteration of share Capital by scheduling an appointment with a WMC Advisor.  </p>
            </div>
        </div>
    </div>
</div>



