
@{
    ViewBag.Title = "CHANGE OF REGISTERED OFFICE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
            <h3 class=" text-center bg-info text-white p-3" style="font-size:22px;">
                CHANGE OF REGISTERED OFFICE
            </h3>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p class="bg-success text-white p-3"><b>Applicable Section : </b>Section 12, 13 of Companies Act, 2013</p>
                    <img src="~/Content/images/WMC_Change-Registered-Office-Address.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                    <p class="bg-success text-white p-3"><b>Applicable Rule:</b> Companies (Incorporation) Rules, 2014 </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 shadow">
                    <h4 class=" text-center bg-info text-white  p-3">INTRODUCTION</h4>
                    <div class="text-justify p-1" style="font-size:18px;">
                        A Registered Office is the official address of the company recorded with the Registrar of Companies (ROC) where all government or legal communications are sent.
                    </div>
                    <div class="text-justify p-1" style="font-size:18px;">
                        According to Section 12 of the Companies Act 2013, When a company is incorporated it has to have a registered office within 30 days of its corporation for receiving and acknowledging all communications and notices which are addressed to the company.
                    </div>
                    <div class="text-justify p-1" style="font-size:18px;">
                        There can be many circumstances that a company may decide to change its registered office. It can be done within the state or to a different state to seek more growth in terms of resources, public demand, government policies, or better management.
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
            @Html.Partial("_EnquiryView")
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row bg-dark w-100">
    <div class="container-fluid text-white p-5">
        <div class="bg-info  p-3">
            <h3 class="text-left" style="font-size:21px;">TYPES OF CHANGE OF REGISTERED OFFICE</h3>
        </div>
        <div class="text-justify bg-secondary shadow p-3">
            <p>The Companies Act permits a company to change its registered office from its existing situation to another situation, –</p>
            <ol style="font-size:18px;">
                <li>Within the local limits of the same city, town or village, or</li>
                <li>
                    Outside the local limits of the same city, town or village
                    <ul>
                        <li>Under the jurisdiction of the same Registrar of Companies or</li>
                        <li>Under the jurisdiction of another Registrar of Companies within the same State or</li>
                    </ul>
                </li>
                <li>Change from one state to another State. </li>
            </ol>

        </div>
    </div>
</div>
<div class="row bg-light w-100">
    <div class="container-fluid p-5">
        <div class="bg-info  p-3">
            <h3 class="text-left text-white" style="font-size:21px;">PROCEDURE FOR CHANGING THE REGISTERED OFFICE</h3>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 shadow p-3">
                <h5 class="p-3">Change of registered office within the local limits of the same city, town or village</h5>
                <div class="p-3">
                    <ul>
                        <li class="text-justify">Issue Notice for convening a Board meeting;</li>
                        <li class="text-justify">Hold a meeting of its Board of directors of the company to take a decision by passing a resolution for shifting the registered office of the company to another place within local limits of city, town or village, where it is presently situated.</li>
                        <li class="text-justify">File Form INC – 22 along with a copy of the Board resolution within thirty days of the passing of the Board resolution to Registrar of Companies.</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 shadow p-3">
                <h5 class="p-3">FORM TO BE FILLED WITH ROC<br /><small>INC-22</small></h5>
                <div class="p-3">
                    <ul>
                        <li class="text-justify">The registered document of the title of the premises of the registered office in the name of the company;</li>
                        <li class="text-justify">Notarized copy of lease or rent agreement in the name of the company along with a copy of rent paid receipt not older than one month;</li>
                        <li class="text-justify">Copy of Utility bill ( i.e telephone bill, Electricity Bill)</li>
                        <li class="text-justify">Copy of Altered Memorandum of Association</li>
                        <li class="text-justify">A proof that the Company is permitted to use the address as the registered office of the Company if the same is owned by any other entity/ Person (not taken on lease by company)</li>
                        <li class="text-justify">Copy of order of competent authority</li>
                        <li class="text-justify">Optional attachment, if any</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row bg-dark text-white w-100">
    <div class="container-fluid  p-5">
        <div class="bg-info  p-3">
            <h5 class="text-left ">Change of Registered office from one city to another city having same jurisdiction of ROC</h5>
        </div>
        <div class="bg-secondary shadow">
            <ol type="1">
                <li>Issue Notice for convening a Board meeting;</li>
                <li>
                    Hold a Board meeting –
                    <ul>
                        <li>To pass a resolution, for shifting the registered office of the company to another place outside the local limits of city, town or village, where it is presently situated;</li>
                        <li>To pass a resolution approving notice of the general meeting along with the explanatory statement which is required to be annexed to the notice of the meeting as per requirement of Section 117 of the Companies Act.</li>
                        <li>To pass a resolution authorising the Company Secretary/Director to issue the notice of the general meeting on behalf of the Board of directors of the company.</li>
                    </ul>
                </li>
                <li>Issue notice along with the explanatory statement of the general meeting to each member, each director and the auditors of the company.</li>
                <li>Hold the general meeting and pass the special resolution as per notice of the general meeting.</li>
            </ol>
        </div>
    </div>
</div>
<div class="row bg-light w-100">
    <div class="container-fluid p-5">
        <div class="bg-info  p-3">
            <h5 class="text-left text-white">FORM TO BE FILLED WITH ROC <small>File with ROC within thirty days of passing of the special resolution:</small></h5>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 shadow p-3"><b>Form MGT – 14 : </b>along with a certified true copy of the special resolution passed at the general meeting and the explanatory statement annexed to the notice of the general meeting along with the prescribed filing fee.</div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 shadow p-3"><b>Form INC – 22 : </b>containing notice of change of registered office, along with the filing fee and copy of the special resolution.</div>
        </div>
        <div>
        </div>
    </div>
</div>


<div class="row bg-light w-100">
    <div class="container-fluid p-5">
        <div class="bg-info  p-3">
            <h5 class="text-left text-white">Change of Registered office from one city to another city having different jurisdiction of ROC</h5>
        </div>
        <div class="bg-white p-3 shadow">
            <ol type="1">
                <li class="text-justify">Issue Notice for convening a Board meeting;</li>
                <li class="text-justify">
                    Hold a Board meeting –
                    <ul>
                        <li class="text-justify">To pass a resolution, for shifting the registered office of the company to another place outside the local limits of city, town or village, where it is presently situated;</li>
                        <li class="text-justify">To pass a resolution approving notice of the general meeting along with the explanatory statement which is required to be annexed to the notice of the meeting as per requirement of Section 117 of the Companies Act.</li>
                        <li class="text-justify">To pass a resolution authorising the Company Secretary/Director to issue the notice of the general meeting on behalf of the Board of directors of the company.</li>
                    </ul>
                </li>
                <li class="text-justify">Issue notice along with the explanatory statement of the general meeting to each member, each director and the auditors of the company.</li>
                <li class="text-justify">Hold the general meeting and pass the special resolution as per notice of the general meeting.</li>
                <li class="text-justify">File form MGT-14 to ROC</li>
                <li class="text-justify">The Company shall not less than 30 days before filing any application to RD: Publish a notice in a newspaper of local language and also in a English language</li>
                <li class="text-justify">The company shall file an application to the Regional Director in the prescribed Form INC – 23 for obtaining confirmation from RD.</li>
                <li class="text-justify">After getting confirmation, file copy of order in the prescribed form INC-28 to ROC.</li>
                <li class="text-justify">The Registrar shall register and certify the registration within a period of 30 days from the date of filing of such confirmation</li>
                <li class="text-justify">File Form INC – 22, containing notice of change of registered office, along with the filing fee.</li>
            </ol>
        </div>
    </div>
</div>

<div class="row bg-success w-100">
    <div class="container-fluid p-5">
        <div class="bg-info  p-3">
            <h5 class="text-left text-white">Change of Registered office from one state to another State</h5>
        </div>
        <div class="bg-secondary text-white p-3 shadow">
            <p class="text-justify">Section 13 lays down that a company may, by special resolution, alter the provisions of its memorandum so as to change the place of its registered office from one State to another. The alteration of the provisions of memorandum relating to the change of the place of its registered office from one State to another shall take effect only when it is confirmed by the Central Government on petition.</p>
            <p class="text-justify">A company proposing to shift its registered office from the State where it is presently situated to another State has to follow the following procedure:</p>
            <ol type="1">
                <li class="text-justify">Issue Notice for convening a Board meeting;</li>
                <li class="text-justify">
                    Hold a Board meeting –
                    <ul>
                        <li class="text-justify">To decide about the proposal to shift the registered office of the company to another State;</li>
                        <li class="text-justify">To pass a resolution approving notice of the general meeting along with the explanatory statement which is required to be annexed to the notice of the meeting as per requirement of Section 117 of the Companies Act.</li>
                        <li class="text-justify">To pass a resolution authorising the Company Secretary/Director to issue the notice of the general meeting on behalf of the Board of directors of the company.</li>
                    </ul>
                </li>
                <li class="text-justify">Issue notice along with the explanatory statement of the general meeting to each member, each director and the auditors of the company.</li>
                <li class="text-justify">Hold the general meeting and pass the special resolution as per notice of the general meeting.</li>
                <li class="text-justify">File form MGT-14 to ROC.</li>
                <li class="text-justify">The company shall file a petition to the Regional Director in the prescribed Form INC – 23 and fix date of hearing.</li>
                <li class="text-justify">
                    The Company shall at least 14 days before the date of hearing for inviting objection:
                    <ul>
                        <li class="text-justify">Advertise the application in the Form INC – 26 in a vernacular newspaper in the principal vernacular language in the district in which the registered office of the company is situated, and at least once in English language in an English newspaper circulating in that district;</li>
                        <li class="text-justify">Serve, by registered post with acknowledgement due, individual notice(s), to the effect set out in clause (a) on each debenture-holder and creditor of the company; and</li>
                        <li class="text-justify">Serve, by registered post with acknowledgement due, a notice together with the copy of the application to the Registrar and to the Securities and Exchange Board of India, in the case of listed companies and to the regulatory body, if the company is regulated under any special Act or law for the time being in force.</li>
                    </ul>
                </li>
                <li class="text-justify">Where any objection of any person whose interest is likely to be affected by the proposed application has been received by the applicant, it shall serve a copy thereof to the Central Government on or before the date of hearing.</li>
                <li class="text-justify">Where no objection has been received from any of the parties, who have been duly served, the application may be put up for orders without hearing.</li>
                <li class="text-justify">Before confirming the alteration, the Central Government shall ensure that, with respect to every creditor and debenture holder who, in the opinion of the Central government, is entitled to object to the alteration, and who signifies his objection in the manner directed by the Central government, either his consent to the alteration has been obtained or his debt or claim has been discharged or has determined, or has been secured to the satisfaction of the Central Government.</li>
                <li class="text-justify">The Central Government may make an order confirming the alteration on such terms and conditions, if any, as it thinks fit, and may make such order as to costs as it thinks proper.</li>
                <li class="text-justify">After getting confirmation, file copy of order in the prescribed form INC-28 to ROC within a period of 30 days from the date such order.</li>
                <li class="text-justify">The Registrar shall register and certify the registration within a period of 30 days from the date of filing of such confirmation</li>
                <li class="text-justify">File Form INC – 22, containing notice of change of registered office, along with the filing fee.</li>
            </ol>
        </div>
    </div>
</div>

<div class="row bg-white w-100">
    <div class="container-fluid p-5">
        <div class="bg-info  p-3">
            <h5 class="text-left text-white">FORM TO BE FILLED WITH ROC</h5>
        </div>
        <div class="row text-white text-center p-3 shadow">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 bg-danger p-4 shadow">
                MGT-14
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 p-4 bg-dark shadow">
                INC-23
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 p-4 bg-secondary shadow">
                INC-28
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 p-4 bg-success shadow">
                INC-22
            </div>
        </div>
        <div class="bg-info  p-3">
            <h5 class="text-left text-white">PUBLICATION OF NOTICE IN NEWSPAPER : <small>Company shall, not less than 1 month before filing any application (INC-23)</small></h5>
        </div>
        <ol type="a.">
            <li>Publish a notice at least once vernacular newspaper in the principal vernacular language in the district in which the registered office of the company is situated, and at least once in English language in an English newspaper circulating in that district.</li>
            <li>Individual notice has to be served to each debenture holder, depositor and creditor of the company, clearly indicating the matter of application and stating that any person whose interest is likely to be affected by the proposed alteration of the memorandum may intimate his nature of interest and grounds for opposition to the Regional Director with a copy to the company within 30 days of the date of publication of that notice.</li>
        </ol>

        <div class="bg-info  p-3">
            <h5 class="text-left text-white">REQUIRED DOCUIMENTS</h5>
        </div>
        <div class="row text-white p-3 shadow">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 bg-danger p-4 shadow">
                <h3>MGT-14</h3>
                <ol>
                    <li  class="text-justify">Certified copy of special resolution along with explanatory statement under Section 102.</li>
                    <li class="text-justify">Altered memorandum of association.</li>
                    <li class="text-justify">Minutes of the EGM</li>
                    <li class="text-justify">Optional attachments, if any</li>
                </ol>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 p-4 bg-dark shadow">
                <h3> INC-23</h3>
                <ol>
                    <li class="text-justify">Copy of Board Resolution</li>
                    <li class="text-justify">Copy Of Memorandum and Article of Association</li>
                    <li class="text-justify">Copy of notice of AGM along with Explanatory Statement</li>
                    <li class="text-justify">Copy of Special resolution for change in registered office of the company and alteration of MOA</li>
                    <li class="text-justify">Copy of Minutes of EGM</li>
                    <li class="text-justify">An affidavit verifying the list of creditors signed by the application from the   director stating that no employee shall be retrenched as a consequence of shifting of the registered office.</li>
                    <li class="text-justify">An Affidavit Verifying the application (On Stamp Paper duly notarized)</li>
                    <li class="text-justify">Copy of News Paper Advertisement.</li>
                    <li class="text-justify">Affidavit by Director verifying non-retrenchment of employees.</li>
                    <li class="text-justify">Copy of the latest audited balance sheet and profit and loss account of the company along with auditors’ and directors’ report.</li>
                    <li class="text-justify">Affidavit proving the dispatch and service of notice to the Chief Secretary.</li>
                    <li class="text-justify">Form MGT-14 along with paid challan</li>
                </ol>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 p-4 bg-secondary shadow">
                <h3> INC-28</h3>
                <p  class="text-justify">All documents which have send in INC-23 attached along with certified copy of the order of the Central Government in Form INC-28 to approve the alteration of the memorandum for transfer of registered office of the company with the Registrar of Companies within 30 days from the date of receipt of certified copy of the order.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 p-4 bg-success shadow">
                <h3> INC-22</h3>
                <ol>
                    <li class="text-justify">The registered document of the title of the premises of the registered office in the name of the company; </li>
                    <li class="text-justify">Notarized copy of lease or rent agreement in the name of the company along with a copy of rent paid receipt not older than one month;</li>
                    <li class="text-justify">Copy of Utility bill ( i.e telephone bill, Electricity Bill)</li>
                    <li class="text-justify">Copy of Altered Memorandum of Association</li>
                    <li class="text-justify">A proof that the Company is permitted to use the address as the registered office of the Company if the same is owned by any other entity/ Person (not taken on lease by company)</li>
                    <li class="text-justify">Copy of order of competent authority</li>
                    <li class="text-justify">Optional attachment, if any</li>
                </ol>
            </div>
        </div>
        
    </div>
</div>
<div class="row bg-success p-5">
    <div class="container-fluid  text-white p-3">
        <b>Notes:</b><br />
        <ul>
            <li class="text-justify">Where no objection is received, the RD will put on orders without hearing. The RD may confirm the change by making an order with or without any terms and conditions.   </li>
            <li class="text-justify">If the documents are in order, Registrars will approve the forms and registered office change will be updated in register of Registrar and new Certificate of Incorporation will be issued by the Registrar of the State within 30 days, where the company’s registered office is going to be shifted.</liclass="text-justify">
            <li class="text-justify">Make alteration in the MOA with respect to the state in every copy of Memorandum.</li>
            <li class="text-justify">Each stationery, banner, signboard, bills, invoice etc. should show the new address and necessary advice should be sent to shareholders, debenture holders, and other concerned parties.</li>
        </ul>
        <p class="text-justify">
            WMC is leading consultancy services platform in India, offering a various kind of services like to start a business and manage business such as Incorporation of Company, LLP, Registration of Partnership Firm etc. and trademark filing, Corporate Compliances, tax registration, tax filing and GST registration and their filing.
        </p>
        <p class="text-justify">
            WMC can help you for change of Register office of the Company. The average time taken to draft and file documents for change of Register office is about 5 - 10 working days, subject to government processing time and client document submission. Get a free consultation for change of Register office by scheduling an appointment with a WMC Advisor.
        </p>
    </div>
</div>