
@{
    ViewBag.Title = "COMPOUNDING OF OFFENCE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                    COMPOUNDING OF OFFENCE
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="~/Content/images/Compounding-of-offences.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="text-justify" style="font-size:18px;">
                                <b>Offence : </b>According to Section 3(38) of General Clauses Act, 1897, “Offence” shall mean any act or omission made punishable by any law for the time being in force.
                                <br />
                                <b>Types of Offence : </b> There are two types of Offence: <br />
                                <div class="btn-success p-3">Compoundable </div>
                                <div class="btn-warning p-3">Non-compoundable</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row bg-dark p-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bg-success text-white text-justify shadow p-3">
                <h3>Compoundable</h3>
                <p>Compoundable offences are those offences where, the parties enter into a compromise and agrees to compound offence which are punishable with imprisonment with fine or punishable with imprisonment with fine or imprisonment. </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bg-warning  text-justify shadow p-3">
                <h3>Non-Compoundable</h3>
                <p>Non-compoundable offence is those types of offence where no compromise is allowed. These offences are being an offence punishable with imprisonment only, or punishable with imprisonment and also with fine.</p>
                <p>These offences considered more serious in nature having more penalty and they are in nature of imprisonment and impact not only the victim, but society at large.</p>
            </div>
        </div>
    </div>
</div>

<div class="row bg-success p-5">
    <div class="container-fluid">
        <div class="row bg-secondary text-white">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bg-dark text-white text-justify shadow p-3">
                <h3>Compounding of offense</h3>
                <p>Compounding of offense means to come to a settlement or agreement. In other word, compounding of offence is a process whereby the officers, person or entity committing default and file an application before authority accepting that it has committed an offence and agree to make settlement\ condone.</p>
                <h4>Compounding of Offence under Companies Act 2013<br /><small>Applicable Section: Section 441 of Companies Act-2013</small></h4>
                <p>Any offence punishable under Companies Act 2013 whether committed by a company or any officer thereof may either before or after the institution of any prosecution, be compounded by—</p>
                <ol>
                    <li>the Tribunal; or</li>
                    <li>the Regional Director (where the maximum amount of fine does not exceed 25 lakh rupees) </li>
                </ol>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bg-warning text-dark  text-justify shadow p-3">
                <h3>Non-Compounding of Offence</h3>
                <p>Any offence covered under this sub-section by any company or its officer shall not be compounded if the investigation against such company has been initiated or is pending under this Act.</p>
                <p>Offence punishable with imprisonment only or punishable with imprisonment and also with fine will not be compoundable.</p>
                <p>An offence committed by a company or its officer within a period of three years from the date on which a similar offence committed by it or him which was compounded under this section, will not be compoundable.</p>
            </div>
        </div>
    </div>
</div>
<div class="row bg-white p-5">
    <div class="container-fluid">
        <div class="row bg-secondary text-white text-dark p-3">

            <h3 class="bg-info text-white w-100 p-3">Process for Compounding of offence</h3>
            <div class="text-white shadow p-3 w-100">
                <ol>
                    <li>The compounding application has to be made to ROC by filing e-Form GNL-1 along with annexure to the Registrar.</li>
                    <li>Registrar shall forward the same, together with his comments thereon, to the Tribunal or the Regional Director.</li>
                    <li>Tribunal or the Regional Director will dispose off application after considering the case.</li>
                </ol>
            </div>
            <h3 class="bg-info text-white w-100 p-3">Obligation before or after the institution of prosecution</h3>
            
            <div class="text-white shadow p-3 w-100">
                <p>Where any offence is compounded under this section, whether before or after the institution of any prosecution, an intimation thereof shall be given by the company to the Registrar within seven days from the date on which the offence is so compounded.</p>
            <p>Where the compounding of any offence is made after the institution of any prosecution, such compounding shall be brought by the Registrar in writing, to the notice of the court in which the prosecution is pending and on such notice of the compounding of the offence being given, the company or its officer in relation to whom the offence is so compounded shall be discharged.</p></div>
            <h3 class="bg-info text-white w-100 p-3">Penalty</h3>
            <div class="text-white shadow p-3 w-100">
                <p>Any officer or other employee of the company who fails to comply with any order shall be punishable with imprisonment for a term which may extend to six months, or with fine not exceeding one lakh rupees, or with both</p>
                <p>WMC can help you for compounding of offences. The average time taken to draft and file documents of compounding of offences is about 5 - 8 working days, subject to government processing time and client document submission. Get a free consultation for compounding of offences by scheduling an appointment with a WMC Advisor.</p>
                </div>
            </div>
    </div>
</div>