
@{
    ViewBag.Title = "COMPANY STRIKE OFF";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                    COMPANY STRIKE OFF
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="~/Content/images/FTE.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="text-justify" style="font-size:18px;">
                                The Company come into existence from the date of issue of the Certificate of Incorporation at the time of Incorporation and its name has been entered in the Register of Companies maintained by the ROC.
                            </div>
                            <div class="text-justify" style="font-size:18px;">
                                Once registered, the name of the company cannot be removed from the Register unless it is dissolved by the process of law, either as a result of its winding up or Striking off or upon its amalgamation with another company.
                            </div>
                            <div class="text-justify" style="font-size:18px;">
                                The Companies Act, 2013, provides a Fast Track Exit Option to close the Company, namely FTE striking off from the Register of Companies by the ROC.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row bg-dark p-5 w-100">
    <div class="container-fluid">
        <h3 class="bg-info text-white p-3">FTE Striking Off</h3>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h5 class="bg-info text-white p-3">Modes of Strike Off</h5>
            <div class="btn-success p-3">Striking off the Companies by ROC under Section 248(1) of the Companies Act 2013</div>
            <div class="btn-danger p-3">Striking off the Company on its own under Section 248(2) of the Companies Act 2013</div>
        </div>
    </div>
</div>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row p-5 w-100 ">
        <div class="container-fluid shadow">
            <h4 class="bg-info text-white w-100 p-3">Striking off the Company on its own under Section 248(2) of the Companies Act 2013</h4>
            <p class="text-justify p-3">As per provision of section 248(2) of the companies act, 2013, The Company may, after extinguishing all its liabilities, by a special resolution or consent of seventy-five per cent members in terms of paid-up share capital, file an application in the prescribed manner (STK-2) to the Registrar for removing the name of the company from the register of Companies on all or any of the grounds as specified bellow:</p>
            <ol>
                <li>A company has failed to commence its business within one year of its incorporation.</li>
                <li>A company is not carrying on any business or operation for a period of two immediately preceding financial years and has not made any application within such period for obtaining the status of a dormant company under section 455 or he shall send a notice to the company and all the directors of the company, of his intention to remove the name of the company from the register of companies and requesting them to send their representations along with copies of the relevant documents, if any, within a period of thirty days from the date of the notice.</li>
            </ol>
            <p class="text-justify p-3">and the Registrar shall, on receipt of such application, publish a public notice in the prescribed manner and also in the Official Gazette for the information of the general public.</p>
            <p class="text-justify p-3">At the expiry of the time mentioned in the notice, the Registrar may, unless cause to the contrary is shown by the company, strike off its name from the register of companies, and shall publish notice thereof in the Official Gazette, and on the publication in the Official Gazette of this notice, the company shall stand dissolved.</p>
        </div>
    </div>
    </div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row p-5 w-100">
        <h3 class="bg-info text-white p-3">Required documents for Striking off</h3>
        <ol>
            <li class="text-justify">Indemnity Bond duly notarized by every director in Form STK 3;</li>
            <li class="text-justify">A statement of accounts containing assets and liabilities of the company made up for a day, not more than 30 days before the date of application and certified by a Chartered Accountant;</li>
            <li class="text-justify">An affidavit in Form STK 4 by every director of the company;</li>
            <li class="text-justify">CTC of Special Resolution or consent letter of 75% members; </li>
            <li class="text-justify">In the case of a Company regulated by any other authority, approval of such authority shall also be required;</li>
            <li class="text-justify">A statement with respect to any pending litigations, involving the Company.</li>
        </ol>

    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row bg-secondary text-white p-3 rounded" style="font-size:18px;">
        <p class="text-justify p-3">WMC is leading consultancy services platform in India, offering a various kind of services like to start a business and manage business such as Incorporation of Company, LLP, Registration of Partnership Firm etc. and trademark filing, Corporate Compliances, tax registration, tax filing and GST registration and their filing.</p>
        <p class="text-justify p-3">WMC can help you for strike off the company. The average time taken to draft and file documents related is about 3-5 working days, subject to government processing time and client document submission. Get a free consultation for strike off the company by scheduling an appointment with a WMC Advisor.</p>
    </div>
</div>



