
@{
    ViewBag.Title = "Active Company Tagging Identities and Verification (ACTIVE)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="row p-5">
     <div class="container-fluid">
         <div class="row">
             <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                 <h4 class="text-center bg-info text-white p-3">
                     Active Company Tagging Identities and Verification (ACTIVE)
                 </h4>
                 <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                         <img src="~/Content/images/Form-INC-22A.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-12">
                         <div class="text-justify" style="font-size:18px;">
                             New Rule 25A inserted under the Companies (Incorporations)Rules,2014 That Every company incorporated <b>on or before the 31st December, 2017</b> shall file the particulars of the company and its registered office, in e-Form ACTIVE  (Active Company Tagging Identities and Verification) <b>on or before 25.04.2019</b>
                         </div>
                     </div>
                 </div>
             </div>

             <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                 @Html.Partial("_EnquiryView")
             </div>
         </div>
     </div>
     </div>
    
<div class="clearfix"></div>

<div class="row p-5 bg-secondary text-white">
    <div class="container-fluid p-3 shadow">
        <h3 class="text-center bg-info text-white p-3" >Except</h3>
        <div class="text-justify" style="font-size:18px;">
            <ol>
                <li>Struck off or are under process of striking off  Companies </li>
                <li>The Companies under liquidation or amalgamated or dissolved.</li>
            </ol>
            <p>Provided that any company which has not filed its due financial statements under section 137 or due annual returns under section 92 or both with the Registrar  shall be restricted from filing  e-Form-ACTIVE, unless such company is under management dispute and the Registrar has recorded the same on the register:</p>
            <p>Provided also that no request for recording  the following event based information or changes shall be accepted by the Registrar from such companies marked as “ACTIVE-non-compliant”, unless “ e-Form ACTIVE”  is filed -</p>
            <ol>
                <li>SH-07 (Change in Authorized Capital);</li>
                <li>PAS-03 (Change in Paid-up Capital);</li>
                <li>DIR-12 (Changes in Director except cessation);</li>
                <li>INC-22 (Change in Registered Office);</li>
                <li>INC-28 (Amalgamation, de-merger)</li>
            </ol>
        </div>
    </div>
</div>

<div class="row p-5">
    <div class="container-fluid bg-light p-3 shadow">
            <div class="bg-info text-white">
                <h5 class="text-left bg-info text-white p-3"> Consequences of Non- filing</h5>
            </div>
            <div class="text-justify p-3">
                <ol style="font-size:18px;">
                    <li>The Company shall be marked as <b>“ACTIVE-non-compliant”</b>.</li>
                    <li> Where a company files “e-Form ACTIVE”, on or after 26th April, 2019, the company shall be marked as “ACTIVE Compliant”, on payment of fee of ten thousand rupees.</li>
                  </ol>
                <p class="text-justify p-3">WMC can help you in filing of form <b>Active Company Tagging Identities and Verification</b> of Company. The average time taken to draft and file documents is about 01 - 03 working days, subject to government processing time and client document submission. Get a free consultation for filing of form <b>Active Company Tagging Identities and Verification (INC-22A)</b> by scheduling an appointment with a WMC Advisor. </pclass="text-justify>
        </div>
    </div>
</div>
                