
@{
    ViewBag.Title = "Removal Of Director";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                    Removal Of Director
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="~/Content/images/disqualification-of-directors.jpg" class="img-fluid img-thumbnail" style="min-height:250px; max-height:300px;" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="text-justify" style="font-size:18px;">
                                <b> REMOVAL OF DIRECTOR</b>
                            </div>
                            <div class="text-justify" style="font-size:18px;">
                                Shareholder and National Company law tribunal have power to remove the office of director from the directorship of the company
                            </div>
                        </div>


                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>


<div class="container-fluid  bg-dark text-white p-5">
    <div class="row text-white p-3 rounded" style="font-size:18px;">
        <div class="container-fluid">
            <h3 class="h3 p-3 bg-info text-white">REMOVAL OF DIRECTOR BY SHAREHOLDER</h3>
            <br />
            <p class="text-justify">According to Section 169, a company may, by ordinary resolution, remove a director other than Independent Director before the expiry of the period of his office after giving him a reasonable opportunity of being heard.</p>
            <p class="text-justify">Independent director re-appointed for second term under sub-section (10) of section 149 shall be removed by the company only by passing a special resolution and after giving him a reasonable opportunity of being heard.</p>

        </div>
    </div>
</div>
<div class="container-fluid  bg-light p-5">
    <div class="row p-3 rounded" style="font-size:18px;">
        <div class="container-fluid">
            <h3 class="h3 p-3 bg-info text-white">Procedure for Removal of Director</h3>
            <br />
            <p class="text-justify">The following procedure is required to be adopted for removal of a director:</p>
            <ol class="p-1">
                <li class="text-justify">A special notice from a member of the company proposing an ordinary resolution for removing the director is necessary.</li>
                <li class="text-justify">Send forthwith a copy of the special notice to the director proposed to be removed.</li>
                <li class="text-justify">Decide to call a general meeting through the Board resolution.</li>
                <li class="text-justify">Issue notice of the general meeting in writing at least twenty-one clear days before the date of the meeting informing about the special notice and proposing the ordinary resolution for removal.</li>
                <li class="text-justify">In the notice of the meeting , state the facts of the representation made by the director concerned and also send a copy of the representation to every member of the company to whom notice of the meeting is sent (whether before or after the receipt of the representations by the company).</li>
                <li class="text-justify">If the representation is received too late and it could not be sent to the members, the director concerned may require that the representation shall be read out at the meeting. The director concerned has also the right of being heard at the meeting.</li>
                <li class="text-justify">However, the National Company Law Tribunal on an application of the company or any other person who claims to be aggrieved, on having satisfied, may dispense with the procedure of sending a copy of representation and reading thereof at the meeting if it is being used to secure needless publicity for defamatory matter.</li>
                <li class="text-justify">In case of listed company, forward three copies of notice of the general meeting to the stock exchange(s) where the company is listed.</li>
                <li class="text-justify">Hold the general meeting and pass the proposed resolution by ordinary resolution.</li>
                <li class="text-justify">In case of listed company, forward a copy of the proceedings of the meeting to the stock exchange(s) where the company is listed.</li>
                <li class="text-justify">In case of listed company, notify the change in directors of the company to the stock exchange(s) where the company is listed.</li>
                <li class="text-justify">The company has to file particulars of director in Form DIR – 12 with the Registrar of Companies within thirty days of the removal after paying the requisite fee electronically.</li>
                <li class="text-justify">Ensure that said Form is digitally signed by managing director or manager or secretary of the company.</li>
                <li class="text-justify">In case of listed company, particulars of removal of director should also be given to the stock exchange if the shares of the company are listed.</li>
                <li class="text-justify">The particulars of the director and other aspects of the director have to be entered by the company in the registers maintained under Sections 170 and 189.</li>
                <li class="text-justify">After appointment the director concerned has to inform other companies in which he is director about his appointment.</li>
                <li class="text-justify">Give a general public notice in newspaper regarding removal of the director if it is so warranted for the protection of the company and benefit of the general public.</li>
            </ol>
        </div>
    </div>
</div>
<div class="container-fluid  bg-dark text-white p-5">
    <div class="row p-3 rounded" style="font-size:18px;">
        <div class="container-fluid">
            <p class="text-justify">WMC is the best consultancy services platform in India, offering a various kind of services like to start a business and manage business such as Incorporation of Company, LLP, Registration of Partnership Firm etc. and trademark filing, tax registration, tax filing and GST registration and their filing.</p>
            <p class="text-justify">WMC can help you for appointment, resignation removal of Director in the Company. The average time taken to draft and file documents of appointment, resignation removal of Director is about 3 - 5 working days, subject to government processing time and client document submission. Get a free consultation for appointment, resignation removal of Director by scheduling an appointment with a WMC Advisor.</p>
        </div>
    </div>
</div>
