
@{
    ViewBag.Title = "Resignation Of Director";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h4 class="card-header  text-center bg-info text-white" style="font-size:22px;">
                    Resignation Of Director
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <img src="~/Content/images/Resignation-of-director.jpg" class="img-fluid img-thumbnail" style="min-height:250px; max-height:300px;" />
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <div class="text-justify" style="font-size:18px;">
                                <b> Resignation Of Director</b>
                            </div>
                            <div class="text-justify" style="font-size:18px;">
                                A director may resign from his office by giving a notice in writing to the company and the Board shall on receipt of such notice take note of the same and The company shall within 30 days from the date of receipt of notice of resignation from a director, intimate the registrar in form DIR-12 and post the information on its website if any as provided in<b> Rule 15 of the companies (Appointment and Qualification of Directors) Rules, 2014.</b>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="text-justify m-1" style="font-size:18px;">
                                    The board shall place the facts of such resignation by the director in the Report of Directors laid in immediately following general meeting by the company.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="container-fluid bg-secondary text-white p-5">
    <div class="row">
        <div class="container-fluid">
            <div class="text-justify  m-1" style="font-size:18px;">
                The Director may within 30 days from his resignation, forward to the registrar a copy of his resignation along with reasons for resignation with reasons provided therein in Form DIR-11 along with the fee provided.
            </div>
            <div class="text-justify  m-1" style="font-size:18px;">
                The resignation shall be effective from the date on which the notice is received by the company or the date specified by the Director in the notice whichever is later.
            </div>
            <div class="text-justify  m-1" style="font-size:18px;">
                When all the Directors resign at the same time under section 167, in such case the required number of directors are to be appointed by the promoter or, the Central Government. The Directors so appointed shall hold office till the Directors are appointed by the company in general meeting.
            </div>
        </div>
    </div>
    <br />
    <div class="clearfix"></div>
    <div class="row">
        <div class="container-fluid">
            <h3 class="h3 p-3 bg-info text-white">REQUIRED DOCUMENTS FOR RESIGNATION OF DIRECTOR</h3>
            <br />
            <p class="text-justify">The company shall within 30 days from the date of receipt of notice of resignation from a director, intimate the registrar in form DIR-12 with the following documents:</p>
            <ol>
                <li>Resignation letter</li>
                <li>Evidence of cessation</li>                
            </ol>
            <p class="text-justify">WMC is the leading consultancy services platform in India, offering a various kind of services like to start a business and manage business such as Incorporation of Company, LLP, Registration of Partnership Firm etc. and trademark filing, tax registration, tax filing and GST registration and their filing. </p>
            <p class="text-justify">WMC can help you in compliance related to resignation of director from Company. The average time taken to draft and file documents for resignation of director from Company is about 3 - 5 working days, subject to government processing time and client document submission. Get a free consultation for compliance related to resignation of director by scheduling an appointment with a WMC Advisor.</p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
