
@{
    ViewBag.Title = "Resignation of Statutory Auditor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h3 class="container-fluid  bg-dark text-white p-5">
                    Resignation of Statutory Auditor
                </h3>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="text-justify" style="font-size:18px;">
                                Statutory Auditor resignation is a formal statement of his intention to leave the position of auditor.
                            </div>
                            <div class="text-justify" style="font-size:18px;">
                                An auditor must deliver a written notice of his resignation to the company. The notice must be accompanied by a statement detailing any circumstances connected to the resignation.The auditor may submit this statement to the company.
                            </div>
                            <div class="text-justify" style="font-size:18px;">
                                If the notice of resignation does not contain a statement of circumstances then the notice of resignation is not effective.
                            </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img src="~/Content/images/resignation-thinkstock.jpg" class="img-fluid img-thumbnail" style="min-height:250px; max-height:300px;" />
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="container-fluid  bg-dark text-white p-5">
    <div class="row text-white p-3 rounded" style="font-size:18px;">
        <div class="container-fluid">
            <h3 class="h3 p-3 bg-info text-white">Required documents for ADT-3</h3>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bg-danger text-white shadow p-4 text-center">Copy of resignation letter</div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bg-warning shadow text-dark p-4 text-center">Other documents (if any)</div>
            </div>
            <p class="text-justify">As per section 140 (2) of the Companies Act 2013, The auditor who has resigned from the company shall file within a period of thirty days from the date of resignation, a statement in the  Form ADT-3 with the company and the Registrar.</p>
            <p class="text-justify">WMC is leading consultancy services platform in India, offering a various kind of services like to start a business and manage business such as Incorporation of Company, LLP, Registration of Partnership Firm etc. and trademark filing, Corporate Compliances, tax registration, tax filing and GST registration and their filing.</p>
            <p class="text-justify">WMC can help you for resignation/appointment of Auditor. The average time taken to draft and file documents for resignation/appointment of Auditor is about 2 - 3 working days, subject to government processing time and client document submission. Get a free consultation for resignation/appointment of Auditor by scheduling an appointment with a WMC Advisor.</p>
        </div>
    </div>
</div>
