
@{
    ViewBag.Title = "TRANSFER OF SHARES IN INDIA UNDER COMPANIES ACT, 2013";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5">
    <div class="col-12 card mt-3">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                <h3 class="container-fluid  text-center bg-info text-white p-3">
                    TRANSFER OF SHARES IN INDIA UNDER COMPANIES ACT, 2013
                </h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="~/Content/images/Transfer-of-Shares1.jpg" class="img-fluid img-thumbnail" style="max-height:320px;min-height:300px;" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="text-justify" style="font-size:18px;">
                                Goods have been defined under Section 2(7) of the Sale of Goods Act, 1930, to include every kind of movable property, including stocks, shares, crops, grass, severable objects, etc.
                            </div>
                            <div class="text-justify" style="font-size:18px;">
                                The share is a goods and movable property and also freely transferable except Private Company imposes certain restrictions on transfer of shares in the articles of the company, such restrictions are generally added to protect the rights of one set of investors or the shareholders.
                            </div>
                            
                        </div>
                        

                    </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 float-right">
                @Html.Partial("_EnquiryView")
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row bg-dark text-white p-5">
    <div class="container-fluid bg-secondary p-3 shadow">
        <div class="text-justify" style="font-size:18px;">
            In General parlance, “transfer” takes place when title to the property is transferred from one person to another whereas “transmission” refers to devaluation of title by operation of law. Transmission may takes place either by succession or by testamentary transfer.
        </div>
        <div class="text-justify" style="font-size:18px;">
            Under section 56 of the Companies Act, 2013 a company will register a transfer of securities of the company (which includes shares), only when a proper instrument of transfer as per the format laid down in Form No SH. 4 (when such securities are held in the physical form). The form needs to be duly stamped, with adequate value, dated and executed by or on behalf of the transferor and the transferee.

        </div>
        <div class="text-justify" style="font-size:18px;">
            The transferor or transferee shall send the SH-4 to the company within a period of sixty days from the date of execution, along with the share certificate/certificate relating to the securities. In case there is no such certificate, the application must be sent along with the letter of allotment of securities.
        </div>
    </div>
</div>
<div class="row p-5 bg-light">
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bg-light">
                <h5 class="text-left" style="font-size:21px;">Time Limit for issue of Share Certificate</h5>
                <p>A Company shall take note and deliver share certificates within a period of one month from the date of receipt of the instrument of transfer (SH-4).</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bg-light">
                <h5 class="text-left" style="font-size:21px;">Stamp duty on transfer of shares:</h5>
                <p>As per Section 12 of the Indian Stamp Act, the Transferor or Transferee must pay stamp duty at the rate of Rs. 0.25 for every Rs. 100 of shares. Special adhesive stamps bearing the word “share transfer” shall be used for stamping for share transfer.</p>
            </div>
        </div>
    </div>
    </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-5">
            <div class="row bg-secondary text-white p-3 rounded" style="font-size:18px;">
                <p class="text-justify">WMC is leading consultancy services platform in India, offering a various kind of services like to start a business and manage business such as Incorporation of Company, LLP, Registration of Partnership Firm etc. and trademark filing, Corporate Compliances, tax registration, tax filing and GST registration and their filing.</p>
                <p class="text-justify">WMC can help you for transfer of shares. The average time taken to draft and file documents for transfer of shares is about 2 - 3 working days, subject to government processing time and client document submission. Get a free consultation for transfer of shares by scheduling an appointment with a WMC Advisor.  </p>
            </div>
        </div>



